{% load staticfiles %}
{% include 'base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "css/centerform.css" %}">
{% endblock header %}

<h1 id="pageName">Change password</h1>
<div id="change_password_form">
    <form action="/authentication/change-password/" method="post">
        {% if error_message %}
            <h4 style="color: red;text-align: center">{{ error_message }}</h4>
        {% endif %}
        {% csrf_token %}
        <div class="fieldWrapper">
            <!--<label for="{{ form.current_password.id_for_label }}">Username: </label>-->
            {{ form.current_password }}
        </div>
        <div class="fieldWrapper">
            <!--<label for="{{ form.new_password.id_for_label }}">Password: </label>-->
            {{ form.new_password }}
        </div>
        <div class="fieldWrapper">
            <!--<label for="{{ form.confirm_new_password.id_for_label }}">Password: </label>-->
            {{ form.confirm_new_password}}
        </div>
        <button id="changePasswordButton" class="btn waves-effect waves-light" type="submit" name="action">Change</button>
 </form>
</div>
