{% load staticfiles %}
{% include 'base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "css/authentication.css" %}">
{% endblock header %}

{% block content %}
    <h1 id="pageName">Change password</h1>
    <div id="change_password_form">
        <form action="/authentication/change-password/" method="post">
            {% csrf_token %}
            <p id="error-message">{{ form.current_password.errors }}</p>
            <div class="input-field">
                <label for="{{ form.current_password.id_for_label }}">Current Password</label>
                {{ form.current_password }}
            </div>
            <p id="error-message">{{ form.new_password.errors }}</p>
            <div class="input-field">
                <label for="{{ form.new_password.id_for_label }}">Password</label>
                {{ form.new_password }}
            </div>
            <p id="error-message">{{ form.confirm_new_password.errors }}</p>
            <div class="input-field">
                <label for="{{ form.confirm_new_password.id_for_label }}">Confirm password</label>
                {{ form.confirm_new_password }}
            </div>
            <button id="changePasswordButton" class="btn waves-effect waves-light" type="submit" name="action">Change
            </button>
        </form>
    </div>
{% endblock content %}
