{% load staticfiles %}
{% include 'base.html' %}

{% if mobile %}
    <link rel="stylesheet" type="text/css" href="{% static "css/forgot_password_mobile.css" %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static "css/forgot_password.css" %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static "css/button.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/input.css" %}">

<h1 id="pageName">Forgot password</h1>
<div id="forgotPasswordForm">
    <form action="/authentication/forgot-password/" method="post">
        {% csrf_token %}
        <div class="input-field">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>
        <div class="outerButton"><input id="sendNewPasswordButton" class="button" type="submit"
                                        value="Send new password"/></div>
    </form>
</div>
