{% load staticfiles %}
{% include 'base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "css/authentication.css" %}">
{% endblock header %}

{% block content %}
    <h1 id="pageName">Glemt passord</h1>
    <div id="forgotPasswordForm">
        <form action="/authentication/forgot-password/" method="post">
            {% csrf_token %}
            <p id="error-message">{{ form.email.errors }}</p>
            <div class="input-field">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
            <button id="sendNewPasswordButton" class="btn waves-effect waves-light" type="submit" name="action">Send
            </button>
        </form>
    </div>
{% endblock content %}
