{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static "css/centerform.css" %}">
{% endblock header %}

{% block content %}
    <form action="/authentication/login/" method="post">
        {% csrf_token %}
        {% if error_message %}
            <p id="errorMessage">{{ error_message }}</p>
        {% endif %}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <!--<label for="{{ form.username.id_for_label }}">Username: </label>-->
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.errors }}
            <!--<label for="{{ form.password.id_for_label }}">Password: </label>-->
            {{ form.password }}
        </div>

        <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Logg in</button>
    </form>
    <a id="forgotPasswordLink" href="/authentication/forgot-password">Glemt passord?</a>
{% endblock content %}
