{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static "css/authentication.css" %}">
  <meta http-equiv="refresh" content="3;url=/">
{% endblock header %}

{% block content %}
    <main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <div>
                    <h3 class="center-align" style="font-weight:300;">{{ message }}</h3>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}
