{% load staticfiles %}
{% include 'base.html' %}

{% if mobile %}
    <link rel="stylesheet" type="text/css" href="{% static "css/change_password_mobile.css" %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static "css/change_password.css" %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static "css/button.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/input.css" %}">

<h1 id="pageName">Set a new password</h1>
<div id="change_password_form">
    <form action="/authentication/activate/{{ hash_key }}/" method="post">
        {% if error_message %}
            <h4 style="color: red;text-align: center">{{ error_message }}</h4>
        {% endif %}
        {% csrf_token %}
        <div class="fieldWrapper">
            <!--<label for="{{ form.new_password.id_for_label }}">Password: </label>-->
            {{ form.new_password }}
        </div>
        <div class="fieldWrapper">
            <!--<label for="{{ form.confirm_new_password.id_for_label }}">Password: </label>-->
            {{ form.confirm_new_password}}
        </div>
        <button id="changePasswordButton" class="btn waves-effect waves-light" type="submit" name="action">Change</button>
 </form>
</div>
