{% load staticfiles %}
{% include 'base.html' %}

{% if mobile %}
    <link rel="stylesheet" type="text/css" href="{% static "css/signup_mobile.css" %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static "css/button.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/input.css" %}">

<h1 id="pageName">Sign up</h1>
<div id="signupForm">
    <form action="/authentication/signup/" method="post">
        {% if error_message %}
            <h4 style="color: red;text-align: center">{{ error_message }}</h4>
        {% endif %}
        {% csrf_token %}
        <div class="input-field">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
        </div>
        <div class="input-field">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}">First name</label>
            {{ form.first_name }}
        </div>
        <div class="input-field">
            {{ form.last_name.errors }}
            <label for="{{ form.last_name.id_for_label }}">Last name</label>
            {{ form.last_name }}
        </div>
        <div class="input-field">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>
        <div class="input-field">
            {{ form.new_password.errors }}
            <label for="{{ form.new_password.id_for_label }}">Password: </label>
            {{ form.new_password }}
        </div>
        <div class="input-field">
            {{ form.confirm_new_password.errors }}
            <label for="{{ form.confirm_new_password.id_for_label }}">Confirm Password: </label>
            {{ form.confirm_new_password }}
        </div>

        <button id="signUpButton" class="btn waves-effect waves-light" type="submit" name="action">Sign Up</button>
 </form>
</div>
