{% load staticfiles %}
{% include 'base.html' %}
<div style="width: 1000px; min-height: 300px; margin: 200px auto; margin-bottom: 100px;">
    <div id="chart_div"></div>
</div>
{% include 'footer.html' %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time');
        data.addColumn('number', 'Door');

        data.addRows([
          {% for entry in data %}
              [new Date({{ entry.opened|date:"Y" }}, {{ entry.opened|date:"m" }}, {{ entry.opened|date:"d" }}, {{ entry.opened|time:"H" }}, {{ entry.opened|time:"i" }}, {{ entry.opened|time:"s" }}), 0],
              [new Date({{ entry.opened|date:"Y" }}, {{ entry.opened|date:"m" }}, {{ entry.opened|date:"d" }}, {{ entry.opened|time:"H" }}, {{ entry.opened|time:"i" }}, {{ entry.opened|time:"s" }}), 1],
              [new Date({{ entry.closed|date:"Y" }}, {{ entry.closed|date:"m" }}, {{ entry.closed|date:"d" }}, {{ entry.closed|time:"H" }}, {{ entry.closed|time:"i" }}, {{ entry.closed|time:"s" }}), 1],
              [new Date({{ entry.closed|date:"Y" }}, {{ entry.closed|date:"m" }}, {{ entry.closed|date:"d" }}, {{ entry.closed|time:"H" }}, {{ entry.closed|time:"i" }}, {{ entry.closed|time:"s" }}), 0],
          {% endfor %}
          {% if status.status %}
              [new Date({{ status.datetime|date:"Y" }}, {{ status.datetime|date:"m" }}, {{ status.datetime|date:"d" }}, {{ status.datetime|time:"H" }}, {{ status.datetime|time:"i" }}, {{ status.datetime|time:"s" }}), 0],
              [new Date({{ status.datetime|date:"Y" }}, {{ status.datetime|date:"m" }}, {{ status.datetime|date:"d" }}, {{ status.datetime|time:"H" }}, {{ status.datetime|time:"i" }}, {{ status.datetime|time:"s" }}), 1],
              [new Date({{ now|date:"Y" }}, {{ now|date:"m" }}, {{ now|date:"d" }}, {{ now|time:"H" }}, {{ now|time:"i" }}, {{ now|time:"s" }}), 1]
          {% else %}
              [new Date({{ now|date:"Y" }}, {{ now|date:"m" }}, {{ now|date:"d" }}, {{ now|time:"H" }}, {{ now|time:"i" }}, {{ now|time:"s" }}), 0]
          {% endif %}
        ]);

        var options = {
          hAxis: {
            title: ''//'Time'
          },
          vAxis: {
            title: ''//'Open/Closed'
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        $('text:contains("1.00")').html("Open");
        $('text:contains("0.75")').html("");
        $('text:contains("0.50")').html("");
        $('text:contains("0.25")').html("");
        $('text:contains("0.00")').html("Closed");
    }
</script>
