<h1>Current status:</h1>
{% if status.status %}
    <p>Opened since: {{ status.datetime }}</p>
{% else %}
    <p>Closed since: {{ status.datetime }}</p>
{% endif %}

<h1>Door data:</h1>
{% if opendata_list %}
    {% for opendata in opendata_list %}
        <p>
          Opened: {{ opendata.opened|date:"d/m/Y" }} {{ opendata.opened|time:"H:i:s" }}<br>
          Closed: {{ opendata.closed|date:"d/m/Y" }} {{ opendata.closed|time:"H:i:s" }}<br>
          Time: {{ opendata.total }} seconds
        </p>
    {% endfor %}
{% endif %}
