{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="section hs-green white-text">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>Logg inn</h3>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="card-panel">
			<div class="row center">
				<i class="material-icons large hs-gray-text">account_circle</i>
			</div>
			<form action="" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="input-field col push-s2 pull-s2 s8">
						<p>{{ form.username.errors }}</p>
						{{ form.username }}
						<label for="{{ form.username.id_for_label }}">Brukernavn</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col push-s2 pull-s2 s8">
						<p>{{ form.password.errors }}</p>
						{{ form.password }}
						<label for="{{ form.password.id_for_label }}">Passord</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col push-s2 pull-s2 s8">
						<button id="submit" class="btn btn-large waves-effect waves-light hs-green" type="submit" name="action">Logg inn</button>
						<a class="right" href="/authentication/forgot-password">Glemt passord?</a>
					</div>
					<div class="col push-s2 pull-s2 s8">
						<a class="btn btn-large waves-effect waves-light white-text hs-green" href="{% url 'authentication_feide:login' %}">Logg inn med FEIDE</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
