{% extends "website/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="section hs-green white-text">
    <div class="container">
        <div class="row center-align">
		<h1>OOPS!</h1>
		<h3>404 - Ikke funnet</h3>
        </div>
    </div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p class="flow-text center-align">
					Vi finner dessverre ikke siden du leter etter. :-(<br>
					Men deployment fungerer! :-)
				</p>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}
