<div class="section hs-green">
	<div class="container">
		<div class="row">
			<div class="col s12 white-text center">
				<h5>Hackerspace har opptak!</h5>
				<p>Fra {{ app_start_date }} til {{ app_end_date }} kan du søke om å bli medlem i Hackerspace!<p>
				<a class="btn btn-small white hs-green-text hide-on-med-and-up" href="/opptak/">GÅ TIL OPPTAKSSIDENE</a>
				<a class="btn btn-small white hs-green-text hide-on-small-only" href="/opptak/">Trykk her for å gå til opptakssidene</a>
			</div>
		</div>
	</div>
</div>
