{% load static %}
{% load i18n %}
<div class="section hs-green center">
    <div class="container">
        <div class="row valign-wrapper no-pad-bot">
            {% if perms.userprofile.is_active_member is False %}
                <div class="col s8 m4 l6">
                    <a class="btn-flat waves-effect white black-text left" href="/opptak/">{% trans "Søk Hackerspace" %}</a>
                </div>
                <div class="col s4 m8 l6">
            {% else %}
                <div class="col s12 m12 l12">
            {% endif %}
            <div class="sosial-bilder">
                <a href="https://hackerspace-ntnu.slack.com" target="_blank"><img src="{% static 'website/img/icon/slack_icon.jpg' %}" title="Slack"></a>
                <a href="https://www.facebook.com/hackerspacentnu" target="_blank"><img src="{% static 'website/img/icon/if_facebook_386622.svg' %}" title="Facebook"></a>
                <a href="https://github.com/hackerspace-ntnu/" target="_blank"><img src="{% static 'website/img/icon/if_github_253591.svg' %}" title="GitHub"></a>
                <a href=https://www.instagram.com/hackerspacentnu/ target="_blank"><img src="{% static 'website/img/icon/INSTAGRAM.svg' %}" title="Instagram"></a>
            </div>
        </div>
    </div>
</div>
</div>
