{% extends "website/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="section hs-green white-text">
    <div class="container">
        <div class="row center">
          <h3>Om Hackerspace NTNU</h3>
        </div>
    </div>
</div>
<div class="parallax-container">
	<div class="parallax">
		<img class="darken-90 responsive-img" src="{% static 'website/img/group_photos/Halloween-workshop.jpg' %}" alt="Hackerspace Logo" />
        </div>
</div>
<div class="section hs-gray white-text">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>Hva er Hackerspace?</h3>
				<p class="flow-text">Hackerspace NTNU er en studentdrevet organisasjon åpen for alle studenter. Vi tilbyr en kreativ arena der studenter fra forskjellige linjer kan få hjelp til å realisere idéene sine i et engasjert og inkluderende miljø. Hos oss finner du ny teknologi til din disposisjon, blant annet droner, 3D-printere og Virtual Reality-utstyr.</p>
				<p class="flow-text">Om du er en førsteklassing som trenger hjelp med ditt første Arduino-prosjekt eller en fjerdeklassing som ønsker å lage en 3D-modell av Trondheim, kan vi stille med både utstyr og kompetanse. Vi holder også regelmessig kurs for både nybegynnere og viderekomne innen mange spennende emner.</p>
				<p class="flow-text">Kom innom for å se hva vi driver med og slå av en prat. <br>Du finner oss i Drivhuset på NTNU Gløshaugen i IT-byggets sydfløy.</p>
				<a class="btn btn-flat btn-large waves hs-green white-text modal-trigger" href="#mapModal"><i class="material-icons small">map</i> Vis kart</a>
			</div>
		</div>
	</div>
</div>
<div class="section hs-green">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3 class="white-text">Våre grupper</h3>
			</div>
		</div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax vrp">
		<img class="darken-40 responsive-img" src="{% static 'website/img/group_photos/Dev.jpg' %}" alt="Hackerspace Logo" />
        </div>
	<div class="opaque-footer">
		<span class="white-text img-span-par parall-text-shadow caption">DevOps (V til H): Navn, Navn, Navn, Navn, Navn, Navn</span>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s8">
				<h4>DevOps</h4>
				<p class="flow-text">Hovedoppgaven til DevOps er å utvikle og drifte hackerspace sin nettside, men vi jobber også med ting som dør-apiet og registreringsløsningen vår for utlån av utstyr.  Dør-apiet er koblet opp mot døra til hackerspace og statusen vises både på nettsida og en android widget.</p>
			</div>
			<div class="col s4">
				<h4>Kontakt</h4>
				<p class="flow-text hs-green-text"><span class="hs-gray-text">Leder: </span><br>Edvard Ødegaard</p>
				<p class="flow-text hs-green-text"><span class="hs-gray-text">Nestleder: </span><br>Jonatan Engstad (Nestleder)</p>
				<p class="flow-text hs-green-text">Felles mail</p>
			</div>
		</div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax erp">
		<img class="responsive-img darken-40"src="{% static 'website/img/group_photos/VR.jpg' %}">
        </div>
	<div class="opaque-footer valign-wrapper">
		<span class="white-text img-span-par parall-text-shadow caption">VR (V til H): Navn, Navn, Navn, Navn, Navn, Navn</span>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section">
					<h4>Prosjekt VR</h4>
					<p class="flow-text">Hovedoppgaven til DevOps er å utvikle og drifte hackerspace sin nettside, men vi jobber også med ting som dør-apiet og registreringsløsningen vår for utlån av utstyr.  Dør-apiet er koblet opp mot døra til hackerspace og statusen vises både på nettsida og en android widget.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax labp">
		<img class="responsive-img darken-40"src="{% static 'website/img/group_photos/VR.jpg' %}">
        </div>
	<div class="opaque-footer valign-wrapper">
		<span class="white-text img-span-par parall-text-shadow caption">VR (V til H): Navn, Navn, Navn, Navn, Navn, Navn</span>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section">
					<h4>Prosjekt VR</h4>
					<p class="flow-text">Hovedoppgaven til DevOps er å utvikle og drifte hackerspace sin nettside, men vi jobber også med ting som dør-apiet og registreringsløsningen vår for utlån av utstyr.  Dør-apiet er koblet opp mot døra til hackerspace og statusen vises både på nettsida og en android widget.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax prp">
		<img class="responsive-img darken-40"src="{% static 'website/img/group_photos/VR.jpg' %}">
        </div>
	<div class="opaque-footer valign-wrapper">
		<span class="white-text img-span-par parall-text-shadow caption">VR (V til H): Navn, Navn, Navn, Navn, Navn, Navn</span>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section">
					<h4>LabOps</h4>
					<p class="flow-text">Hovedoppgaven til DevOps er å utvikle og drifte hackerspace sin nettside, men vi jobber også med ting som dør-apiet og registreringsløsningen vår for utlån av utstyr.  Dør-apiet er koblet opp mot døra til hackerspace og statusen vises både på nettsida og en android widget.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section hs-green white-text">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>Opptak</h3>
				<p class="flow-text">
					Vi har opptak for medlemskap i Hackerspace én gang i året på høsten ved semesterstart. Både ferske førsteklassinger og erfarene studenter er velkommen til å søke. Opptak blir publisert og informert om på våre hjemmesider.
				</p>
			</div>
		</div>
	</div>
</div>
<script>
	var parallax = document.querySelector('.parallax');
	var devp = document.querySelector('.devp');
	var vrp = document.querySelector('.vrp');
	var labp = document.querySelector('.labp');
	var erp = document.querySelector('.erp');
	var prp = document.querySelector('.prp');
	var instance = M.Parallax.init(parallax);
	var instance = M.Parallax.init(devp);
	var instance = M.Parallax.init(vrp);
	var instance = M.Parallax.init(labp);
	var instance = M.Parallax.init(erp);
	var instance = M.Parallax.init(prp);
</script>
{% endblock content %}
