{% extends "website/base.html" %}
{% load static %}

{% block content %}
    {% translate "Administratorpanel" as trans_admin %}
    {% include "website/page_overview/content_title.html" with title=trans_admin %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <table>
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th>Kortnummer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profile in profiles %}
                                <tr>
                                    <td>{{ profile.user.get_full_name }}</td>
                                    <td>{{ profile.access_card }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}
