{% load staticfiles %}
<footer class="page-footer hs-gray">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l4">
				<h5>Hackerspace</h5>
				<div class="divider"></div>
				<p>Velkommen innom <a href="#mapModal" class="modal-trigger">Drivhuset</a> på NTNU Gløshaugen for en kopp kaffe!</p>
				<p> IT-Bygget, Sydfløy<br>
					Sem Sælands vei 7<br>
					7034 Trondheim
				</p>
				<p>For øvrige henvendelser kan du også ta kontakt via <a class="white-text" href="mailto:hackerspace-styret@idi.ntnu.no">hackerspace-styret@idi.ntnu.no</a>
			</div>
			<div class="col m6 l4 hide-on-small-only">
				<h5>Lenker</h5>
				<div class="divider"></div>
				<ul>
					<li><a href="/news/">Nyheter</a></li>
					<li><a href="/events/">Arrangementer</a></li>
					<li><a href="/about/">Om Oss</a></li>
				</ul>
			</div>
			<div class="col m6 l4 hide-on-small-only">
				<h5>Verktøy</h5>
				<div class="divider"></div>
						<ul>
							{% if not request.user.is_authenticated %}
                                <li><a href="/authentication/login">Logg inn</a></li>
                            {% endif %}
				<p>Har du funnet en <i class="material-icons">bug_report</i>?
					<br>Send gjerne en <a href="mailto:hackerspace-dev@idi.ntnu.no">mail</a> til DevOps eller bruk #dev-public kanalen på Slack!</p>
						</ul>
					</div>
				</div>
			</div>
	<div class="divider"></div>
	<br>
	<div class="footer-copyright hs-gray center">
		<div class="container white-text">
			<div class="row">
				<div class="col s12">
					<a href="https://www.ntnu.no/idi/" target="_blank"><img style="width: 300px;" src="{% static 'website/img/logo/IDI_logo_white.svg' %}"></a>
					<a href="https://www.ntnu.no/ie/kid/" target="_blank"><img style="width: 300px;" src="{% static 'website/img/logo/KiD_logo_white.png' %}"></a>
				</div>
			</div>
			<p>© {% now "Y" %} Hackerspace NTNU</p>
		</div>
	</div>
</footer>
