{% load staticfiles %}
{% load loginmodal %}
<header>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper hs-gray">
	<div class="container">
				<!-- To logoer for å styre margin så det ser pent ut og responsivt -->
				<a href="/" class="brand-logo hide-on-med-and-down"><img src="{% static "website/img/logo/Hakcerspace_huge.png" %}"/></a>
				<a href="/" class="brand-logo tab-img hide-on-large-only hide-on-small-only"><img src="{% static "website/img/logo/Hakcerspace_huge.png" %}"/></a>
				<a href="/" class="brand-logo mobile-img hide-on-med-and-up show-on-small"><img src="{% static "website/img/logo/Hakcerspace_huge.png" %}"/></a>
				<!-- Hamburger -->
				<a href="#" data-target="mobile-sidebar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<!-- Dropdown user list for desktop-->
				<ul id="userdropdown" class="dropdown-content">
					{% if user.is_authenticated %}
					<li><a href="{% url 'userprofile:profile' %}">Profil</a></li>
					<li><a href="/authentication/change-password">Bytt Passord</a></li>
					<li><a href="/authentication/logout">Logg Ut</a></li>
					{% else %}
					<li><a href="/authentication/signup">Registrer</a></li>
					<li><a class="modal-trigger" href="#loginModal">Logg Inn</a></li>
					{% endif %}
				</ul>
				<!-- Hovedmeny -->
				<ul class="right hide-on-med-and-down">
					<li id="news"><a href="/news/">NYHETER</a></li>
					<li id="events"><a href="/events/">ARRANGEMENTER</a></li>
					<li><a class="dropdown-trigger-resources" href="#" data-target="resourcedropdown"><i class="material-icons right">apps</i></a>
						<!-- Dropdown for resurser -->
						<ul id="resourcedropdown" class="dropdown-content">
							<li><a href="/wiki">WIKI</a></li>
							<li><a href="{% url 'inventory:index' %}">INVENTAR</a></li>
							<li><a href="/about">OM OSS</a></li>
							<li><a href="/showcase/">SHOWCASE</a></li>
						</ul>
					</li>
					<li class="tooltipped" data-tooltip="Trykk meg for å se hvor vi befinner oss">
						<a class="modal-trigger" href="#mapModal"><i class="material-icons">map</i></a>
					</li>
					{% if user.is_authenticated %}
					<li><a class="dropdown-trigger-user valign-wrapper" href="{% url 'userprofile:profile' %}" data-target="userdropdown"> <img class="center circle" src="{{ user.profile.image.url }}"></a></li>
					{% else %}
					<li><a class="dropdown-trigger-user" href="/authentication/login/" data-target="userdropdown"><i class="material-icons">account_circle</i></a> </li>
					{% endif %}
				</ul>
				<!-- Mobil dynamisk meny -->
				<ul class="sidenav" id="mobile-sidebar">
					<li>
						<div class="user-view center no-pad-bot">
							<div class="background hs-gray"> </div>
							<!-- TODO: Make centered while respecting circle class -->
							{% if user.is_authenticated %}
							<a class="center" href="{% url 'userprofile:profile' %}"><img class="circle" src="{{ user.profile.image.url }}"/></a>
							<a href="#"><span class="white-text"></span></a>
							{% else %}
							<!-- TODO: Fix styling of image -->
							<a href="/"><img style="width:128px; height:164" src="{% static "website/img/logo/Icon_green_transparent.png" %}"></a>
							{% endif %}
						</div>
					</li>
					<li class="no-pad-bot"><a class="subheader hs-green">Meny</a></li>
					<li><a href="/news/">Nyheter</a></li>
					<li><a href="/events/">Arrangementer</a></li>
					<li class="no-pad-bot"><a class="subheader hs-green"></a></li>
					<li><a href="/wiki">Wiki</a></li>
					<li><a href="/about">Om Oss</a></li>
					<li><a href="{% url 'inventory:index' %}">Inventar</a></li>
					<li class="no-pad-bot"><a class="subheader hs-green"></a></li>
					{% if user.is_authenticated %}
					<li><a href="#">Profil</a></li>
					<li><a href="/authentication/change-password">Bytt Passord</a></li>
					<li><a href="/authentication/logout">Logg Ut</a></li>
					{% else %}
					<li><a href="/authentication/signup">Registrer</a></li>
					<li><a href="/authentication/login">Logg inn</a></li>
					{% endif %}
				</ul>
			</div>
			</div>
		</nav>
	</div>
</header>
<div id="loginModal" class="modal">
	<div class="modal-content">
		{% LoginModal %}
	</div>
</div>
<div id="mapModal" class="modal bottom-sheet">
	<div class="modal-content">
		<p>
			<div class="video-container">
			</div>
		</p>
	</div>
</div>
<script>
	var elem = document.querySelector('.tooltipped');
	var instance = M.Tooltip.init(elem);

	var sideNavElem = document.querySelector('.sidenav');
	var instance = M.Sidenav.init(sideNavElem);

	var dropdown_resources = document.querySelector('.dropdown-trigger-resources');
	var dropdown_user = document.querySelector('.dropdown-trigger-user');

	var instance = M.Dropdown.init(dropdown_resources, {
		hover: true,
		coverTrigger: false
	});
	var instance = M.Dropdown.init(dropdown_user, {
		hover: true,
		coverTrigger: false
	});

	var loginModal = document.querySelector('#loginModal');
	var instance = M.Modal.init(loginModal);

	var mapModal = document.querySelector('#mapModal');
	var instance = M.Modal.init(mapModal);

	switch(window.location.pathname) {
		case '/news/':
			var element = document.getElementById("news");
			element.classList.add("active");
			break;
		case '/events/':
			var element = document.getElementById("events");
			element.classList.add("active");
			break;
	}
</script>
