{% load static %}
{% if request.user.is_authenticated and not request.user.profile.has_accepted_most_recent_tos %}
	<!-- Checks if path should display TOS prompt. Slice check disables TOS display for all tos-related pages -->
	{% if request.path != "/tos/returning-user/" and request.path|slice:":5" != "/tos/" %}
		<meta http-equiv="refresh" content="1;url=/tos/returning-user/">
	{% endif %}
{% endif %}
<header>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper hs-gray">
				<div class="container">
					<!-- Hamburger -->
					<a href="#" data-target="mobile-sidebar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<!-- Tre logoer for å styre margin så det ser pent ut og responsivt -->
					<a href="/" class="brand-logo hide-on-med-and-down valign-wrapper">
						<img class="brand-logo-coglight" src="{{ coglight_url }}"/>
						<img class="brand-logo-text" src="{{ logo_url }}"/>
					</a>
					<a href="/" class="brand-logo tab-img hide-on-large-only hide-on-small-only valign-wrapper">
						<img class="brand-logo-coglight" src="{{ coglight_url }}"/>
						<img class="brand-logo-text" src="{{ logo_url }}"/>
					</a>
					<a href="/" class="brand-logo mobile-img hide-on-med-and-up show-on-small valign-wrapper">
						<img class="brand-logo-text" src="{{ logo_url }}"/>
					</a>
					<!-- Hovedmeny -->
					<ul class="right hide-on-med-and-down">
						<li id="news"><a class="waves-effect" href="{% url 'news:all' %}">Nyheter</a></li>
						<li id="events"><a class="waves-effect" href="{% url 'events:all' %}">Arrangementer</a></li>
						<li id="resources"><a class="trigger-resources" href="#" data-target="resourcedropdown"><i class="material-icons">apps</i></a></li>
						{% if user.is_authenticated %}
								{% if user.profile.image %}
								<li>
									<a class="dropdown-trigger-user valign-wrapper" href="{% url 'userprofile:profile' %}" data-target="userdropdown">
										<img class="center circle" src="{{ user.profile.image.url }}" />
									</a>
								</li>
								{% else %}
								<li>
									<a class="dropdown-trigger-user valign-wrapper" href="{% url 'userprofile:profile' %}" data-target="userdropdown">
										<img class="center circle" src="{% static 'website/img/misc/default.png' %}" />
									</a>
								</li>
								{% endif %}
						{% else %}
						<li><a class="dropdown-trigger-user" href="{% url 'social:begin' 'dataporten_feide' %}?next={{ request.path }}" data-target="userdropdown"><i class="material-icons">account_circle</i></a> </li>
						{% endif %}
					</ul>
					<!-- Mobil dynamisk meny -->
				<ul class="sidenav" id="mobile-sidebar">
					<li>
						<div class="user-view no-pad-bot">
							<div class="background hs-gray"></div>
							{% if user.is_authenticated %}
							<a href="{% url 'userprofile:profile' %}">
								{% if user.profile.image %}
								<img class="circle" src="{{ user.profile.image.url }}"/>
								{% else %}
								<img class="circle" src="{% static 'website/img/misc/default.png' %}"/>
								{% endif %}
							</a>
							<a href="#"><span class="white-text name">{{ user.get_full_name }}</span></a>
							<a href="#"><span class="white-text email">{{ user.email }}</span></a>
							<a href="#"><span class="white-text"></span></a>
							{% else %}
							<!-- TODO: Fix styling of image -->
							<a href="/"><img style="width:128px; height:164" src="{% static "website/img/logo/Icon_green_transparent.png" %}"></a>
							{% endif %}
						</div>
					</li>
					<li><a class="waves-effect" href="/">Hjem</a></li>
					<li><a class="waves-effect" href="{% url 'news:all' %}">Nyheter</a></li>
					<li><a class="waves-effect" href="{% url 'events:all' %}">Arrangementer</a></li>
					<li><a class="waves-effect" href="{% url 'member-list' %}">Medlemmer</a></li>
					<li><a class="waves-effect" href="{% url 'watchlist:vaktliste' %}">Vaktliste</a></li>
					<li><a class="waves-effect" href="{% url 'inventory:inventory' %}">Lager</a></li>
					{% if user.is_authenticated and perms.userprofile.is_active_member %}
					<li><a class="waves-effect" href="{% url 'intranet' %}">Internportal</a></li>
					{% endif %}
					<li><a class="waves-effect" href="{% url 'reservations:queue_list' %}">Reservasjoner</a></li>
					<li><a class="waves-effect" href="{% url 'rules' %}">Regler</a></li>
					<li><a class="waves-effect" href="{% url 'application:application_info' %}">Opptak</a></li>
					<li><a class="waves-effect" href="{% url 'projectarchive:Article_List' %}">Prosjektarkiv</a></li>
					<li><a class="waves-effect" href="{% url 'about' %}">Om oss</a></li>

					<li><div class="divider"></div></li>
					{% if user.is_authenticated %}
					<li><a class="waves-effect" href="{% url 'auth:logout' %}">Logg ut</a></li>
					{% else %}
					<li><a class="waves-effect" href="{% url 'social:begin' 'dataporten_feide' %}?next={{ request.path }}">Logg inn</a></li>
					{% endif %}
					<!-- Dropdown user list for desktop-->
					<ul id="userdropdown" class="dropdown-content">
						{% if user.is_authenticated %}
						<li><a href="{% url 'userprofile:profile' %}">Profil</a></li>
						<li><a href="{% url 'auth:logout' %}">Logg ut</a></li>
						{% else %}
						<li><a class="modal-trigger" href="{% url 'social:begin' 'dataporten_feide' %}?next={{ request.path }}">Logg inn</a></li>
						{% endif %}
					</ul>
					<!-- Dropdown for ressurser -->
					<ul id="resourcedropdown" class="dropdown-content">
						<li class="tooltipped" data-position="left" data-tooltip="Se hvor vi befinner oss">
							<a class="modal-trigger waves-effect hs-green-text" target="_blank" href="{{ mazemap_link }}">Kart</a>
						</li>
						<li class="tooltipped" data-position="left" data-tooltip="Se liste over medlemmer">
							<a href="{% url 'member-list' %}">Medlemmer</a>
						</li>
						<li class="tooltipped" data-position="left" data-tooltip="Se vaktlista vår">
							<a class="waves-effect" href="{% url 'watchlist:vaktliste' %}">Vaktliste</a>
						</li>
						<li class="tooltipped" data-position="left" data-tooltip="Se lagerbeholdningen vår">
							<a href="{% url 'inventory:inventory' %}">Lager</a>
						</li>
						<li class="tooltipped" data-position="left" data-tooltip="Se utstyr og reserver tid">
							<a href="{% url 'reservations:queue_list' %}">Reservasjoner</a>
						</li>
						<li class="tooltipped" data-position="left" data-tooltip="Se regler">
							<a href="{% url 'rules' %}">Regler</a>
						</li>
						<li>
							<a class="waves-effect" href="{% url 'application:application_info' %}">Opptak</a>
						</li>
						<li class="tooltipped" data-position="left" data-tooltip="Les om våres tidligere prosjekter her">
							<a href="{% url 'projectarchive:Article_List' %}">Prosjektarkiv</a>
						</li>
						<li class="tooltipped" data-position="left" data-tooltip="Les om vår organisasjon og grupper her">
							<a href="{% url 'about' %}">Om oss</a>
						</li>
						{% if user.is_authenticated and perms.userprofile.is_active_member %}
						<li class="tooltipped" data-position="left" data-tooltip="Dashbord for medlemmer av Hackerspace">
							<a href="{% url 'intranet' %}">Internportal</a>
						</li>
						{% endif %}
					</ul>
				</ul>
			</div>
			</div>
		</nav>
	</div>
<script>


	var dropdown_resources = document.querySelector('.trigger-resources');
	var dropdown_user = document.querySelector('.dropdown-trigger-user');

	var instance = M.Dropdown.init(dropdown_user, {
		hover: true,
		coverTrigger: false,
		constrainWidth: false
	});
	var instance = M.Dropdown.init(dropdown_resources, {
		hover: true,
		coverTrigger: false,
		constrainWidth: false
	});
	switch(window.location.pathname) {
		case '/news/':
			var element = document.getElementById("news");
			element.classList.add("active");
			break;
		case '/events/':
			var element = document.getElementById("events");
			element.classList.add("active");
			break;
	}
</script>
</header>
