{% extends "website/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="section hs-gray hide-on-med-and-up">
	<div class="row center">
		<br>
		<img style="width:100px; height:150px;" src=" {% static 'website/img/logo/Icon_green_transparent.png' %} ">
	</div>
</div>
<div class="section hide-on-small-only no-pad hs-green">
	<div class="container">
	<div class="slider">
		<div class="fixed-text center">
			<img id="indexLogo" src="{% static 'website/img/logo/Icon_green_transparent.png' %}">
			<div class=" white-text">
				<h1 class="text-shadow">Hackerspace</h1>
				<h4 class="text-shadow">En kreativ arena for å realisere dine ideer</h4>
			</div>
		</div>
		<ul class="slides">
			<li class="tinter">
				<img src="{% static 'website/img/people_and_tech/spill2.jpg' %}">
			</li>
			<li class="tinter">
				<img src="{% static 'website/img/people_and_tech/briller.jpg' %}">
			</li>
			<li class="tinter">
				<img src="{% static 'website/img/people_and_tech/cover7.jpg' %}">
			</li>
		</ul>
	</div>
</div>
</div>
<div class="section hs-green">
	<div class="container">
	<div class="row valign-wrapper no-pad-bot no-pad">
		<div class="col s4">
			<i class="material-icons white-text small">free_breakfast</i>
			<span class="white-text">420 kanner kaffe drukket</span>
		</div>
		<div class="col s4">
			<i class="material-icons white-text small">mood</i>
			<span class="white-text">10 personer har ringt på vår dørklokke</span>
		</div>
		<div class="col s4">
			<i class="material-icons white-text small">event</i>
			<span class="white-text">5 arrangementer arrangert</span>
		</div>
	</div>
</div>
</div>
<div class="section hs-gray">
	<div class="container">
		<div class="row">
			<div class="col s6 white-text">
				<p class="flow-text">Hackerspace NTNU er en studentdrevet organisasjon åpen for alle studenter.</p>
				<p class="flow-text">Hos oss finner du ny teknologi til din disposisjon, blant annet droner, 3D-printere og Virtual Reality-utstyr.</p>
				<a class="btn-flat btn-large hs-green white-text" href="/about/">Les mer her</a>
				<p class="flow-text">Om du lurer på noe, har et prosjekt du ønsker hjelp med, eller bare vil slå av en prat, tar vi deg varmt imot på <a class="modal-trigger hs-green-text" href="#mapModal">vårt kontor</a> og slack-kanal.</p>
				<ul class="sosial-bilder">
					<a href="https://hackerspace-ntnu.slack.com" target="_blank"><img src="{% static 'website/img/icon/slack_icon.png' %}" title="Slack"></a>
					<a href="https://www.facebook.com/hackerspacentnu" target="_blank"><img src="{% static 'website/img/icon/if_facebook_386622.svg' %}" title="Facebook"></a>
					<a href="https://github.com/hackerspace-ntnu/" target="_blank"><img src="{% static 'website/img/icon/if_github_253591.svg' %}" title="GitHub"></a>
					<a href=https://www.instagram.com/hackerspacentnu/ target="_blank"><img src="{% static 'website/img/icon/INSTAGRAM.svg' %}" title="Instagram"></a>
				</ul>

			</div>
			<div class="col s6">
				<div class="row">
					<div class="col s12 x12">
						<ul class="collection with-header z-depth-1">
							<li class="collection-header">
								<div>
									<p class="flow-text">Siste nytt <i class="material-icons hs-green-text">new_releases</i></p>
								</div>
							</li>
							{% for article in article_list %}
							<li class="collection-item">
								<a href="/news/{{ article.id }}">{{ article.title }}</a>
								<span class="secondary-content" href="#!">{{ article.pub_date|date:"d.m.Y" }}</span>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col s12 xl12">
						<ul class="collection with-header z-depth-1">
							<li class="collection-header">
								<p class="flow-text">Siste arrangementer <i class="material-icons hs-green-text">event</i></p>
							</li>
							{% for event in event_list reversed %}
							<li class="collection-item">
								<a href="/events/{{ event.id}}" class="title">{{ event.title }}</a>
								<span class="secondary-content" href="#!">{{ event.time_start|date:"d.m.Y" }}</span>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section hs-green">
	<div class="container">
		<h4 class="white-text">Våre prosjekter</h4>
		<br>
		<div class="row valign-wrapper">
			<div class="col s4">
				<div class="card large hoverable">
					<div class="card-image">
						<img src="{% static 'website/img/people_and_tech/briller.jpg' %}">
						<span class="card-title">Prosjekter</span>
					</div>
					<div class="card-content">
						<p>Har du en kul idé? Ta en titt på vår prosjektside for å se hva våre medlemmer holder på med!</p>
					</div>
					<div class="card-action">
						<a href="#">Les mer</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card large hoverable">
					<div class="card-image">
						<img src="{% static 'website/img/people_and_tech/cover7.jpg' %}">
						<span class="card-title">Escape Room</span>
					</div>
					<div class="card-content">
						<p>Er du lei av at de kule eventyrene kun eksisterer i digital form? Dersom du vil dra på eventyr i virkeligheten, kan du komme innom vårt Escape Room</p>
					</div>
					<div class="card-action">
						<a href="#">Les mer</a>
					</div>
				</div>
			</div>
			<div class="col s4">
				<div class="card large hoverable">
					<div class="card-image">
						<img src="{% static 'website/img/people_and_tech/spill2.jpg' %}">
						<span class="card-title">Virtual Reality</span>
					</div>
					<div class="card-content">
						<p>Hackerspace har utviklet et eget Virtual Reality spill! Prosjektgruppa for VR driver med dette.</p>
					</div>
					<div class="card-action">
						<a href="#">This is a link</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section hs-green">
	<div class="container">
	</div>
</div>

<div class="section hs-green">
	<div class="container">
		<div class="row">
			<div class="col s12  white-text">
				<h4>Ønsker du å komme i kontakt med oss?</h4>
				<p class="flow-text">Om du lurer på noe, har et prosjekt du ønsker hjelp med, eller bare vil slå av en prat, tar vi deg varmt imot på <a class="modal-trigger hs-gray-text" href="#mapModal">vårt kontor</a> og slack-kanal. Du kan også følge vår aktivitet på sosiale medier.</p>
				<ul class="sosial-bilder">
					<a href="https://hackerspace-ntnu.slack.com" target="_blank"><img src="{% static 'website/img/icon/slack_icon.png' %}" title="Slack"></a>
					<a href="https://www.facebook.com/hackerspacentnu" target="_blank"><img src="{% static 'website/img/icon/if_facebook_386622.svg' %}" title="Facebook"></a>
					<a href="https://github.com/hackerspace-ntnu/" target="_blank"><img src="{% static 'website/img/icon/if_github_253591.svg' %}" title="GitHub"></a>
					<a href=https://www.instagram.com/hackerspacentnu/ target="_blank"><img src="{% static 'website/img/icon/INSTAGRAM.svg' %}" title="Instagram"></a>
				</ul>
				<p class="flow-text">For øvrige henvendelser kan du også ta kontakt via <a class="white-text" href="mailto:hackerspace-styret@idi.ntnu.no">hackerspace-styret@idi.ntnu.no</a>
			</div>
		</div>
	</div>
</div>
<script>
var elem = document.querySelector('.slider');
var slideshow = M.Slider.init(elem, {
	indicators: false,
	height: 750,
	duration:2000
})

setInterval(function(){
	slideshow.next()}, 6000)

</script>
{% endblock content %}
