{% extends "website/base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block content %}
{% if is_application %}
{% include 'website/_application_banner.html' %}
{% endif %}
<div class="section hs-gray hide-on-med-and-up">
	<div class="row center valign-wrapper no-pad-bot">
		<div class="col s12">
		<img style="width:100px; height:150px;" src=" {% static 'website/img/logo/Icon_green_transparent.png' %} ">
		</div>
	</div>
</div>
<div class="section hide-on-small-only no-pad hs-gray">
	<div class="slider">
		<div class="container">
			<ul class="slides hs-gray">
				<li class="tinter">
					<img src="{% static 'website/img/people_and_tech/briller.jpg' %}">
					<div class="caption center-align">
						<h4>Har du en skaper i magen?</h4>
						<p>Vi disponerer nødvendig utstyr, lokaler og ikke minst kunnskap for å bistå i ditt neste prosjekt.</p>
					</div>
				</li>
				<li class="tinter">
					<img src="{% static 'website/img/people_and_tech/spill2.jpg' %}">
					<div class="caption center-align">
						<h4>Nysgjerrig på VR?</h4>
						<p>Uansett om du bare har lyst til å teste det ut, eller er en veteran på VR-utvikling, har vi både utstyr og kompetanse innenfor Virtual Reality på Hackerspace.</p>
					</div>
				</li>
				<li class="tinter">
					<img src="{% static 'website/img/people_and_tech/cover7.jpg' %}">
					<div class="caption center-align">
						<h4>Kreativt, innovativt og ikke minst sosialt</h4>
						<p>Hackerspace tilbyr en arena for prosjekter, enten det er IoT-dingser, programvare, 3D-printing, eller andre kule ting.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{% include "website/_social_buttons.html" %}
<div class="section hs-gray">
	<div class="container">
		<div class="row">
			<div class="col s12 l6 white-text">
				<h4>Hvem er vi?</h4>
				<p>Hackerspace NTNU er en studentdrevet organisasjon åpen for alle studenter uavhengig av studieretning.</p>
				<p>Hos oss finner du ny teknologi til din disposisjon, blant annet droner, 3D-printere og Virtual Reality-utstyr.</p><p>Enten du ønsker å få en LED-lampe til å blinke eller lage en 3D-modell av Trondheim, kan medlemmene i Hackerspace tilby variert og god kompetanse og hjelpe deg med det.</p>
				<p>Om du lurer på noe, har et prosjekt du ønsker hjelp med, eller bare vil slå av en prat, tar vi deg varmt imot på <a class="modal-trigger hs-green-text" href="#mapModal">vårt verksted</a> og slack-kanal.</p>
				<p>Vaktordningen sørger for at du alltid møter noen på verkstedet klare til å demonstrere utstyr eller hjelpe deg.</p>
				<a class="btn-flat btn-med waves-effect hs-green white-text" href="/about/">Les mer om oss her</a>
			</div>
			<div class="col s12 l6">
				<div class="row">
					<br>
					<div class="col s12 x12">
						<ul class="collection with-header z-depth-1">
							<li class="collection-header">
								<div>
									<p class="flow-text">Siste nytt <i class="material-icons hs-green-text">new_releases</i></p>
								</div>
							</li>
							{% for article in article_list %}
							<li class="collection-item">
								<span class="secondary-content" href="#!">{{ article.pub_date|date:"d.m.Y" }}</span>
								<a href="{% url 'news:details' article.id %}">{{ article.title }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col s12 xl12">
						<ul class="collection with-header z-depth-1">
							<li class="collection-header">
								<p class="flow-text">Siste arrangementer <i class="material-icons hs-green-text">event</i></p>
							</li>
							{% for event in event_list reversed %}
							<li class="collection-item">
								<span class="secondary-content" href="#!">{{ event.time_start|date:"d.m.Y" }}</span>
								<a href="{% url 'events:details' event.id %}" class="title">{{ event.title }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section hs-green">
	<div class="container hide-on-med-and-down">
		<div class="row">
			{% for card in index_cards %}
			<div class="col s12">
				<div class="card horizontal">
					<div class="card-image">
						<img src="{{ card.thumbnail.url }}">
						{% if card.thumbnail_dark_text %}
						<span class="card-title black-text">{{ card.title }}</span>
						{% else %}
						<span class="card-title">{{ card.title }}</span>
						{% endif %}
					</div>
					<div class="card-stacked">
						<div class="card-content">
							{% autoescape off %}
							{{ card.body }}
							{% endautoescape %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<script>
var elem = document.querySelector('.slider');
// Reinitialize function after load to prevent initial lag on pageload
setTimeout(function() {
	var instance = M.Slider.init(elem, {
		indicators: false,
		height: 256,
		duration:600,
		interval: 6000
	})
}, 100);
var instance = M.Slider.init(elem, {
	indicators: false,
	height: 256,
	duration:0,
	interval: 6000
})
</script>
{% endblock content %}
