{% load i18n %}
{% load static %}

<form action="{% url 'set_language' %}" method="post" style="{{ style }}">{% csrf_token %}
    {% get_current_language as LANGUAGE_CODE %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <input name="language" type="hidden"
    value=
      {% if LANGUAGE_CODE == "nb" %}
        "en"
      {% else %}
        "nb"
      {% endif %}
    >
    <input type="image" src=
      {% if LANGUAGE_CODE == "nb" %}
           "{% static 'website/img/icon/GB.png' %}"
      {% else %}
           "{% static 'website/img/icon/NO.png' %}"
      {% endif %}
    >
</form>
