{% extends "website/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
    {# OpenGraph Metadata #}
    <meta property="og:title" content="{{ rule.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ rule.thumb.abs_url }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    {# OpenGraph Metadata End #}
{% endblock head %}
{% block content %}

    <div class="section hs-green">
        <div class="container">
            <div class="section no-pad hs-green hide-on-med-and-up">
                <img class="header-image" src="{{ rule.thumb.url }}" />
            </div>
            <div class="section no-pad hs-green hide-on-small-only">
                <div class="container center">
                    <img class="responsive-img" src="{{ rule.thumb.url }}" />
                </div>
            </div>
            <div class="section card-panel cut-top z-depth-2">
                <div class="section container">
                    <div class="row">
                        <div class="col s12">
                            <div class="center-align">
                                <h3 class="hide-on-small-only">{{ rule.title }}</h3>
                                <h5 class="hide-on-med-and-up">{{ rule.title }}</h5>
                                <p>Oppdatert {{ rule.pub_date }}</p>
                            </div>
                            {% if rule.internal %}
                                <div class="black-text z-depth-0 center-align hs-gray-text">
                                    <i class="material-icons">info</i>
                                    <span>Denne regelen er intern og dermed kun synlig for medlemmer</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 rule-body">
                            {% autoescape off %}
                                {{ rule.body_formatted_markdown | safe }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
