{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}">
{% endblock header %}

{% block content %}

<div class="section hs-green block">
	<div class="container">
		<div class="row center-align">
			<div class="col s12 white-text">
				<h4>Prosjekter på Hackerspace</h4>
			</div>
		</div>
	</div>
</div>

		<div class="row show-row large">
			<div class="col s6 valign-wrapper alt-tinter">
				<h4>
					<a class="white-text" href="#">Virtual Reality</a>
				</h4>
					<img  src="{% static 'img/people_and_tech/spill2.jpg' %}">
			</div>
			<div class="col s6 valign-wrapper alt-tinter">
				<h4>
					<a class="white-text" href="#">Escape Room</a>
				</h4>
				<img src="{% static 'img/people_and_tech/cover7.jpg' %}">
			</div>
		</div>

		<div class="section">
			<div class="row">
				<div class="col s12 center-align">
					<h4>Prosjekter på Hackerspace</h4>
				</div>
			</div>

				<!-- TODO: for loop gjennom featured prosjekter -->
				<div class="container">
							<div class="row">
						    <div class="col s3">
						      <div class="card">
						        <div class="card-image">
						          <img src="{% static 'img/people_and_tech/cover1.jpg' %}">
						          <span class="card-title">Project Name</span>
						          <a class="btn-floating halfway-fab waves-effect waves-light hs-green"><i class="material-icons">add</i></a>
						        </div>
						        <div class="card-content project">
						          <p>
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
										</p>
						        </div>
						      </div>
						    </div>
								<div class="col s3">
						      <div class="card">
						        <div class="card-image">
						          <img src="{% static 'img/people_and_tech/cover1.jpg' %}">
						          <span class="card-title">Project Name</span>
						          <a class="btn-floating halfway-fab waves-effect waves-light hs-green"><i class="material-icons">add</i></a>
						        </div>
						        <div class="card-content project">
						          <p>
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
										</p>
						        </div>
						      </div>
						    </div>
								<div class="col s3">
						      <div class="card">
						        <div class="card-image">
						          <img src="{% static 'img/people_and_tech/cover1.jpg' %}">
						          <span class="card-title">Project Name</span>
						          <a class="btn-floating halfway-fab waves-effect waves-light hs-green"><i class="material-icons">add</i></a>
						        </div>
						        <div class="card-content project">
						          <p>
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
										</p>
						        </div>
						      </div>
						    </div>
								<div class="col s3">
						      <div class="card">
						        <div class="card-image">
						          <img src="{% static 'img/people_and_tech/cover1.jpg' %}">
						          <span class="card-title">Project Name</span>
						          <a class="btn-floating halfway-fab waves-effect waves-light hs-green"><i class="material-icons">add</i></a>
						        </div>
						        <div class="card-content project">
						          <p>
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
											Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse. Her er ein kort prosjekt beskrivelse
										</p>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
					</div>



{% endblock content %}
