{% extends "website/base.html" %}

{% load static %}
{% load i18n %}

{% block header %}

{% endblock header %}

{% block content %}

    {% translate "Vi har oppdatert våre retningslinjer for behandling av personinformasjon" as trans_updated_tos %}
    {% include "website/page_overview/content_title.html" with title=trans_updated_tos %}
    <div class="container">
        <div class="section">
            <p class="flow-text">{% trans "I forbindelse med nye lovverk (vektlagt er Personvernforordningen, også kjent som GDPR) og formalisering internt i organisasjonen, ønsker vi å informere og innhente nytt samtykke om bruk av personvern i Hackerspace." %}</p>

            <p class="flow-text">{% trans "Vennligst bekreft at du har lest og godtar informasjonen og samtykker til vilkårene tilgjengelig" %} <a href="/tos/" target="_blank">{% trans "her" %}</a></p>
            <a class="btn btn-large hs-green" href="{% url 'tos-accept' %}">{% trans "JEG HAR LEST, FORSTÅTT OG GODTAR VILKÅRENE" %}</a>
        </div>
    </div>

{% endblock content %}
