{% extends "website/base.html" %}

{% load static %}

{% block header %}

{% endblock header %}

{% block content %}

<div class="section hs-green white-text">
	<div class="container">
		<div class="row">
			<h2>Vi har oppdatert våre retningslinjer for behandling av personinformasjon</h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="section">
		<p class="flow-text">I forbindelse med nye lovverk (vektlagt er Personvernforordningen, også kjent som GDPR) og formalisering internt i organisasjonen, ønsker vi å informere og innhente nytt samtykke om bruk av personvern i Hackerspace.</p>

		<p class="flow-text">Vennligst bekreft at du har lest og godtar informasjonen og samtykker til vilkårene tilgjengelig <a href="/tos/" target="_blank">her</a></p>
		<a class="btn btn-large hs-green" href="{% url 'tos-accept' %}">JEG HAR LEST, FORSTÅTT OG GODTAR VILKÅRENE</a>
	</div>
</div>

{% endblock content %}
