{% extends "website/base.html" %}

{% load staticfiles %}

{% block header %}

{% endblock header %}

{% block content %}

<div class="section hs-green white-text">
    <div class="container">
        <div class="row center-align">
          <h3>Vilkår for bruk av nettside</h3>
        </div>
    </div>
</div>
<div class="container">

	<h2>Samtykkeerklæring for brukerkonto i Hackerspace NTNU sine IT-systemer.</h2>
	<p class="flow-text">
	Hackerspace NTNU ønsker å ivareta en god og gjennomsiktig behandling av personopplysninger tilhørende våre medlemmer og andre brukere av våre systemer.
	</p>
	<p class="flow-text">
	Organisasjonen har som mål å være åpne rundt behandlingen av personinformasjon og tiltak for IT-sikkerhet. Det eksisterer til enhver tid prosedyrer internt i Hackerspace for å sikre god behandling av persondata.
	</p>
	<p class="flow-text">
	I dette dokumentet finner du oversikt over hva slags informasjon som Hackerspace NTNU behandler om deg, hvordan organisasjonen bruker dataen, og informasjon om dine rettigheter og pekere til utdypende informasjon.
	</p>

	<div class="divider"></div>
	<h3>Formål for innhenting av personopplysninger</h3>
	<p class="flow-text">
	For at Hackerspace skal kunne levere gode tilbud og tjenester tilgjengelig på nettsiden, samt å holde et oppdatert medlemsregister, trenger vi å innhente personopplysninger spesifisert i dette dokumentet.
	</p>
	<p class="flow-text">
Personopplysningene har i hovedsak som formål å utgjøre en fullstendig profil for å knytte brukerkontoen opp med en enkeltperson. Ved å ha fullstendig navn, kan vi få en god oversikt over våre medlemmer og brukere, samt tilby tjenester som deltakelse på arrangementer. Formålene er definert i detaljer under Grunnlag for innhenting og lagring av personopplysninger.
	</p>

	<p class="flow-text">
	Følgende informasjon kreves ved registrering av brukerkonto:
	</p>
	<ul class="collection">
		<li class="collection-item">Fornavn</li>
		<li class="collection-item">Etternavn</li>
		<li class="collection-item">Brukernavn</li>
		<li class="collection-item">Telefonnummer</li>
	</ul>

	<p class="flow-text">Følgende informasjon vil være frivillig å legge inn på sin profil:
	</p>
	<ul class="collection">
		<li class="collection-item">Gruppetilhørighet i Hackerspace</li>
		<li class="collection-item">Tidspunkt for vaktordning</li>
		<li class="collection-item">Profilbilde</li>
		<li class="collection-item">Studieretning</li>
		<li class="collection-item">Ferdigheter</li>
	</ul>

	<div class="divider"></div>
	<h3>Begrunnelse for innhenting og lagring</h3>
	<p class="flow-text">
	Følgende er konkrete formål for innhenting av opplysningene definert i forrige avsnitt.
	</p>
	<p class="flow-text">
	Medlemmer i en av Hackerspace sine interne grupper (og dermed fullverdig medlem), vil ha sitt navn og tidspunkt for vakt (dersom relevant) tilgjengeliggjort for søk for omverden gjennom nettsiden. Formålet er å ivareta Hackerspace sin formidlende virksomhet og ha god oversikt over vaktordningen. Dette støtter også Hackerspace dersom sikkerhetshendelser skulle oppstå.
	</p>
	<p class="flow-text">
	Dersom du er medlem i Hackerspace og skal låne ut gjenstander i inventar-systemet, vil ditt fullstendige navn og epostadresse være registrert som utlåner for gjenstanden. Formålet er å kunne opprette dialog dersom noe ikke skulle leveres inn, og for å holde vedkommende ansvarlige rundt utlån.</p>
	<p class="flow-text">
	Dersom du frivillig oppgir ditt kortnummer for NTNU student-ID kortet (EM Nummer) vil dette brukes for tildeling av adgangskontroll, og kan deles med ekstern administrator for tildeling av tilgang ved Hackerspace sine lokaler.
	</p>
	<p class="flow-text">
	Ditt fullstendige navn, din mailadresse, telefonnummer og informasjon om gruppetilhørighet vil kunne bli delt med arrangører og ansvarlige for arrangement i Hackerspace. Informasjon rundt deltakelse ved arrangementer vil dermed kunne bli delt med eksterne bedrifter.
	</p> <p class="flow-text">Formålet for denne bruken er slik at Hackerspace på best mulig måte kan gjennomføre sine arrangementer, og samtidig ha kontaktinformasjon og oversikt over hvem som er deltakere.
   Dette støtter Hackerspace dersom sikkerhetshendelser skulle oppstå.
   Dette støtter Hackerspace for rettferdig tildeling av plasser der arrangementet har begrenset kapasitet. En venteliste opprettes dersom det er for mange påmeldte.
   Hackerspace skal forsikre seg om at en ekstern behandler av opplysningene forholder seg til gjeldende lovverk.
	</p>

	<div class="divider"></div>
	<h3>Dine rettigheter</h3>
	<p class="flow-text">
	Enkeltpersoner som har sine persondata lagret i Hackerspace sine systemer har de rettigheter definert i gjeldende lovverk. Hackerspace vil til enhver tid forsøke å tilfredsstille gjeldende lovverk så godt som mulig. Du kan lese mere om dine rettigheter i Personvernforordningen (Forordning 2016/679 (General Data Protection Regulation), Kapittel 3, Artikkel 13 - 23).
	</p>
	<p class="flow-text">
	Hackerspace følger gjeldende lovgivning og vil besvare henvendelser rundt personvern på best mulig måte, og gi svar senest 1 mnd etter henvendelsen er registrert.</p>
	<p class="flow-text">Dette gjøres ved å sende epost til Styret. Kontaktinformasjon er til enhver tid tilgjengelig på nettsiden.</p>

    <ul class="collection">
      <li class="collection-item">
	      Du kan til enhver tid kreve innsyn i hva Hackerspace har av personopplysninger om deg og hvordan de brukes.
      </li>
      <li class="collection-item">
	      Du kan til enhver tid kreve retting eller fjerning av opplysninger som er lagret om deg.
      </li>
      <li class="collection-item">
	      Hackerspace er pliktige i å informere deg og datatilsynet i de tilfellene det skulle oppstå datalekkasjer eller andre sikkerhetshendelser som omhandler dine personopplysninger.
      </li>
      <li class="collection-item">
	      Du er kjent med at det er frivillig å samtykke og at du når som helst kan trekke ditt samtykke tilbake. Dersom samtykket trekkes tilbake, vil din brukerkonto være ufullstendig og du vil kunne miste tilgang til våre interne tjenester som avhenger av informasjonen du oppgir, samt fysisk adgang til organisasjonens lokaler.
      </li>
      <li class="collection-item">
	      Samtykket kan trekkes ved å sende epost til Styret. Kontaktinformasjon er til enhver tid tilgjengelig på nettsiden. Dersom du sletter din brukerkonto på nettsiden, vil Hackerspace anse dette som at samtykket trekkes tilbake.
      </li>
    </ul>

    <p class="flow-text">
    Dine personopplysninger vil være lagret så lenge du har din konto registrert i Hackerspace sitt system. Ditt samtykke gjelder til det blir trukket tilbake, i henhold til 
    <a target="_blank"  href="https://www.datatilsynet.no/rettigheter-og-plikter/overordnet-om-rettigheter-og-plikter/samtykke/">norske lover</a>.
    </p>


    <p class="flow-text">
    Dersom registranten er under alder av 13 år, kan ikke registranten selv gi samtykke. Samtykket kan godkjennes i særskilte tilfeller kun gjennom melding fra foreldre eller annen juridisk ansvarlig direkte til Hackerspace sitt styre på mail-adresse som er tilgjengelig på nettsiden.
    </p>

    <p class="flow-text">
    Øvrige spørsmål rundt behandling av personopplysninger i Hackerspace sine IT-systemer kan rettes mot leder av DevOps-gruppen.
    </p>
    <div class="divider"></div>

    <h3>
	Ved å registrere deg på vår nettside bekrefter du at
    </h3>
<ul class="collection">
	<li class="collection-item">
		Du er kjent med innholdet i denne samtykkeerklæringen
	</li>
	<li class="collection-item">
		Du gir ditt samtykke til Hackerspace NTNU for bruk av de personopplysninger definert i dette dokumentet
	</li>
	<li class="collection-item">
		Du gir ditt samtykke til Hackerspace NTNU for bruk av personopplysningene til de formål definert i dette dokumentet. Endring av formål vil kommuniseres av Hackerspace og eventuelt nytt samtykke skal innhentes.
	</li>
	<li class="collection-item">
		Du har fått nødvendig informasjon til å gjøre - og har gjort eventuelle avklaringer og fått svar på spørsmål rundt dokumentet fra Hackerspace NTNU sitt styre.
	</li>
</ul>
</div>
<div class="divider"></div>

{% endblock content %}
