{% load staticfiles %}
<!DOCTYPE html>
<html lang="no">
	<head>
		<title>Hackerspace NTNU</title>
		<link rel="shortcut icon" type="image/png" href="{% static "website/img/favicon.ico" %}">
		<!-- Google Icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

		<!-- Materialize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">

		<script async type="text/javascript" src="{% static 'website/js/ajax_requests.js' %}"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Legg til Materialize JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
		<!-- Lokale stylesheets etter materialize, for å override -->
		<link rel="stylesheet" type="text/css" href="{% static "wiki/style.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "website/css/colors.css" %}">
		<link href="{% static "wiki/bootstrap/css/wiki-bootstrap.min.css" %}" rel="stylesheet">
		{% block head %}
		{% endblock head %}
		{% block extra_js %}
		{% endblock %}
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107702172-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag() {
	dataLayer.push(arguments);
}
gtag('js', new Date());
gtag('config', 'UA-107702172-1');
		</script>
	</head>
	<body>
		{% include "website/header.html" %}
		{% block header %}
		{% endblock header %}
		{% if messages %}
		<div class="row">
			{% for message in messages %}
			<script>
				var $toastContent = $('<span>{{ message }}</span>');
Materialize.toast($toastContent, 5000);
			</script>
			{% endfor %}
		</div>
		{% endif %}
	</body>
</html>
