<ul class="collection with-header z-depth-0">
    <li class="collection-header">
        <div>
            <p class="flow-text"><a class="hs-gray-text" href="{% url 'news:all' %}">Siste nytt</a>
                {% include "website/internal_indicator.html" %}
            </p>
        </div>
    </li>
    {% for article in article_list %}
    <li class="collection-item ">
        <span class="secondary-content badge" href="#!">{{ article.pub_date|date:"d.m.Y" }}</span>
        <a href="{% url 'news:details' article.id %}" class="">{{ article.title }}</a>
    </li>
    {% endfor %}
</ul>