{% load static %}
<head>
	<title>Hackerspace NTNU</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google Icons -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- Legg til Materialize JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Lokale stylesheets etter materialize, for å override farger etc -->
	<link rel="stylesheet" type="text/css" href="{% static "website/css/style.css" %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'overview/css/style.css' %}">
</head>

<body>
	<main>
		<div class="row">
			<div class="col s6">
				<div class="panel">
					<div id="watchlist" class="white card-panel">
						{% include 'overview/watchlist.html' %}
					</div>
					<div class="row">
						<div class="col l6 m12">
							<div class="">
								{% include 'overview/news.html' %}
							</div>
						</div>
						<div class="col l6 m12">
							<div class="">
								{% include 'overview/events.html' %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="panel">
					{% include 'overview/rules.html' %}
				</div>
			</div>
		</div>
	</main>
</body>


