#content {
  margin: 50px;
}
#top {
  margin-bottom: -10px;
}
#searchForm {
  margin-left: 3px;
  display: inline-block;
}
#searchForm input {
  width: 180px;
  display: inline-block;
}
#submit {
  display: inline-block;
  width: 180px;
  margin-left: 9px;
}
#upload {
  margin-left: 9px;
  width: 180px;
}
.imageItem {
  width: 180px;
  position: relative;
  margin: 6px 4px;
  display: inline-block;;
  border: 3px solid rgba(0,0,0,0);
}
.imageItem:hover {
  cursor: pointer;
}
.actions {
  display: none;
  width: 180px;
  height: 235px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: -3px;
  background: #fff;
  top: 207px;
  z-index: 100;
  border-left: 3px solid var(--hs-green);
  border-right: 3px solid var(--hs-green);
  border-bottom: 3px solid var(--hs-green);
  animation-name: cardDown;
  animation-duration: .5s;
}
.relative {
  position: relative;
}
.previewButton, .selectButton, .deleteButton, .editButton {
  position: absolute;
  width: 80%;
  left: 10%;
}
.previewButton {
  top: 15px;
  animation-name: button1Down;
  animation-duration: .5s;
}
.selectButton {
  top: 65px;
  animation-name: button2Down;
  animation-duration: .5s;
}
.editButton {
  top: 115px;
  animation-name: button3Down;
  animation-duration: .5s;
}
.deleteButton {
  top: 165px;
  animation-name: button4Down;
  animation-duration: .5s;
}
.imageItem .card-image {
  position: relative;
  height: 165px;
  width: 165px;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
}
.imageItem .card-content {
  height: 60px;
  margin-top: -20px;
  margin-left: -13px;
}
.imageItem .select {
  color: #000 !important;
}
.imageItem .date {
  font-size: 12px;
}
.selected {
  border-left: 3px solid var(--hs-green);
  border-right: 3px solid var(--hs-green);
  border-top: 3px solid var(--hs-green);
}
@keyframes cardDown {
    from {height: 0;}
    to {height: 231px;}
}
@keyframes button1Down {
  0%  {opacity: 0; top: 0;}
 15%  {opacity: 0; top: 0;}
 30%  {opacity: 1;}
 100% {top: 15px;}
}
@keyframes button2Down {
  0%  {opacity: 0; top: 0;}
 15%  {opacity: 0; top: 0;}
 30%  {opacity: 1;}
 100% {top: 65px;}
}
@keyframes button3Down {
  0%  {opacity: 0; top: 0;}
 15%  {opacity: 0; top: 0;}
 30%  {opacity: 1;}
 100% {top: 115px;}
}
@keyframes button4Down {
  0%  {opacity: 0; top: 0;}
 15%  {opacity: 0; top: 0;}
 30%  {opacity: 1;}
 100% {top: 165px;}
}
