{% extends "website/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {% trans "Søknader" as applications_header %}
    {% include "website/page_header.html" with title=applications_header %}
    <div class="section">
        <div class="container">
            <ul>
                {% for application in applications %}
                    <li class="collection-item">
                        <a href="{% url 'internalportal:application' application.id %}">
                            {% include "internalportal/applications/application_list_card.html" with application=application %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
