{% extends "website/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'internalportal/css/applications.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                {% include "internalportal/applications/personalia_box.html" with application=application %}
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">{% trans "Planlegg intervju" %}</h3>
                    </div>
                </div>
            </div>
        </div>
        {# Mulighet for å plotte inn informasjon om intervjutider, se over og sende det videre #}
        <div class="application-button-bar">
            <a href="{% url 'internalportal:applications' %}"><button class="btn btn-large">{% trans "Tilbake" %}</button></a>
            <a href="{% url 'internalportal:approve_application' application.id %}"><button class="btn btn-large hs-green">{% trans "Godkjenn" %}</button></a>
            <a href="{% url 'internalportal:delete_application' application.id %}"><button class="btn btn-large hs-red">{% trans "Fjern" %}</button></a>
            {% if second_group %}
                <a href="{% url 'internalportal:next_group' application.id %}" ><button class="btn btn-large">{% trans "Send videre" %}</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
