{% extends 'website/base.html' %}
{% load staticfiles %}
{% load check_user_group %}
{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row">
			<div class="col s12 white-text center">
				<h4>Endre brukerprofilen til {{ profile.user.get_full_name }}</h4>
			</div>
		</div>
	</div>
</div>
<div class="section no-pad-bot">
	<div class="container">
		<div class="row">
			<div class="col s12">
				{% if profile.image %}
				<img class="circle" src="{{ profile.image.url }}" height="300">
				{% else %}
				<img class="circle" src="{% static 'website/img/misc/default.png' %}" height="300">
				{% endif %}
			</div>
		</div>
		<div class="row">
			<form  enctype="multipart/form-data" method="post" action="">
				{% csrf_token %}
				{{ formset.management_form }}
				{% for form in formset %}
					{{ form.errors }}
					{% for field in form.visible_fields %}
						{% if field.label == "Profilbilde" %}
							<div class="col s12">
								{{ field }}
							</div>
							<div class="divider"></div>
						{% elif field.label == "Duty" %}
							<div class="col s12 input-field" id="duty-section">
								{{ field }}
								<label for="{{field.id_for_label }}">{{ field.label }}</input>
							</div>
						{% elif field.label == "Auto duty" %}
						<div class="col s12">
						<p>
							<label>
								{{ field }}
								<span id="autocheckbox">{{ field.label }}</span>
							</label>
						</p>
						</div>
						{% else %}
							<div class="col s12 input-field">
								{{ field }}
								<label for="{{field.id_for_label }}">{{ field.label }}</input>
							</div>
						{% endif %}
					{% endfor %}
					{% for field in form.hidden_fields %}
								{{ field }}
					{% endfor %}
				{% endfor %}

				{% for field in form %}
					<div class="col s12 input-field">
						{{ field }}
						<label for="{{field.id_for_label }}">{{ field.label }}</input>
					</div>
				{% endfor %}
				<input type="submit" value="Submit"/>
			</form>
		</div>
	</div>
</div>
<script>
	var vaktGetter = document.querySelector('#duty-section');
	var autoDutyGetter = document.querySelector('#autocheckbox');
	autoDutyGetter.addEventListener('click', function() {
		if(vaktGetter.style.display === "none") {
			vaktGetter.style.display = "block";
		} else {
			vaktGetter.style.display = "none";
		}
	});
	M.AutoInit();
</script>
{% endblock %}

