{% extends 'website/base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="center-align">Medlemmer i Hackerspace</h1>
			</div>
		</div>
	</div>
</div>
<div class="members">
	<div class="row">
		{% for profile in object_list %}
		<div class="col s12 m6 l4">
			<div class="card-container">
				<div class="card medium">
					<div class="card-image waves-effect waves-block waves-light">
						<a class="img-a" href={% url 'userprofile:profile_by_id' profile.user.id %}>
							{% if profile.image %}
							{# profile has image, show picture #}
							<img class="activator" src="{{ profile.image.url }}">
							{% else %}
							{# profile.images is None, show default.png #}
							<img class="activator" src="{% static "userprofile/img/default.png" %}">
							{% endif %}
						</a>
					</div>
					<div class="card-content">
						<a class="profile-name"
	 href={% url 'userprofile:profile_by_id' profile.id %}>{{ profile.name }}</a>
						<div class="profile-groups-title">
							{% for group in profile.group.all %}
							{{ group.title|linebreaks }}
							{% endfor %}
						</div>
						{% for skill in profile.skills.all %}
						<a class="chip" href="{% url 'userprofile:skill' skill.title %}" style="color: black">
							{{ skill.title }}
							{% if skill.icon %}
							<img class="chip-img" src="{{ skill.icon.url }}" alt="Skill tag">
							{% endif %}
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</section>
{% endblock %}
