{% load staticfiles %}

<div class="user-profile-container">
    <div class="user-profile-image">
      {% if profile.image  %}
	      {# profile has image, show picture #}
        <img class="profile-image" src="{{ profile.image.url }}" height="300">
      {% else %}
        {# profile.images is None, show default.png #}
        <img class="profile-image" src="{% static "userprofile/img/default.png" %}" height="300">
      {% endif %}
    </div>
    <div class="user-profile-info">
	<h4>{{ profile.name }}</h4>
	{% if profile.group %}
	<p>{{ profile.group.all.0.title }}</p>
	{% endif %}
	{% if profile.study %}
	<p>{{ profile.study }}</p>
	{% endif %}
	{% if profile.email %}
	<p>{{ profile.email }}</p>
	{% endif %}
	{% if profile.skills %}
	{% for skill in profile.skills.all %}
	<a class="skill chip" href="{% url 'userprofile:skill' skill.title %}">
	    {{ skill.title }}
	    {% if skill.icon %}
	    <img class="chip-img" src="{{ skill.icon.url }}" alt="Skill tag">
	    {% endif %}
	</a>
	{% endfor %}
	{% endif %}
    </div>
</div>
