{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "userprofile/css/profile.css" %}">
{% endblock head %}

{% block content %}
<div class="section no-pad-bot">
    <div class="container">
	{% include "userprofile/profile_card.html" %}
	{% if profile.duty.all %}
	{% include "userprofile/shift_table.html" %}
	{% endif %}
	{% if user.is_superuser or user == profile.user %}
	<a id="edit_profile" href="/members/{{ profile.user_id }}/edit" class="btn waves-effect waves-light">Rediger</a>
	{% endif %}
    </div>
</div>
{% endblock %}

