{% extends 'website/base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row">
			<div class="col s12 white-text center">
				<h4>Brukerprofil for {{ profile.user.get_full_name }}</h4>
				{% if user == profile.user %}
				<a id="edit_profile" href="{% url 'userprofile:edit_profile' %}" class="btn btn-large waves-effect waves-light white hs-gray-text">Rediger</a>
				{% elif user.is_superuser %}
				<a id="edit_profile" href="{% url 'userprofile:profile_edit_by_id' profile.id %}" class="btn btn-large waves-effect waves-light white hs-gray-text">Rediger</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="section hs-gray-text">
	<div class="container">
		<div class="row">
			<div class="col s6">
				{% if profile.image %}
				<img class="circle" src="{{ profile.image.url }}" height="300">
				{% else %}
				<img class="circle" src="{% static 'userprofile/img/misc/default.png' %}" height="300">
				{% endif %}
			</div>
			<div class="col s6">
				<div class="divider"></div>
				{% if profile.group %}
				<p class="flow-text">{{ profile.group.all.0.title }}</p>
				{% endif %}
				{% if profile.study %}
				<p class="flow-text">{{ profile.study }}</p>
				{% endif %}
				{% if profile.user.email %}
				<p class="flow-text">{{ profile.user.email }}</p>
				{% endif %}
				{% if profile.skills %}
				{% for skill in profile.skills.all %}
				<a href="/members/skill/{{ skill.title }}">
					{{ skill.title }}
					{% if skill.icon %}
					<img class="chip-img" src="/media/{{ skill.icon }}" alt="Skill tag">
					{% endif %}
				</a>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				{% if profile.duty.all %}
				{% include "userprofile/shift_table.html" %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

