{% extends 'website/base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<h3 class="white-text">Medlemmer i Hackerspace som kan {{ skill.title }}</h3>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<ul class="collection">
			{% for profile in profiles %}
			<li class="collection-item avatar">
				{% if profile.image %}
					<img class="circle" src="{{ profile.image.url }}">
				{% else %}
					<img class="circle" src="{% static "userprofile/img/default.png" %}">
				{% endif %}
				<a class="title" href={% url 'userprofile:profile_by_id' profile.user.id %}>{{ profile }}</a>
				<p>Kan følgende: <br>
				{% for skill in profile.skills.all %}
				<a class="chip" href="{% url 'userprofile:skill' skill.title %}"
		    style="color: black">
					{% if skill.icon %}
					<img class="chip-img" src="{{ skill.icon.url }}" alt="Skill tag">
					{% endif %}
					{{ skill.title }}
				</a>
				{% endfor %}
				<a href="#!" class="secondary-content btn btn-flat">Se vakttider<i class="material-icons hs-green-text">access_time</i></a>
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
</div>
</section>
{% endblock %}
