{{skill.description | linebreaks}}
{% if skill.prerequisites.all %}
  <div class="divider"></div>
  <ul class="collection z-depth-0" style="margin-bottom:10px;">
    <li class="collection-header">
      <h6>Forutsetninger</h6>
    </li>
    {% for prereq in skill.prerequisites.all %}
    <li class="collection-item skill_reachable" onclick="displaySkill({{prereq.id}})">
      {{prereq}}
      {% include "userprofile/skill_badges.html" with skill=prereq %}
    </li>
    {% endfor %}
  </ul >
{% endif %}