{% extends "website/base.html" %}
{% load static %}
{% block header %}
    {{ jquery | safe }}
    <link rel="stylesheet" type="text/css" href="{% static 'userprofile/css/userprofile_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'userprofile/css/skills_style.css' %}">
    <script src="{% static 'userprofile/javascript/approve_skill.js' %}"></script>
    <script id="display_skill" src="{% static 'userprofile/javascript/display_skill.js' %}" data-redirect-to={{redirect_skill.id}}></script>
{% endblock %}
{% block content %}
    <div class="section hs-green white-text">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Ferdigheter</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row profile-basic">
                <div class="hide-on-small-only">
                    <div class="col left-align">
                        <a href="{% url 'userprofile:profile_by_id' profile.user.id %}">
                            {% if profile.image %}
                                <img class="circle profile-img" src="{{ profile.image.url }}">
                            {% else %}
                                <img class="circle profile-img" src="{% static 'website/img/misc/default.png' %}" height="300">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col left-align">
                        <h4>{{ profile.user.get_full_name }}</h4>
                        <div class="row">
                            {% for category, level in category_levels %}
                                <div class="col tooltipped" data-position="bottom" data-tooltip="{{category.name}}">
                                    <a href="{% url 'userprofile:profile_skills_category' category.id %}" class="btn-floating btn btn-flat white-text hs-green" style="background-color:{{category.color}} !important;">
                                        <span>
                                            {% if level %}
                                                <i class="material-icons">check</i>
                                            {% endif %}
                                        </span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <p>Avmerket sirkel betyr ferdigheten er oppnådd</p>
                    </div>
                </div>
                <div class="hide-on-med-and-up">
                    <div class="col center-align">
                        {% if profile.image %}
                            <img class="circle profile-img" src="{{ profile.image.url }}">
                        {% else %}
                            <img class="circle profile-img" src="{% static 'website/img/misc/default.png' %}" height="300">
                        {% endif %}
                        <h4>{{ profile.user.get_full_name }}</h4>
                        <div class="row">
                            {% for category, level in category_levels %}
                                <div class="col skill-category-btn" class="tooltipped" data-position="top" data-tooltip="{{category.name}}">
                                    <a href="{% url 'userprofile:profile_skills_category' category.id %}" class="btn-floating btn btn-flat white-text hs-green" style="background-color:{{category.color}} !important;">
                                        <span>
                                            {% if level %}
                                                <i class="material-icons">check</i>
                                            {% endif %}
                                        </span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs hide-on-med-and-down">
                                <li id="nextLevelTabSmall" class="tab col s4"><a class="active" href="#reachable_skills">Neste nivå</a></li>
                                <li id="higherLevelsTabSmall" class="tab col s4"><a href="#unreachable_skills">Høyere nivåer</a></li>
                                <li id="acquiredSkillsTabSmall" class="tab col s4 {% if not profile.skills.all %}disabled{% endif %}"><a href="#acquired_skills">Oppnådde ferdigheter</a></li>
                            </ul>
                            <ul class="tabs hide-on-large-only">
                                <li id="nextLevelTab" class="tab col"><a class="active" href="#reachable_skills">Neste</a></li>
                                <li id="higherLevelsTab" class="tab col"><a href="#unreachable_skills">Høyere</a></li>
                                <li id="acquiredSkillsTab" class="tab col {% if not profile.skills.all %}disabled{% endif %}"><a href="#acquired_skills">Oppnådd</a></li>
                            </ul>
                        </div>
                        <div id="reachable_skills" class="tab-body col s12">
                            <ul class="collection collapsible expandable z-depth-0">
                                {% for skill in reachable_skills %}
                                    <li>
                                        <span id="skill{{skill.id}}" class="skill-anchor"></span>
                                        <div class="collapsible-header skill-reachable hs-gray white-text valign-wrapper">
                                            <span>{{skill}}
                                                {% if skill in approvable_skills %}
                                                    <i class="material-icons right tooltipped hs-green-text approve-checkmark" data-position="right" data-tooltip="Du kan godkjenne">how_to_reg</i>
                                                {% endif %}
                                            </span>
                                            {% include "userprofile/skill_badges.html"%}
                                        </div>
                                        <div class="collapsible-body grey lighten-2">
                                            {% include "userprofile/skill_description.html" %}
                                            {% if skill in approvable_skills %}
                                                <div class="invisible-divider-large"></div>
                                                {% csrf_token %}
                                                <a class="hs-green waves-effect waves-light btn btn-flat white-text approve-btn" data-skillid="{{skill.pk}}" data-apiurl="{% url 'userprofile:approve_skill_api_endpoint' profile.user.id %}">
                                                    <i class="material-icons left">check</i> Godkjenn
                                                </a>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="unreachable_skills" class="tab-body col s12">
                            <ul class="collection collapsible expandable z-depth-0">
                                {% for skill in all_skills %}
                                    {% if skill not in profile.skills.all and skill not in reachable_skills %}
                                        <li>
                                            <span id="skill{{skill.id}}" class="skill-anchor"></span>
                                            <div class="collapsible-header skill-unreachable hs-gray white-text">
                                                {{skill}}
                                                {% include "userprofile/skill_badges.html" %}
                                            </div>
                                            <div class="collapsible-body grey lighten-2">
                                                {% include "userprofile/skill_description.html" %}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="acquired_skills" class="tab-body col s12">
                            {% if profile.skills.all %}
                                <ul class="collection collapsible expandable z-depth-0">
                                    {% for skill in profile.skills.all %}
                                        <li>
                                            <span id="skill{{skill.id}}" class="skill-anchor"></span>
                                            <div class="collapsible-header skill-acquired hs-gray white-text">
                                                {{skill}}
                                                {% include "userprofile/skill_badges.html"%}
                                            </div>
                                            <div class="collapsible-body grey lighten-2">
                                                {% include "userprofile/skill_description.html" %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}
