{% extends "website/base.html" %}

{% block content %}
<div class="section hs-green white-text">
    <div class="container">
        <div class="row center-align">
          <h3>Vilkår for bruk av nettside</h3>
          <p>Oppdatert {{ termsofservice.pub_date }}</p>
          {% if perms.userprofile.add_termsofservice %}
            <a class="btn-flat white" href="{% url 'tos-create-id' termsofservice.id %}"><i class="material-icons">edit</i>
              Ny TOS basert på denne
            </a>
          {% endif %}
        </div>
    </div>
</div>
	<div class="container">
			<div class="row">
				<div class="col s12">
					{% autoescape off %}
						{{ termsofservice.text }}
					{% endautoescape %}
				</div>
			</div>
	</div>
{% endblock content %}
