{% extends 'website/base.html' %}
{% load static %}
{% block header %}
  <meta http-equiv="refresh" content="10;url=/">
{% endblock header %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row white-text">
			<div class="col s12">
				<h4>Søknad</h4>
			</div>
		</div>
	</div>
</div>
<div class="section no-pad-bot">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Din søknad er registrert!</h4>
				<p>Du videresendes til forsiden om 10 sekunder.</p>
				<a href="{% url 'index' %}" class="btn btn-small hs-green">Trykk her for å gå til forsiden</a>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}
