{% extends 'website/base.html' %}
{% load static %}
{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row white-text">
			<div class="col s12">
				<h4>Informasjon om opptaket</h4>
			</div>
		</div>
	</div>
</div>
<div class="container white-text">
    <br>
    <br>
    <div>
        <div class="col s12 center-align">
            <a href="{% url 'application:application_form' %}" class="hs-green btn btn-large">
            <i class="material-icons prefix">history_edu</i> Gå til søknad</a>
        </div>
    </div>
    <br>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Praktisk informasjon om medlemskap</h4>
				<p class="flow-text">Tusen takk for din interesse!<p>
				<p class="flow-text">På denne nettsiden får du informasjon om medlemskap og gruppene i Hackerspace.</p>
				<p class="flow-text">Dersom du blir tatt opp i en av våre grupper, blir du selvsagt også medlem av Hackerspace.</p>
				<p><b>Erfaring</b></p>
				<blockquote><p class="flow-text">Man trenger ikke være en verdensmester for å søke i Hackerspace.<br>Både nybegynnere og viderekommende er velkommen til å søke hos oss. Vi er først og fremst ute etter engasjementet ditt.<br>Alle som blir tatt opp i Hackerspace kommer til å bli lært opp i det mest brukte utstyret vi har på verkstedet, og spesifikk kursing for gruppen de blir med i.</p></blockquote>
				<p><b>Vaktlisten</b></p>
				<blockquote>
				<p class="flow-text">Alle medlemmer av Hackerspace er med på å holde verkstedet åpent. På vakt hjelper du nysgjerrige studenter som stikker innom og vil bruke utstyret vårt. Det er også lagt opp til at du kan gjøre det samme selv! Ellers på vaktene blir det en del kaffedrikking og sosialt med de andre på verkstedet. Alle medlemmer sitter to timer på vakt i uken.</p>
				</blockquote>
				<p><b>Stander</b></p>
				<blockquote>
				<p class="flow-text">Du har kanskje møtt Hackerspace på stand på NTNU? Det er fordi Hackerspace står mye på stand for å spre ordet om hvem vi er og hva vi gjør. Dette er noe alle i Hackerspace er med på.</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Hovedgrupper</h4>
				<p>Under finner du informasjon om hovedgruppene som har opptak nå</p>
			</div>
		</div>
	</div>
</div>
{% if main_list %}
    {% for group in main_list %}
        {% include "applications/_group_description.html" %}
    {% empty %}
        <div class="section white">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <p>Ingen grupper lagt til i opptaket.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if group_list %}
    <div class="divider"></div>
    <div class="section white">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Prosjektgruppene</h4>
                    <p>Prosjektgruppene gjennomfører en rekke prosjekter som varierer fra år til år. Prosjektene varer som oftest i to semestre.</p>
                    <p>Som medlem av en prosjektgruppe jobber du konkret på et prosjekt sammen med andre på gruppen.</p>
                    <p>Om du har forslag til noen andre prosjekter, kan dette sendes med et søknadsskjema.</p>
                    <p>Under finner du informasjon om prosjektene som har opptak nå.</p>
                </div>
            </div>
        </div>
    </div>
    {% for group in group_list %}
        {% include "applications/_group_description.html" %}
    {% empty %}
        <div class="section white">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <p>Ingen grupper lagt til i opptaket.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
