{% extends 'website/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row white-text">
			<div class="col s12">
				<h4>Informasjon om opptaket</h4>
			</div>
		</div>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Praktisk informasjon om medlemsskap</h4>
				<p class="flow-text">Tusen takk for din interesse!<br><br> På denne nettsiden får du informasjon om medlemsskap og gruppene i Hackerspace.</p>
				<p class="flow-text">Dersom du blir tatt opp i en av våre grupper, blir du selvsagt også  medlem av Hackerspace.</p>
				<p><b>Erfaring</b></p>
				<blockquote><p class="flow-text">Man trenger ikke være en verdensmester for å søke i Hackerspace.<br>Både nybegynnere og viderekommende er velkommen til å søke hos oss. Hackerspace vektlegger formidling av kunnskap også internt.</p></blockquote>
				<p><b>Vaktordning</b></p>
				<blockquote>
				<p class="flow-text">Alle medlemmer deltar i vaktordningen som varer 2 timer i uken. Medlemmene melder seg selv opp i timetabellen som er delt opp i økter på to timer, hver ukedag fra  10:07 til 18:00</p>
				<p class="flow-text">Det er opp til 4 medlemmer på vakt samtidig, og arbeidsoppgaver består av å ta imot besøkende, demonstrere utstyr, diskutere kule ting, drikke kaffe og ha det hyggelig.</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<div class="section hs-gray">
	<div class="container">
		<div class="row">
			<div class="col s12 center-align">
				<br>
				<br>
				<a href="/opptak/application" class="hs-green btn btn-large">Gå til søknad</a>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Informasjon om gruppene</h4>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5>LabOps</h5>
				<p class="flow-text">Hovedoppgaven til LabOps er å drifte Hackerspace sine lokaler, planlegge og gjennomføre arrangement, drifte sosiale medier, holde stands og drive promotering.</p>
				<p><b>Struktur</b></p>
				<p class="flow-text">LabOps har følgende grupper:</p>
				<blockquote>
				<ul>
					<li>PR</li>
					<li>Arrangement</li>
					<li>Romfolk</li>
					<li>Sosialkommite</li>
				</ul>
				</blockquote>
				<p><b>Arbeidsmegde</b></p>
				<blockquote>
					<p class="flow-text">Arbeidsmengde og gjennomføring varierer fra gruppe til gruppe. Beregn rundt 4 timer i uken på gruppearbeid.</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5>DevOps</h5>
			</div>
			<div class="col s12">
				<p class="flow-text">DevOps jobber med å utvikle tjenester og drifte infrastruktur som støtter Hackerspace sin virksomhet. Hovedsakelig baserer DevOps seg på nettsidene, men jobber også med servere, git, dør-apiet (som viser om noen er på Hackerspace-kontoret), kursing, utlånssystem, og diverse andre kule dingser.</p>
				<p><b>Struktur</b></p>
				<blockquote>
				<p class="flow-text">Strukturen internt i DevOps er fleksibel, med mindre grupper tilpasset interesser hos medlemmer og konkrete prosjekter.</p>
				</blockquote>
				<p><b>Arbeidsmengde</b></p>
				<blockquote>
				<p class="flow-text">DevOps har normalt sett en arbeidskveld i uken som beregnes rundt 4 timer på gruppearbeid, men det jobbes av og til på diverse oppgaver utenfor arbeidskveld etter behov.</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="section white">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5>Prosjektgruppen</h5>
				<p class="flow-text">Prosjektgruppen gjennomfører en rekke prosjekter som varierer fra år til år.</p>
				<p><b>Struktur</b></p>
				<p>I år har prosjektgruppen følgende undergrupper:</p>
				<blockquote>
					<ul>
						<li>Arkademaskin</li>
						<li>Mobilspill</li>
						<li>Brettspill</li>
						<li>Videospill</li>
					</ul>
				</blockquote>
				<p><b>Arbeidsmengde</b></p>
				<blockquote>
				<p class="flow-text">Siden det er nye prosjekter som startes opp, er det ikke etablert hvordan gjennomføringen skjer. Beregn arbeidsmengde rundt 4 timer i uken på gruppearbeid.</p>
				</blockquote>

			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}
