{% extends 'website/base.html' %}
{% load static %}
{% block header %}
  <meta http-equiv="refresh" content="30;url=/">
{% endblock header %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row white-text">
			<div class="col s12">
				<h4>Søknad</h4>
			</div>
		</div>
	</div>
</div>
<div class="section no-pad-bot">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4 class="center-align">Det er ikke åpnet for søknader enda.</h4>
				<h5 class="center-align">
					Søknadsskjema vil være tilgjengelig på denne nettsiden mellom<br> {{ start_date }} og {{ end_date }}.
				</h5>
			</div>
		</div>
	</div>
</div>
</main>
{% endblock %}
