{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}
{% load includechildren %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'applications/css/applications.css' %}">
    <script src="{% static 'applications/js/group_chooser.js' %}"></script>
    {{ jquery | safe }}
    {{ jquery_ui | safe }}
{% endblock %}
{% block content %}
    {% translate "Søknad" as trans_apply %}
    {% includechildren "website/page_overview/content_title.html" with title=trans_apply %}
        <a class="btn btn-flat hs-green-text white" href="/opptak/">{% trans "Tilbake til infoside" %}</a>
    {% endincludechildren %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5>Velkommen til søknadssiden for Hackerspace NTNU sitt opptak!</h5>
                    <p>Når opptaket er ferdig, kontakter vi deg med svar via e-postadressen du oppgir under.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.name }}
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {% if form.email.errors %}
                            <span class="helper-text hs-red-text">{{ form.email.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.phone }}
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                        {% if form.phone.errors %}
                            <span class="helper-text hs-red-text">{{ form.phone.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.study }}
                        <label for="{{ form.study.id_for_label }}">{{ form.study.label }}</label>
                    </div>
                    <div id="year" class="input-field col s12">
                        {{ form.year }}
                        <label for="{{ form.year.id_for_label }}">{{ form.year.label }}</label>
                        {% if form.year.errors %}
                            <span class="helper-text hs-red-text">{{ form.year.errors }}</span>
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.knowledge_of_hs }}
                        <label for="{{ form.knowledge_of_hs.id_for_label }}">{{ form.knowledge_of_hs.label }}</label>
                        {% if form.knowledge_of_hs.errors %}
                            <span class="helper-text hs-red-text">{{ form.knowledge_of_hs.errors }}</span>
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        {{ form.about }}
                        <label for="{{ form.about.id_for_label }}">{{ form.about.label }}</label>
                        {% if form.about.errors %}
                            <span class="helper-text hs-red-text">{{ form.about.errors }}</span>
                        {% else %}
                            <span class="helper-text">Vi ønsker å vite litt om hvem du er som person, hva du liker å gjøre på fritiden, etc.</span>
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        {{ form.application_text }}
                        <label for="{{ form.application_text.id_for_label }}">{{ form.application_text.label }}</label>
                        {% if form.application_text.errors %}
                            <span class="helper-text hs-red-text">{{ form.application_text.errors }}</span>
                        {% else %}
                            <span class="helper-text">Skriv gjerne litt om hva du har lyst til å jobbe med innenfor gruppen, dersom relevant.</span>
                        {% endif %}
                    </div>

                    <div class="group-chooser-field col s12">
                        <label>Legg til grupper du vil søke på (i prioritert rekkefølge)</label>
                        <div id="group-chooser" class="row">
                            <div class="col">
                                <a class='dropdown-trigger btn hs-green waves-effect waves-light' href='#' data-target='group-options'>Legg til</a>
                                <ul id='group-options' class='dropdown-content collection'>
                                    {% for group in group_choices %}
                                        <li class="group-option" data-group-id={{ group.id }}>{{ group }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <ul id="groups-chosen" class="collection grey lighten-4" style="max-width: 500px; display: none;"></ul>
                        {% if form.group_choice.errors %}
                            <span class="group-chooser-error helper-text hs-red-text">{{ form.group_choice.errors }}</span>
                        {% endif %}
                        {{ form.group_choice }}
                    </div>

                    <div class="input-field col s12">
                        {{ form.project_interests }}
                        <label for="{{ form.project_interests.id_for_label }}">{{ form.project_interests.label }}</label>
                        {% if form.project_interests.errors %}
                            <span class="helper-text hs-red-text">{{ form.project_interests.errors }}</span>
                        {% else %}
                            <span class="helper-text">Beskriv gjerne om du ønsker å danne nye prosjekter. Vi ønsker å vite hva som interesserer deg.</span>
                        {% endif %}
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <p>Informasjonen oppgitt i dette skjema vil kun benyttes av styret (gruppeledere og ledelsen) til formål for opptaket. Dataen vil permanent slettes etter opptaket er ferdig.</p>
                        <br>
                    </div>
                    <div class="col s12">
                        <button class="btn btn-large hs-green waves-effect waves-light" type="submit" name="action">Send inn søknad</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock content %}
