*DS_Store
*.swp
*.save
*.saved
.idea/
*.iml
*.sqlite3
*.pyc
*.env
media/*
*local_settings.py
profilepictures/

# For Rope Project settings
.ropeproject


env/
venv/
.vscode/
**/__pycache__
/static/

*.html.py
*.txt.py
*.mo
*.html.py
*.txt.py
pyenv/
.python-version