exclude: '^website/wsgi.py|^.*\b(migrations)\b.*$'
repos:
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black
      language_version: python3
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.3
    hooks:
    - id: isort
      entry: isort --profile=black
-   repo: https://github.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8
