pre-commit==2.15.0
Django==3.2.18
django-ckeditor==6.2.0
coverage==6.3.2
sorl-thumbnail==12.8.0
python-coveralls==2.9.3
djangorestframework==3.13.1
django-filter==21.1
Markdown==3.3.6
Pillow==9.3.0
python-dataporten-auth==2.0.0
social-auth-app-django==5.0.0
rapidfuzz==1.8.2
django-ical==1.8.3
django-markdownx==3.0.1
bleach==5.0.1
bleach-whitelist==0.0.11
django-crontab==0.7.1
django-ordered-model==3.6
psycopg2-binary==2.9.6
