pre-commit==3.6.2
Django==5.0.3
django-ckeditor==6.2.0
coverage==7.4.4
sorl-thumbnail==12.10.0
python-coveralls==2.9.3
djangorestframework==3.14.0
django-filter==24.1
Markdown==3.6
Pillow==10.3.0
python-dataporten-auth==2.0.0
social-auth-app-django==5.4.0
rapidfuzz==3.6.2
django-ical==1.9.2
django-markdownx==4.0.7
bleach==6.1.0
bleach-whitelist==0.0.11
django-crontab==0.7.1
django-ordered-model==3.7.4
