django>=2.2
gunicorn
django-ckeditor
coverage
git+https://github.com/jazzband/sorl-thumbnail.git # Temporary git-link for sorl-thumbnail 12.6.1
python-coveralls
djangorestframework
django-filter
markdown
pillow
django-sekizai
python-dataporten-auth
python-social-auth[django]
