<div style="
    width:100%;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
">
    {% if textbox_list %}
    {% for textbox in textbox_list %}
    <div style="
            background-color:#fff;
            width:100%;
            margin: 50px 0;
        ">
        <p align="center" style="
                  word-wrap:break-word;
                  font-size:{{ textbox.header_fontsize }}px;
                  color:{{ textbox.header_color }};
                  font-family:{{ textbox.header_fontfamily }};
                  padding:20px;
                  margin-top:-20px;
                  padding: 50px;
              ">
            {{ textbox.header_text }}
        </p>

        <p align="center" style="
                  word-wrap:break-word;
                  font-size:{{ textbox.text_fontsize }}px;
                  color:{{ textbox.text_color }};
                  font-family:{{ textbox.text_fontfamily }};
                  margin-top:-20px;
                  padding: 50px 200px;
                  padding-top: 0;
                  -webkit-columns: {{ textbox.text_columns }}; /* Chrome, Safari, Opera */
                  -moz-columns: {{ textbox.text_columns }}; /* Firefox */
                  columns: {{ textbox.text_columns }};
                  text-align: left;
              ">
            {{ textbox.text_text }}<br><br>
        </p>
    </div>
    {% endfor %}
    {% endif %}
</div>
