{% extends 'website/base.html' %}
{% load check_user_group %}


{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
{% endblock %}

{% block content %}

    <div class="section block">
        <div class="row">
            <div class="col s10 offset-s1">
                <div id='calendar'></div>
            </div>
        </div>
    </div>

    {% include 'reservations/reservation_modal.html' %}

    {% include 'reservations/require_login_modal.html' %}

    <script>
        const requestUser = '{{ request.user }}';
        const submitReservationInputText = 'opprett reservasjon';

        let startDateField = $('#id_start_date')[0];
        let endDateField = $('#id_end_date')[0];
        let startTimeField = $('#id_start_time')[0];
        let endTimeField = $('#id_end_time')[0];
        let commentField = $('#id_comment')[0];
        let createButton = $('#createReservationInput')[0];
        let deleteButton = $('#deleteReservationButton')[0];
        let reservationForm = $('#reservationForm')[0];

        document.addEventListener('DOMContentLoaded', function() {
            options = {
                twelveHour: false,
                i18n : {
                    cancel: 'Avbryt',
                    clear: 'Fjern',
                    done: 'Ok',
                }
            };
            var elems = document.querySelectorAll('.timepicker');
            var instances = M.Timepicker.init(elems, options);
        });

        document.addEventListener('DOMContentLoaded', function() {
            options = {
                firstDay: 1,
                i18n : {
                    cancel: 'Avbryt',
                    clear: 'Fjern',
                    done: 'Ok',
                    // months: ['Januar', 'Februar', 'Mars', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Desember'],
                    // weekdaysAbbrev: ['S', 'M', 'T', 'O', 'T', 'F', 'L'],
                }
            };
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
        });

        $(function () {

            $('#calendar').fullCalendar({

                selectable: true,
                height: 500,
                defaultView: 'agendaWeek',
                allDaySlot: false,
                firstDay: 1,
                header: {right: 'prev, next'},
                refetchResourcesOnNavigate: true,
                slotDuration: '00:30:00',
                snapDuration: '00:05:00',
                slotLabelInterval: {hours: 1},
                eventColor: '#456990',

                slotLabelFormat: "HH:mm",
                timeFormat: "HH:mm",
                scrollTime: '10:00:00', // calendar will init scroll position to interval 10:00-18:00

                {% if request.user|has_group:"member" or request.user.is_superuser %}
                    minTime: "00:00:00",
                    maxTime: "23:59:59",
                {% else %}
                    minTime: "10:00:00",
                    maxTime: "18:00:00",
                {% endif %}

                events: {
                    url: '{% url 'reservations:reservation_api' pk=queue.pk %}',
                    type: 'GET',
                    error: function () {
                        console.log("Encountered error while retrieving reservation data!");
                    },
                    success: function (data) {
                        for (event of data) {
                            if (requestUser == event.user) {
                                event.color = '#7ABB7A';
                            }
                        }
                    },
                },

                eventClick: function(event, element) {
                    console.log(event, element);
                    if (requestUser == event.user) {
                        let modal = $('#reservationModal')
                        setupReservationModal(event.start, event.end, true, event.comment)
                        let instance = M.Modal.getInstance(modal);
                        instance.open();
                    }
                },

                select: function (startDateTime, endDateTime) {
                    {% if request.user.is_authenticated %}
                        let modal = $('#reservationModal')
                        setupReservationModal(startDateTime, endDateTime)
                    {% else %}
                        let modal = $('#requireLoginModal');
                    {% endif %}
                        let instance = M.Modal.getInstance(modal);
                        instance.open();
                },

                eventRender: function(event, element) {
                    // Add event comments as tooltips
                    if (event.comment != "") {
                        M.Tooltip.init(element, {html: event.comment});
                    }
                },
            })
        });

        function htmlDateFormat(datetime) {
            return $.fullCalendar.formatDate(datetime, "Y-MM-DD")
        }

        function htmlTimeFormat(datetime) {
            return $.fullCalendar.formatDate(datetime, "HH:mm")
        }

        function setupReservationModal(startDateTime, endDateTime, update=false, comment="") {
            startDateField.value = htmlDateFormat(startDateTime);
            endDateField.value = htmlDateFormat(endDateTime);
            startTimeField.value = htmlTimeFormat(startDateTime);
            endTimeField.value = htmlTimeFormat(endDateTime);
            commentField.value = comment;

            // disable all time-related fields when showing update form
            if (update) {
                commentField.oninput = function(){createButton.value = 'Oppdater'};

                startDateField.disabled = true;
                endDateField.disabled = true;
                startTimeField.disabled = true;
                endTimeField.disabled = true;

                createButton.value = 'OK';
                deleteButton.style.display = 'inline';
            } else {
                commentField.oninput = function(){};

                startDateField.disabled = false;
                endDateField.disabled = false;
                startTimeField.disabled = false;
                endTimeField.disabled = false;

                createButton.value = submitReservationInputText;
                deleteButton.style.display = 'none';
            }
        }

        deleteButton.onclick = function(event) {
            $.ajax({
                url: '{% url 'reservations:reservation_api_delete' pk=queue.pk %}',
                data: {id: event.id},
                type: 'POST',
                success: function() {
                    $('#calendar').fullCalendar('refetchEvents');
                },
            })
        }
    </script>

{% endblock content %}
