{% extends 'website/base.html' %}
{% block content %}
    <div class="section block">

        {% if perms.reservations.add_queue %}
            <div class="row">
                <div class="col offset-s3">
                    <a href="{% url 'reservations:create_queue' %}" class="btn waves-effect waves-light">
                        <i class="material-icons">note_add</i>
                        Create Queue
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col s6 offset-s3">
                <div class="collection">
                    {% for queue in queue_list %}
                        {% if not queue.hidden or perms.reservations.edit_queue %}
                            <a href="{% url 'reservations:queue_detail' pk=queue.pk %}" class="collection-item s10">
                                {{ queue.name }}
                            </a>
                        {% endif %}
                    {% empty %}
                        <p class="center grey-text">Ingen køer er opprettet</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
