{% extends 'website/base.html' %}
{% block content %}
    <div class="section block">
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="card">
                    <div class="card-content">
                        <div class="row s10">
                            <div class="col s10 offset-s1">
                                <h2>{{ queue.name }}</h2>
                                <p>{{ reservations }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s9">
                                <p class="flow-text">
                                    {{ queue.description }}
                                </p>
                                {% if perms.reservations.edit_queue %}
                                    <a href="{% url 'reservations:queue_update' pk=queue.pk %}" class="btn waves-effect waves-light right-align">Update</a>
                                {% endif %}
                            </div>
                            <a href="{% url 'reservations:reservation_create' pk=queue.pk %}">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
