{% extends 'website/base.html' %}
{% block content %}
    <div class="section block">

        {% if perms.reservations.create_queue %}
            <div class="row">
                <div class="col offset-s3">
                    <a href="{% url 'reservations:queue_create' %}" class="btn waves-effect waves-light">
                        <i class="material-icons">note_add</i>
                        Create Queue
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col s6 offset-s3">
                <div class="collection">
                    {% for queue in queue_list %}
                        <a href="{% url 'reservations:queue_detail' pk=queue.pk %}" class="collection-item s10">{{ queue.name }}</a>
                    {% empty %}
                        <p class="center grey-text">Ingen køer er opprettet</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
