{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
{% endblock %}

{% block content %}
<div class="section block">
    <div class="row">
        <div class="col s10 offset-s1">
            <div id='calendar'></div>
        </div>
    </div>
</div>

<div id="reservation_modal" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.modal').modal({
            startingTop: '30%',
            endingTop: '50%',
        });
    });

    $(function () {

        $('#calendar').fullCalendar({
            selectable: true,
            height: 500,
            defaultView: 'agendaWeek',
            allDaySlot: false,
            firstDay: 1,
            header: {right: 'prev, next'},
            refetchResourcesOnNavigate: true,


            events: {
                url: '{% url 'reservations:fullcalendar_test' pk=queue.pk %}',
                type: 'GET',
                error: function () {
                    console.log("error!");
                },
                success: function (data) {
                    console.log(data);
                }
            },

            select: function (startDate, endDate) {
                let modal = $('#reservation_modal')
                let instance = M.Modal.getInstance(modal);
                let time_text = 'selected ' + startDate.format() + ' to ' + endDate.format();
                instance.el.childNodes[1].childNodes[3].innerText = time_text
                instance.open();
            }
        })


    });
</script>

{% endblock content %}
