<div class="row">
	<div class="col s12 input-field">
		{{ form.start_time }}
		{{ form.start_time.label_tag }}
	</div>
	<div class="col s12 input-field">
		{{ form.end_time }}
		{{ form.end_time.label_tag }}
	</div>
	<div class="col s12 input-field">
		{{ form.start_date }}
		{{ form.start_date.label_tag }}
	</div>
	<div class="col s12 input-field">
		{{ form.end_date }}
		{{ form.end_date.label_tag }}
	</div>
</div>
<div class="row">
    <div class="col s12">
        {{ form.comment.label_tag }}
        {{ form.comment }}
    </div>
</div>

