{% extends 'website/base.html' %}
{% load week %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
{% endblock %}

{% block content %}

    <div class="section block">
        <div class="row">
                        <div id='calendar'></div>
                        <!--
            <div class="col s8 offset-s2">
                <div class="card">
                    <div class="card-content">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button id="submit" type="submit" class="btn waves-effect waves-light" name="action">
                                Submit
                                <i class="material-icons send">send</i>
                            </button>
                            {% if queue.pk %}
                                <a href="{% url 'reservations:reservation_delete' pk=queue.pk %}" class="btn waves-effect waves-dark red">Delete
                                    <i class="material-icons">delete</i></a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
                        -->
        </div>
    </div>

<script>
$(function() {


    $('#calendar').fullCalendar({
        height: 500,
        defaultView: 'agendaWeek',
        allDaySlot: false,
        firstDay: 1,
        header: {right: 'prev, next'},
    })

});
</script>

{% endblock content %}
