.members-search-container {
    padding-top: 0.5em !important;
    padding-bottom: 0.25em !important;
}

.skill-check {
    
    padding: 5em;
    cursor: pointer;
    border: 2px solid black;
}

.skill-check * {
    margin: 0.5em;
}

.skill-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-wrap: unset;
}