.member-card {
    height: 380px !important;
    display: flex;
    flex-direction: column;
}

.member-card .card-content {
    max-height: unset !important;
}

.member-card .card-title {
    overflow-wrap: break-word;
}
