.caption-text {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.ingress {
	font-weight: 700;

}
@media only screen and (max-width: 600px) {
	.cut-top {
		margin-top: -96px !important;
		position: relative;
	}
	.image-container img {
		object-fit: scale-down;
		width:100%;
		height:100%;
	}
	.header-image {
		object-fit:fill;
		width:100%;

	}
}
@media only screen and (min-width: 600px) {
	.cut-top {
		margin-top: -1em !important;
		position: relative;
	}
	.image-container {
		height:280px;
	}
	.image-container img {
		object-fit: fill;
		width:100%;
		height:100%;
	}
	.no-top-shadow {
		box-shadow: 0px;

	}
}
.article-container .row {
	padding-right: 56px;
	padding-left: 56px;
} 
.article-content {
	word-break: break-word !important;
}
.subheader-list {
	height: 48px;
	margin-bottom: 48px;
	margin-top: 16px;
}
.empty-list-container {
	height: 48px;
	margin: 16px;
}
.progress {
	height: 30px;
}
.counter {
	margin: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 70;
	position:relative;
}
