.cut-top {
	margin-top: -96px !important;
	position: relative;
}

.progress {
	height: auto;
}

.progress p {
	position: relative
}

div,h3{
	word-wrap: break-word;      
}
.header-image{
	max-width: 600px;
	width: 100%;
}

#registration-users li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
