<div class="card horizontal" style="background: var(--hs-gray-li3)">
    <div class="card-stacked">
        <div class="card-content">

            <div class="row">
                <div class="col s7">

                    {% if item.tags %}
                        {% for tag in item.tags.all %}
                            <div class="chip">
                                <a href="{% url 'inventory:tag_detail' tag.id %}">{{ tag.name }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <br>
                    <p>{{ item.description }}</p>
                    <br>
                    <!-- TODO vise antall man har igjen i tillegg til totalt. -->
                    <p>Antall: {{ item.quantity_left }}/{{ item.quantity }}</p>
                    <br>
                    <p>Sone: {{ item.zone }}, Hylle: {{ item.shelf }}, Rad: {{ item.row }}, Kolonne: {{ item.column }}</p>

                    {% if perms.inventory.add_loan %}
                        {% if item.get_active_loans %}
                            <h5>Alle aktive utlån</h5>

                            {% for loan in item.get_active_loans %}
                                <p>Lånertaker: {{ loan.borrower.username }} -
                                    <a href="{% url 'inventory:loan_detail' loan.id %}"
                                       style="color: var(--hs-green-dk)">Detaljer</a>
                                </p>
                                {% if loan %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </div>

                {% if True %}
                    <div class="card-image col s5">
                        {% if item.thumbnail %}
                            <a href="{{ item.thumbnail.url }}">
                                <img class="activator" src="{{ item.thumbnail.url }}">
                            </a>
                        {% else %}
                            <!-- default image -->
                            <img class="activator" src="{% static '/img/Logo_round_green.png' %}">
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if perms.inventory.delete_item %}
                <div class="card-action">

                    <form type="submit" action="{% url 'inventory:detail' item.id %}" method="post">
                        {% csrf_token %}

                        {% if request.user.is_authenticated %}
                            {% if perms.inventory.delete_item %}
                                <a href="{% url 'inventory:register_loan' item.id %}"
                                   class="waves-effect waves-light btn">Lån
                                    ut</a>
                                <a href="{% url 'inventory:add_item' item.id %}"
                                   class="waves-effect waves-light btn">endre</a>

                                <!-- TODO legge inn en "er du sikker på at du vil slette" popup eller noe -->
                                <button class="waves-effect waves-light btn" type="submit">
                                    Slett
                                </button>
                            {% endif %}
                        {% endif %}

                    </form>
                </div>
            {% endif %}

        </div>
    </div>
