<div class="card horizontal" style="background-color: var(--hs-gray-li3);">
    <div class="card-stacked">
        <div class="card-content">
            Utlånte objekter:
            {% for loanitem in loan.loanitem_set.all %}
                <div class="chip">
                    <a href="{% url 'inventory:detail' loanitem.item.id %}">
                        {{ loanitem.quantity }} {{ loanitem.item.name }}
                    </a>
                </div>
            {% endfor %}

            <br><br>
            <p>Ansvarlig for utlånet: {{ loan.lender.username }}</p>
            <br>
            <p>Beskrivelse: {{ loan.comment }}</p>
            <br>
            {% if loan.date_returned %}
                Status: ble levert {{ loan.date_returned }}
            {% else %}
                <p>Skal returneres innen {{ loan.return_date }}</p>
            {% endif %}
        </div>

        <div class="card-action">
            <form id="registrer" action="{% url 'inventory:loan_detail' loan.id %}" method="post">
                {% csrf_token %}

                {% if loan.date_returned %}
                    <button type="submit" class="btn waves-effect waves-light">Omgjør innlevert
                        <i class="material-icons right">send</i>
                    </button>
                {% else %}
                    <button type="submit" class="btn waves-effect waves-light">Registrer innlevering
                        <i class="material-icons right">send</i>
                    </button>
                {% endif %}

            </form>
        </div>
    </div>
</div>
