{% load utils %}
{% load divtags %}


{% if tags %}
    {% for tag in tags %}

        <input type="checkbox"
               id="{{ tag.id }}"
               class="tag-check-level-{{ level }}"
               onclick="showChildren(this.id)"
               data-related-items="{{ tag|get_items }}"
               data-children-tags="{{ tag|get_tag_children }}">
        <label for="{{ tag.id }}" style="color: black;">{{ tag.name }} {{ tag.id }}</label><br>

        {% if tag.children_tags.all %}
            <div class="input-level{{ next_level }} child-of-{{ tag.id }}" hidden="hidden">

                {% tag_hierarchy tag.children_tags.all next_level padding %}

            </div>
        {% endif %}

    {% endfor %}
{% endif %}


<style>
    .input-level{{ next_level }} {
        padding-left: {{ padding }}px;
    }
</style>
