
{% extends 'website/base.html' %}

{% load static %}

{% block head %}
<title> Vaktliste </title>
<link rel="stylesheet" href="{% static "watchlist/css/watchlist.css" %}">
<script src="{% static "watchlist/js/calendarManager.js" %}" defer></script>
{% endblock %}

{% block content %}
<div class="section hs-green white-text">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Vaktliste</h4>
                <p>Vaktlisten gir en oversikt over når verkstedet er åpent og bemannet, og hva slags kompetanse de vakthavende har.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="hs-green watchlist">
        <div class="row watchlistRow watchlistHeaderRow">
            <div class="col s1 valign-wrapper watchlistItem watchlistHeaderItem"></div>
            <div class="col s2 valign-wrapper watchlistItem watchlistHeaderItem">Mandag</div>
            <div class="col s2 valign-wrapper watchlistItem watchlistHeaderItem">Tirsdag</div>
            <div class="col s2 valign-wrapper watchlistItem watchlistHeaderItem">Onsdag</div>
            <div class="col s2 valign-wrapper watchlistItem watchlistHeaderItem">Torsdag</div>
            <div class="col s2 valign-wrapper watchlistItem watchlistHeaderItem">Fredag</div>
        </div>
        <div class="row watchlistRow">
            <div class="col s1 watchlistItem">10.15 <br> 12.15</div>
            <div class="col s2 watchlistItem">
                <span class="truncate">Navn Navnesen</span>
                <span class="truncate">Haftor Arne</span>
                <span class="truncate">Otto von Bismarck</span>
            </div>
            <div class="col s2 watchlistItem">3</div>
            <div class="col s2 watchlistItem">4</div>
            <div class="col s2 watchlistItem">5</div>
            <div class="col s2 watchlistItem">6</div>
        </div>
        <div class="row watchlistRow">
            <div class="col s1 watchlistItem">12.15 <br> 14.15</div>
            <div class="col s2 watchlistItem">2</div>
            <div class="col s2 watchlistItem">3</div>
            <div class="col s2 watchlistItem">4</div>
            <div class="col s2 watchlistItem">5</div>
            <div class="col s2 watchlistItem">6</div>
        </div>
        <div class="row watchlistRow">
            <div class="col s1 watchlistItem">14.15 <br> 16.15</div>
            <div class="col s2 watchlistItem">2</div>
            <div class="col s2 watchlistItem">3</div>
            <div class="col s2 watchlistItem">4</div>
            <div class="col s2 watchlistItem">5</div>
            <div class="col s2 watchlistItem">6</div>
        </div>
        <div class="row watchlistRow">
            <div class="col s1 watchlistItem">16.15 <br> 18.15</div>
            <div class="col s2 watchlistItem">2</div>
            <div class="col s2 watchlistItem">3</div>
            <div class="col s2 watchlistItem">4</div>
            <div class="col s2 watchlistItem">5</div>
            <div class="col s2 watchlistItem">6</div>
        </div>
    </div>
</div>
{% endblock %}