
{% extends 'website/base.html' %}

{% load static %}

{% block head %}
<title> Vaktliste </title>
<link rel="stylesheet" href="{% static "watchlist/css/watchlist.css" %}">
<script src="{% static "watchlist/js/calendarManager.js" %}" defer></script>
{% endblock %}

{% block content %}
<div class="section hs-green white-text">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Vaktliste</h4>
                <p>Vaktlisten gir en oversikt over når verkstedet er åpent og bemannet, og hva slags kompetanse de vakthavende har.</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <table class="striped watchlist">
            <thead>
                <tr class="watchlist-row watchlist-header-row">
                    <th>Tid</th>
                    {% for day in columns %}
                    <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for time, shifts in rows.items %}
                <tr class="watchlist-row">
                    <td class="watchlist-cell watchlist-time">{{ time|linebreaksbr }}</td>
                    {% for shift in shifts %}
                    <td class="watchlist-cell {% if shift.watchers.count == 0 %}watchlist-closed{% else %}watchlist-open{% endif %}">
                        <p>
                            {% if shift.watchers.count == 0 %}
                            Stengt
                            {% else %}
                            {{ shift.watchers.count }} på vakt
                            {% endif %}
                        </p>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}