<div class="card-panel">
	<div class="row">
		<div class="col s12">
			<h4>Administrativ meny</h4>
		</div>
		<div class="row">
			<div class="col s12">
				<ul class='collection'>
					{% if perms.news.change_event %}
					<li class="collection-item"><a href="/events/{{ event.id }}/edit"><i class="material-icons">edit</i>Rediger event</a></li>
					{% endif %}
					{% if event.registration and perms.news.can_see_attendees %}
					<li class="collection-item"><a href="/events/{{ event.id }}/attended"><i class="material-icons">check</i>Registrer oppmøte</a></li>
					{% endif %}
					{% if perms.news.delete_event %}
					<li class="collection-item"><a href="/events/{{ event.id }}/delete" class="modal-trigger hs-red-text"><i class="material-icons">delete</i>Slett Event</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		{% if event.registration and perms.news.can_see_attendees %}
			<div class="row">
				<div class="col s12 m12 l6">
					<ul class="collection with-header">
						<li class="collection-header">
							<h4>Venteliste</h4>
						</li>
						{% for user in event.wait_list %}
						<li class="collection-item">{{ user.get_full_name }}</li>
						{% empty %}
						<li class="collection-item">Det er ingen på ventelisten</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col s12 m12 l6">

					<ul class="collection with-header">

						<li class="collection-header">
							<h4>Alle påmeldte</h4>
						</li>

						{% for user in event.registration_list %}

						{% if not user.is_waitlisted %}
						<li class="collection-item event-attendee-row">

							<a class="event-attendee-name" href="{% url 'userprofile:profile_by_id' user.user.id %}">
								{{ user.user.get_full_name }}
							</a>

							<a class="event-attendee-icon" href="/events/{{ event.id }}/attended">

								{% if event.is_past_start %}

									{% if user.attended %}
										<span class="secondary-content tooltipped" data-position="top" data-tooltip="Oppmøte registrert!">
											😇
										</span>
									{% else %}
										<span class="secondary-content tooltipped" data-position="top" data-tooltip="Ingen oppmøte registrert!">
											😈
										</span>
									{% endif %}

								{% else %}

									<span class="secondary-content tooltipped" data-position="top" data-tooltip="Venter på arrangementstart">
										⌛
									</span>

								{% endif %}

							</a>

						</li>
						{% endif %}

						{% empty %}
						<li class="collection-item">Det er ingen påmeldte</li>

						{% endfor %}
					</ul>
				</div>
			</div>
			{% if event.servering %}
				{% if user == event.responsible or user.is_superuser %}
					<div class="row">
						<div class="col s12 m12">
							<ul class="collection with-header">

								<li class="collection-header">
									<h4>Allergier</h4>
									<span>{{event.get_allergies_count.glutenfritt}} glutenfritt</span>,
									<span>{{event.get_allergies_count.vegetar}} vegetar</span>,
									<span>{{event.get_allergies_count.vegan}} vegan</span>
									<div class="invisible-divider"></div>
								</li>

								{% for profile in event.get_profiles_with_preferences %}

									<li class="collection-item">

										<div class="invisible-divider"></div>
										{% for preference in profile.get_food_preferences_of_predefined %}
											<a class="food-preference hs-gray white-text">{{preference}}</a>
										{% endfor %}
										<div class="invisible-divider"></div>

										{% if profile.allergi_annet %}
											<span><i>{{profile.allergi_annet}}</i></span>
										{% endif %}

									</li>

								{% endfor %}

							</ul>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
</div>
