{% extends "website/base.html" %}
{% load staticfiles %}
{% load check_user_group %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{# OpenGraph Metadata #}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ article.thumbnail.abs_url }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{# OpenGraph Metadata End #}
{% endblock head %}

{% block content %}
<div class="section no-pad hs-green hide-on-med-and-up">
	<img class="header-image" src="{{ object.thumbnail.url }}" />
</div>
<div class="section no-pad hs-green hide-on-small-only">
	<div class="container center">
		<img class="responsive-img" src="{{ object.thumbnail.url }}" />
	</div>
</div>
<div class="section hs-green no-pad-top">
	<div class="container">
		<div class="card-panel cut-top z-depth-2">
			<div class="row">
				<div class="col s12">
					<h5 class="hide-on-med-and-up">{{ article.title }}</h5>
					<h3 class="hide-on-small-only">{{ article.title }}</h3>
					<p>{{ article.pub_date }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="divider"></div>
					<p><b>{{ article.ingress_content }}</b></p>
					{% autoescape off %}
						{{ article.main_content }}
					{% endautoescape %}
				</div>
			</div>
		</div>
		{% if perms.news.change_article %}
		<div class="card-panel">
			<div class="row">
				<div class="col s12">
					<h4>Administrativ meny</h4>
				</div>
				<div class="col s12">
					<ul class='collection'>
						<li class="collection-item"><a href="{% url 'news:edit' article.id %}"><i class="material-icons">edit</i>Rediger artikkel</a></li>
						{% if perms.news.delete_article %}
						<li class="collection-item"><a href="{% url 'news:delete' article.id %}" class="modal-trigger hs-red-text"><i class="material-icons">delete</i>Slett Artikkel</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<script>
		// Prevent ckeditor hard fields to allow responsive images 
		window.addEventListener('DOMContentLoaded', function(event) {
			var container = document.getElementsByClassName('card-panel')[0];
			var images = container.getElementsByTagName("img");
			console.log(images);
			var i;

			for(i = 0; i < images.length; i++) {
				images[i].className = "responsive-img";
				images[i].style.height = "";
			}
		});

	</script>
	{% endblock content %}
