{% extends "website/base.html" %}
{% load staticfiles %}
{% load check_user_group %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{% endblock header %}

{% block content %}
<img class="header-image" src="{{ article.thumbnail.url }}" />
<div class="section hs-green">
	<div class="container">
		<div class="card-panel cut-top z-depth-2">
			<div class="row">
				<div class="col s12">
					<h2>{{ article.title }}</h2>
					<p>{{ article.pub_date }}</p>
				</div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col s12">
					{% autoescape off %}
					<p class="ingress">{{ article.ingress_content }}</p>
					{{ article.main_content }}
					{% endautoescape %}
				</div>
			</div>
		</div>
	</div>
	{% if request.user|has_group:"member" %}
	<div class="container">
		<div class="row">
			<div class="col s12">
				<ul class='collection'>
					<li class="collection-item"><a href="/news/{{ article.id }}/edit"><i class="material-icons">edit</i>Rediger artikkel</a></li>
					<li class="collection-item"><a href="#deleteModal" class="modal-trigger hs-red-text"><i class="material-icons">delete</i>Slett Artikkel</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock content %}
