{% extends "website/base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{# OpenGraph Metadata #}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ article.thumbnail.abs_url }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{# OpenGraph Metadata End #}
{% endblock head %}

{% block content %}
<div class="section no-pad hs-green hide-on-med-and-up">
	<img class="header-image" src="{{ object.thumbnail.url }}" />
</div>
<div class="section no-pad hs-green hide-on-small-only">
	<div class="container center">
		<img class="responsive-img" src="{{ object.thumbnail.url }}" />
	</div>
</div>
<div class="section hs-green no-pad-top">
	<div class="container">
		<div class="card-panel cut-top z-depth-2">
			<div class="row">
				<div class="col s12">
					<h5 class="hide-on-med-and-up">{{ article.title }}</h5>
					<h3 class="hide-on-small-only">{{ article.title }}</h3>
					<p>{{ article.pub_date }}</p>
					{% if article.author %}
					<p>Skrevet av <a href="{% url 'userprofile:profile_by_id' article.author.id %}">{{ article.author.get_full_name }}</a></p>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="divider"></div>
					<p><b>{{ article.ingress_content }}</b></p>
					{% autoescape off %}
						{{ article.main_content }}
					{% endautoescape %}
				</div>
			</div>
		</div>
		{% if perms.news.change_article %}
		<div class="card-panel">
			<div class="row">
				<div class="col s12">
					<h4>Administrativ meny</h4>
				</div>
				<div class="col s12">
					<ul class='collection'>
						<li class="collection-item"><a href="{% url 'news:edit' article.id %}"><i class="material-icons">edit</i>Rediger artikkel</a></li>
						{% if perms.news.delete_article %}
						<li class="collection-item"><a href="{% url 'news:delete' article.id %}" class="modal-trigger hs-red-text"><i class="material-icons">delete</i>Slett Artikkel</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="card-panel row">

			{% if previous_article %}

				<div class="col s12 m6 {% if not next_article %}offset-m3{% endif %}">

					<h5 class="hs-grey-text">Forrige artikkel</h5>

					<a style="text-decoration:inherit; color:inherit;" href="{% url 'news:details' previous_article.id %}">
					<div class="card hoverable">

						{% if previous_article.thumbnail %}
						<div class="card-image">
							<img class="responsive-img hide-on-small-only" style="width:100%; max-height:200px; object-fit:cover;" src="{{ previous_article.thumbnail.url }}" />
						</div>
						{% endif %}

						<div class="card-content">
							<span class="card-title">
								<h6 class="hs-green-text">{{previous_article.title}}</h6>
							</span>
							<p>
								{% autoescape off %}
								{{ previous_article.ingress_content|truncatechars:150 }}
								{% endautoescape %}
							</p>
						</div>

					</div>
					</a>

				</div>

			{% endif %}

			{% if next_article %}

				<div class="col s12 m6 {% if not previous_article %}offset-m3{% endif %}">

					<h5 class="hs-grey-text">Neste artikkel</h5>

					<a style="text-decoration: inherit;
color: inherit;" href="{% url 'news:details' next_article.id %}">

					<div class="card hoverable">

						{% if next_article.thumbnail %}
						<div class="card-image">
							<img class="responsive-img hide-on-small-only" style="width:100%; max-height:200px; object-fit:cover;" src="{{ next_article.thumbnail.url }}" />
						</div>
						{% endif %}

						<div class="card-content">
							<span class="card-title">
								<h6 class="hs-green-text">{{next_article.title}}</h6>
							</span>
							<p>
								{% autoescape off %}
								{{ next_article.ingress_content|truncatechars:150 }}
								{% endautoescape %}
							</p>
						</div>

					</div></a>

				</div>

			{% endif %}

		</div>

	</div>
	<script>
		// Prevent ckeditor hard fields to allow responsive images
		window.addEventListener('DOMContentLoaded', function(event) {
			var container = document.getElementsByClassName('card-panel')[0];
			var images = container.getElementsByTagName("img");
			console.log(images);
			var i;

			for(i = 0; i < images.length; i++) {
				images[i].className = "responsive-img";
				images[i].style.height = "";
			}
		});

	</script>
	{% endblock content %}
