{% extends "website/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="section hs-red">
	<div class="container">
		<div class="card-panel">
			<div class="row">
				<div class="col s12">
					<form method="post">
						{% csrf_token %}
						<h3>Bekreft handling</h3>
						<p>Er du sikker på at du vil slette følgende artikkel?</p>
						<ul>
							<li>ID: {{ object.id }}</li>
							<li>Titel: {{ object.title }}</li>
							<li>Publiseringsdato: {{ object.pub_date }}</li>
						</ul>
						<input class="btn btn-large hs-red" type="submit" value="JA" />
					</form>
					<br><br>
					<a href="/news/" class="btn btn-large hs-green">NEI, GÅ TILBAKE</a> 
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
