{% extends 'website/base.html' %}
{% load staticfiles %}
{% load check_user_group %}
{% load picker_modal %}
{% load modal_upload %}


{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock head %}

{% block content %}
{% if request.user|has_group:"member" %}
<div class="section block hs-green white-text">
	<div class="container">
		<h2>Rediger artikkel</h2>
	</div>
</div>
<div class="section block">
	<div class="container">
		<div class="row">
			<form action="" method="post" novalidate>
				{% csrf_token %}
				{{ form.title.errors }}
				<div class="input-field col s12">
					<label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
					{{ form.title }}
				</div>
				<div class="input-field col s12">
					{{ form.ingress_content.errors }}
					{{ form.ingress_content }}
					<label for="id_ingress_content">{{ form.ingress_content.label }}</label>
				</div>

				<div class="input-field col s12">
					<p>{{ form.main_content.label }}</p>
					{{ form.main_content.errors }}
					{{ form.main_content }}
				</div>
				<div class="col s12">
					{{ form.internal.errors }}
					<div class="col s12">
						<p>
							<label>
								<input type="checkbox" id="internal-check" name="internal" value="{{ form.internal.value }}"/>
								<span for="internal-check">{{ form.internal.label }}</span>
							</label>
						</p>
					</div>
				</div>
				<div class="col s12">
					{{ form.thumbnail.errors }}
					<div class="input-field">
						<input id="{{ form.thumbnail.id_for_label }}" name="thumbnail" type="hidden" value="{{ form.thumbnail.value }}">
					</div>
					<input id="fileInput" type="hidden">
					<div id="thumbnailPicker" class="modal">
						<div class="modal-content">
							{% ImagePickModal request %}
						</div>
					</div>
					<a class="modal-trigger waves-effect waves-light btn btn-large" data-target="uploadModal">Last opp nytt bilde</a>
					{% if form.thumbnail.value %}
					<div id="thumb-preview" class="card center-align small thumb-preview modal-trigger" data-target="thumbnailPicker" style="background-image: url('/files/image/{{ form.thumbnail.value }}/view); background-size:contain; background-repeat:no-repeat;">
						{% else %}
					<div id="thumb-preview" class="card center-align small thumb-preview modal-trigger" data-target="thumbnailPicker" style="background-image: none; background-size:contain; background-repeat:no-repeat;">
						{% endif %}
							<h5 class="hover-text">Trykk for å velge bilde</h5>
					</div>
				<div>
				<button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Lagre</button>
			</form>
			{% UploadModal request %}
		</div>
		{% endif %}
	</div>
</div>
<script>
var thumbModal = document.querySelector('#thumbnailPicker');
var instance = M.Modal.init(thumbModal);

var selectButtons = document.querySelector('.selectButton');
var thumbnail_input = document.querySelector('#id_thumbnail');
var thumb_preview = document.querySelector('#thumb-preview');


document.addEventListener('click', function(e) {
	if(e.target.innerText == "SELECT") {
		var selectedImgId = e.target.attributes.value.value;
		thumbnail_input.value = selectedImgId;
		thumb_preview.style.backgroundImage = "url('/files/image/" + selectedImgId + "/view')";
		M.toast({html: 'Bilde er valgt.'});
		M.Modal.getInstance(thumbModal).close();
	}
});
var internalCheck = document.getElementById('internal-check');
internalCheck.addEventListener("change", function() {
	if(internalCheck.checked == true) {
		internalCheck.checked = true;
		internalCheck.value = "True";
	} else {
		internalCheck.checked = false;
		internalCheck.value = "False";
	}
});

if(internalCheck.value == "True") {
	internalCheck.checked = true;
} else {
	internalCheck.checked = false;
}
</script>
{% endblock content %}
