{% extends 'website/base.html' %}
{% load staticfiles %}
{% load check_user_group %}
{% load picker_modal %}


{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock head %}

{% block content %}
{% if request.user|has_group:"member" %}
<div class="section block hs-green white-text">
	<div class="container">
		<h2>Rediger artikkel</h2>
	</div>
</div>
<div class="section block">
	<div class="container">
		<div class="row">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.title.errors }}
				<div class="input-field col s12">
					<label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
					{{ form.title }}
				</div>
				<div class="input-field col s12">
					{{ form.ingress_content.errors }}
					{{ form.ingress_content }}
					<label for="id_ingress_content">{{ form.ingress_content.label }}</label>
				</div>

				<div class="input-field col s12">
					<p>{{ form.main_content.label }}</p>
					{{ form.main_content.errors }}
					{{ form.main_content }}
				</div>
				<div class="col s12">
					<p> {{ form.internal.errors }}
					<input type="checkbox" id="internal-box" name="internal" value="{{ form.internal.value }}"/>
					<label for="internal-box">{{ form.internal.label }}</label>
					</p>
				</div>
				<div class="col s12">
					<div class="hidden">
						{{ form.thumbnail.errors }}
						<div class="input-field">
							<label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
							<input id="{{ form.thumbnail.id_for_label }}" name="thumbnail" type="text" value="{{ form.thumbnail.value }}">
						</div>
					</div>
					<div id="thumbnailPicker" class="modal">
						<div class="modal-content">
							{% ImageModal request %}
						</div>
					</div>
					<a class="btn btn-large modal-trigger" href="#thumbnailPicker" >Modal</a>
				<div>
				<button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Lagre</button>
			</form>
		</div>
		{% endif %}
	</div>
</div>
<script>
var thumbModal = document.querySelector('#thumbnailPicker');
var instance = M.Modal.init(thumbModal);

var selectButtons = document.querySelector('.selectButton');
var thumbnail_input = document.querySelector('#id_thumbnail');

document.addEventListener('click', function(e) {
	console.log(e);
	if(e.target.innerText == "SELECT") {
		var selectedImgId = e.target.attributes.value.value;
		alert("Selected an image with value " + selectedImgId);
		thumbnail_input.value = selectedImgId;
	}
});
</script>
{% endblock content %}
