{% extends 'website/base.html' %}
{% load staticfiles %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="section hs-green white-text">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h4>Rediger event</h4>
			</div>
		</div>
	</div>
</div>
<div class="section">
		<div class="container">
			<form method="post" novalidate>
			<div class="card-panel">
				<div class="row">
						{% csrf_token %}
						{{ form.non_field_errors }}
						<div class="col s12">
							<h5>Innhold</h5>
							<div class="divider"></div>
						</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						{{ form.title }}
						{{ form.title.label_tag }}
						{{ form.title.help_text }}
					</div>
					<div class="input-field col s12">
						{{ form.ingress_content }}
						{{ form.ingress_content.label_tag }}
						<span class="helper-text">{{ form.ingress_content.help_text }}</span>
					</div>
					<div class="input-field col s12">
						<p>{{ form.main_content.label }}</p>
						<span class="helper-text hs-red-text">{{ form.main_content.errors }}</span>
						{{ form.main_content }}
					</div>
				</div>
			</div>
			<div class="card-panel">
				<div class="row">
					<div class="col s12">
						<h5>Velg hovedbilde</h5>
						<div class="divider"></div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						{% include 'files/_gallery_include.html' %}
					</div>
				</div>
			</div>
			<div class="card-panel">
				<div class="row">
					<div class="col s12">
						<h5>Generelt</h5>
						<div class="divider"></div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 input-field">
						<p>
						<i class="material-icons prefix">card_membership</i>
						<label>
							{{ form.internal }}
							<span>Internt arrangement (Kun Hackerspace-medlemmer kan se arrangementet)</span>
						</label>
						</p>
						<span class="helper-text hs-red-text">{{ form.internal.errors }}</span>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">date_range</i>
						{{ form.time_start }}
						{{ form.time_start.label_tag }}
						<span class="helper-text hs-red-text">{{ form.time_start.errors }}</span>
					</div>

					<div class="input-field col s12 m6">
						<i class="material-icons prefix">date_range</i>
						{{ form.time_end }}
						{{ form.time_end.label_tag }}
						<span class="helper-text hs-red-text">{{ form.time_end.errors }}</span>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">location_on</i>
						{{ form.place }}
						{{ form.place.label_tag }}
						<span class="helper-text hs-red-text">{{ form.place.errors }}</span>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">link</i>
						{{ form.place_href }}
						{{ form.place_href.label_tag }}
						<span class="helper-text hs-red-text">{{ form.place_href.errors }}</span>
					</div>
					<div class="col s12 input-field">
						<p>
						<i class="material-icons prefix">fastfood</i>
						<label>
							{{ form.servering }}
							<span>{{ form.servering.label }}</span>
						</label>
						</p>
						<span class="helper-text hs-red-text">{{ form.servering.errors }}</span>
					</div>
					<div class="col s12 input-field">
						<p>
						<i class="material-icons prefix">group_add</i>
						<label>
							{{ form.registration }}
							<span>{{ form.registration.label }}</span>
						</label>
						</p>
						<span class="helper-text hs-red-text">{{ form.registration.errors }}</span>
					</div>
					<div class="col s12 input-field ext-reg">
						{{ form.external_registration }}
						{{ form.external_registration.label_tag }}
						<span class="helper-text">La stå tom dersom arrangementet ikke behøver påmelding.</span>
						<span class="helper-text hs-red-text">{{ form.external_registration.errors }}</span>
					</div>
				</div>
			</div>
			<div class="card-panel reg-box">
				<div class="row">
					<div class="col s12">
						<h5>Påmelding</h5>
						<div class="divider"></div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">event_seat</i>
						{{ form.max_limit }}
						{{ form.max_limit.label_tag }}
						<span class="helper-text hs-red-text">{{ form.max_limit.errors }}</span>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">event_available</i>
						{{ form.registration_start }}
						{{ form.registration_start.label_tag }}
						<span class="helper-text hs-red-text">{{ form.registration_start.errors }}</span>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">event_busy</i>
						{{ form.deregistration_end }}
						{{ form.deregistration_end.label_tag }}
						<span class="helper-text hs-red-text">{{ form.deregistration_end.errors }}</span>
					</div>
				</div>
			</div>
			<div class="card-panel reg-box">
				<div class="row">
					<div class="col s12">
						<h5>Ferdig</h5>
						<div class="divider"></div>
						<br>
						<button class="btn btn-large hs-green white-text waves-effect waves-light" type="submit">Lagre Arrangement</button>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
<script src="{% static 'news/js/edit_event.js' %}"></script>

{% endblock content %}
