{% extends 'website/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{% endblock head %}

{% block content %}
    <div class="section hs-green white-text">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Rediger arrangement</h4>
                </div>
            </div>
        </div>
    </div>
    <form enctype="multipart/form-data" method="post" novalidate>
        <div class="section">
            <div class="container">
                <div class="card-panel">
                    <div class="row">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="col s12">
                            <h5>Innhold</h5>
                            <div class="divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.title }}
                            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.title.errors }}</span>
                            {{ form.title.help_text }}
                        </div>
                        <div class="input-field col s12">
                            {{ form.ingress_content }}
                            <label for="id_ingress_content">{{ form.ingress_content.label }}</label>
                            <span class="helper-text">{{ form.ingress_content.help_text }}</span>
                            <span class="helper-text hs-red-text">{{ form.ingress_content.errors }}</span>
                        </div>
                        <div class="input-field col s12">
                            <p>{{ form.main_content.label }}</p>
                            <span class="helper-text hs-red-text">{{ form.main_content.errors }}</span>
                            {{ form.main_content }}
                            <div class="helper-text">
                                <p>Bare markdown støttes i dette feltet, html blir returnert som plaintext. Bilder kan legges til ved drag-and-drop.</p>
                                <p><a href="https://www.markdownguide.org/cheat-sheet/">Markdown cheat-sheet</a></p>
                            </div>
                        </div>
                        {{ form.media }}
                    </div>
                </div>
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>Velg hovedbilde</h5>
                            <div class="divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {% include 'files/_gallery_include.html' %}
                        </div>
                    </div>
                </div>
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>Generelt</h5>
                            <div class="divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <p>
                                <i class="material-icons prefix">card_membership</i>
                                <label>
                                    {{ form.internal }}
                                    <span>Internt arrangement (Kun Hackerspace-medlemmer kan se arrangementet)</span>
                                </label>
                            </p>
                            <span class="helper-text hs-red-text">{{ form.internal.errors }}</span>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">person</i> 
                            {{ form.responsible }}
                            <label for="id_responsible">{{ form.responsible.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.responsible.errors }}</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">date_range</i>
                            {{ form.time_start }}
                            <label for="id_time_start">{{ form.time_start.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.time_start.errors }}</span>
                        </div>

                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">date_range</i>
                            {{ form.time_end }}
                            <label for="id_time_end">{{ form.time_end.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.time_end.errors }}</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">location_on</i>
                            {{ form.place }}
                            <label for="id_place">{{ form.place.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.place.errors }}</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">link</i>
                            {{ form.place_href }}
                            <label for="id_place_href">{{ form.place_href.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.place_href.errors }}</span>
                        </div>
                        <div class="col s12 input-field">
                            <p>
                                <i class="material-icons prefix">fastfood</i>
                                <label>
                                    {{ form.servering }}
                                    <span>{{ form.servering.label }}</span>
                                </label>
                            </p>
                            <span class="helper-text hs-red-text">{{ form.servering.errors }}</span>
                        </div>
                        <div class="col s12 input-field">
                            <p>
                                <i class="material-icons prefix">group_add</i>
                                <label>
                                    {{ form.registration }}
                                    <span>{{ form.registration.label }}</span>
                                </label>
                            </p>
                            <span class="helper-text hs-red-text">{{ form.registration.errors }}</span>
                        </div>
                        <div class="col s12 input-field ext-reg">
                            {{ form.external_registration }}
                            <label for="id_external_registration">{{ form.external_registration.label }}</label>
                            <span class="helper-text">La stå tom dersom arrangementet ikke behøver påmelding.</span>
                            <span class="helper-text hs-red-text">{{ form.external_registration.errors }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-panel reg-box">
                    <div class="row">
                        <div class="col s12">
                            <h5>Påmelding</h5>
                            <div class="divider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">event_seat</i>
                            {{ form.max_limit }}
                            <label for="id_max_limit">{{ form.max_limit.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.max_limit.errors }}</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">event_available</i>
                            {{ form.registration_start }}
                            <label for="id_registration_start">{{ form.registration_start.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.registration_start.errors }}</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">event_available</i>
                            {{ form.registration_end }}
                            <label for="id_registration_end">{{ form.registration_end.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.registration_end.errors }}</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">event_busy</i>
                            {{ form.deregistration_end }}
                            <label for="id_deregistration_end">{{ form.deregistration_end.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.deregistration_end.errors }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-panel reg-box">
                    <div class="row">
                      <div class="col s12">
                        <h5>Ferdigheter</h5>
                        <p>Dersom arrangementet er et kurs, kan du legge inn ferdighetene som læres bort her. 
                            De vil automatisk legges til alle med registrert oppmøte.</p>
                        <div class="divider"></div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.skills }}
                            <label for="id_skills">{{ form.skills.label }}</label>
                            <span class="helper-text hs-red-text">{{ form.skills.errors }}</span>
                        </div>
                    </div>
                </div>
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>Filer</h5>
                            <p>Det kan være nyttig å legge ved powerpoint eller andre relevante filer i arrangementet.
                                Da får deltakerene mulighet til å gjøre seg klare før arrangementet starter.</p>
                            <div class="divider"></div>
                            <br>
                        </div>
                        {{ uploads_form.management_form }}
                        {% for form in uploads_form %}
                            <div class="input-field col s12">
                                {{ form.id }}
                                {{ form.title }}
                                <label for="id_title">{{ form.title.label }}</label>
                                {{ form.file }}
                                <span class="helper-text hs-red-text">{{ form.file.errors }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-panel">
                    <div class="row">
                        <div class="col s12">
                            <h5>Ferdig</h5>
                            <div class="divider"></div>
                            <br>
                            <div class="hide col s12 input-field">
                                <div class="col s12">
                                    <p>
                                        <label>
                                            {{ form.draft }}
                                            <span>{{ form.draft.label }}</span>
                                        </label>
                                    </p>
                                    <span class="helper-text hs-red-text">{{ form.internal.errors }}</span>
                                </div>
                            </div>
                            <button id="submit" class="hide btn btn-large hs-green waves-effect waves-light"
                                    type="submit" name="form_submit">Lagre og publiser arrangement
                            </button>
                            <a class="btn btn-large hs-green waves-effect waves-light" onclick="saveAndPublish()">Lagre
                                og publiser arrangement</a>
                            <a class="btn btn-large hs-gray waves-effect waves-light" onclick="saveAsDraft()">Lagre som
                                utkast</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="{% static 'news/js/edit_event.js' %}"></script>
    <script src="{% static 'news/js/save_draft_or_publish.js' %}"></script>

{% endblock content %}
