{% extends 'website/base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>

{% endblock head %}

{% block content %}
{% if request.user|has_group:"member" %}
<div class="section hs-green white-text">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2>Rediger event</h2>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<form action="" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{{ form.title.errors }}
		<div class="container">
			<div class="row">
				<div class="input-field col s12">
					{{ form.title }}
					<label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
				</div>
				<div class="input-field col s12">
					{{ form.ingress_content.errors }}</textarea>
					{{ form.ingress_content }}
					<label for="{{ form.ingress_content.id_from_label }}">{{ form.ingress_content.label }}</label>
				</div>
				<div class="input-field col s12">
					<p>{{ form.main_content.label }}</p>
					{{ form.main_content.errors }}
					{{ form.main_content }}
				</div>
				{{ form.max_limit.errors }}
				{{ form.registration_start_time.errors }}
				{{ form.registration_start_date.errors }}
				{{ form.deregistration_end_time.errors }}
				{{ form.deregistration_end_date.errors }}
				{{ form.time_start.errors }}
				{{ form.time_end.errors }}
				{{ form.date.errors }}
			</div>
			<div class="row">
				<div class="col s12">
					<p>Ved ekstern påmelding (f.eks. hoopla), skriv inn url her (husk http://) og IKKE velg påmelding nedenfor</p>
					<div class="input-field">
						{{ form.external_registration.errors }}
						{{ form.external_registration }}
						<label for="{{ form.external_registration.id_for_label }}">{{ form.external_registration.label }}</label>
					</div>
				</div>
				<div class="col s12">
					{{ form.registration.errors }}
					<p>
						<i class="material-icons prefix">group_add</i>
						<label>
							<input type="checkbox" id="registration-check" name="registration" value="{{ form.registration.value }}"/>
							<span for="registration-check">{{ form.registration.label }}</span>
						</label>
					</p>
				</div>
			</div>
			<div class="row" id="registration-box">
				<div class="input-field col s12">
					<i class="material-icons prefix">event_seat</i>
					<label for="{{ form.max_limit.id_for_label }}">{{ form.max_limit.label }}</label>
					{{ form.max_limit }}
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">event_available</i>
					<input id="{{ form.registration_start_date.id_for_label }}" class="datepicker-start" name="registration_start_date" value="{{ form.registration_start_date.value }}">
					<label class="active" for="{{ form.registration_start_date.id_for_label }}">{{ form.registration_start_date.label }}</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">hourglass_empty</i>
					<label for="{{ form.registration_start_time.id_for_label }}">{{ form.registration_start_time.label }}</label>
					{{ form.registration_start_time }}
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">event_busy</i>
					<label for="{{ form.deregistration_end_date.id_for_label }}">{{ form.deregistration_end_date.label }}</label>
					<input type="text" id="{{ form.deregistration_end_date.id_for_label }}" class="datepicker-end" name="deregistration_end_date" value="{{ form.deregistration_end_date.value }}" />
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">hourglass_full</i>
					<label for="{{ form.deregistration_end_time.id_for_label }}">{{ form.deregistration_end_time.label }}</label>
					{{ form.deregistration_end_time }}
				</div>
			</div>
			<div class="row">
				{{ form.internal.errors }}
				<div class="col s12">
					<i class="material-icons prefix">card_membership</i>
					<input type="checkbox" id="internal-box" name="internal" value="{{ form.internal.value }}"/>
					<label for="internal-box">{{ form.internal.label }}</label>
					<br><br><br>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">access_time</i>
					{{ form.time_start }}
					<label for="{{ form.time_start.id_for_label }}">{{ form.time_start.label }}</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">weekend</i>
					{{ form.time_end }}
					<label for="{{ form.time_end.id_for_label }}">{{ form.time_end.label }}</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">date_range</i>
					<input type="text" id="{{ form.date.id_for_label }}" class="datepicker" name="date" value="{{ form.date.value }}">
					<label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field hidden">
					{{ form.thumbnail.errors }}
					<input class="thumbnailPicker" id="{{ form.thumbnail.id_for_label }}" name="thumbnail" type="text" value="{{ form.thumbnail.value }}">
					<label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
				</div>
				<div class="col s12">
					<i class="material-icons prefix">photo_library</i>
					<label for="thumb-preview">Thumbnail</label>
					<div id="thumb-preview" class="card small thumb-preview" style="background-image: url(/files/image/{{ form.thumbnail.value }}/view);">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">location_on</i>
					{{ form.place.errors }}
					{{ form.place }}
					<label for="{{ form.place.id_for_label }}">{{ form.place.label }}</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">link</i>
					{{ form.place_href.errors }}
					{{ form.place_href }}
					<label for="{{ form.place_href.id_for_label }}">{{ form.place_href.label }}</label>
				</div>
			</div>

			<button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Lagre</button>
		</form>
	</div>
</div>
{% endif %}

<script>
	var startDate = document.querySelector('.datepicker-start');
	var endDate = document.querySelector('.datepicker-end');
	var select = document.querySelector('.datepicker-end');
	var instance = M.Datepicker.init(endDate);
	var instance = M.Datepicker.init(startDate);
	var instance = M.Datepicker.init(select);

	var registrationCheck = document.getElementById('registration-check');
	var registrationBox = document.getElementById('registration-box');

	registrationCheck.addEventListener("change", function() {
		if(registrationCheck.checked == true) {
			registrationCheck.checked = true;
			registrationCheck.value = "True";
			registrationBox.style.display = "block";
		} else {
			registrationCheck.checked = false;
			registrationCheck.value = "False";
			registrationBox.style.display = "none";
		}
	});

	if(registrationCheck.value == "True") {
		registrationCheck.checked = true;
		registrationBox.style.display = "block";
	} else {
		registrationBox.checked = false;
		registrationBox.style.display = "none";
	}

</script>
<script>
  $(document).ready(function() {
	    $('#id_ingress_content').characterCounter();
  });
</script>
{% endblock content %}
