{% extends "website/base.html" %}
{% load i18n %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{% endblock header %}

{% block content %}
    {% translate "Arrangementer" as trans_events %}
    {% include "website/page_overviews/content_title.html" with title=trans_events %}
    {% include "news/_list_admin_banner.html" %}
    {% if drafts %}
        <div class="section grey lighten-3">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h5 class="subheader">{% trans "Dine utkast" %}</h5>
                        <div class="invisible-divider"></div>
                        {% for event in drafts %}
                            {% include 'news/_event-list-element.html' with status=status.grouper %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {# Grupper events ut ifra Event.is_past_due som returnerer enten Pågående, Kommende, Tidligere #}
    {% regroup object_list|dictsort:"is_past_due" by is_past_due as status_list %}
    <div class="section block">
        <div class="container">
            {% if indicator_text %}
                {% include "news/internal_indicator.html" %}
            {% endif %}
            {% for status in status_list %}
                <div class="row">
                    <div class="col s12">
                        <h5 class="subheader">{{ status.grouper|slice:"1:" }}</h5>
                        <div class="divider"></div>
                    </div>
                </div>
                {% for event in status.list %}
                    {% include 'news/_event-list-element.html' with status=status.grouper %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% include 'website/_paginator.html' %}
{% endblock %}
