{% extends "website/base.html" %}
{% load staticfiles %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{% endblock header %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row white-text valign-wrapper">
			<div class="col s12">
				<h4>
					Arrangementer
				</h4>
			</div>
			<div class="col s12">
				{% include "news/internal_indicator.html" with indicator=internal_events_indicator %}
			</div>
		</div>
	</div>
</div>
{% include "news/_list_admin_banner.html" %}
{# Grupper events ut ifra Event.is_past_due som returnerer enten Pågående, Kommende, Tidligere #}
{% regroup object_list|dictsort:"is_past_due" by is_past_due as status_list %}
<div class="section block">
	<div class="container">
	{% for status in status_list %}
		<div class="row">
			<div class="col s12">
				<h5 class="subheader">{{ status.grouper|slice:"1:" }}</h5>
				<div class="divider"></div>
			</div>
		</div>
		{% for event in status.list %}
			{% include 'news/_event-list-element.html' with status=status.grouper %}
		{% endfor %}
	{% endfor %}
</div>
{% include 'website/_paginator.html' %}
{% endblock %}
