{% extends "website/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="section hs-red">
        <div class="container">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <form method="post">
                            {% csrf_token %}
                            <h3>{% trans "Confirm Action" %}</h3>
                            <p>{% trans "Are you sure you want to delete the following event?" %}</p>
                            <ul>
                                <li>ID: {{ object.id }}</li>
                                <li>{% trans "Title" %}: {{ object.title }}</li>
                                <li>{% trans "Publication Date" %}: {{ object.pub_date }}</li>
                            </ul>
                            <input class="btn btn-large hs-red" type="submit" value="{% trans "YES" %}" />
                        </form>
                        <br><br>
                        <a href="{% url 'news:all' %}" class="btn btn-large hs-green">{% trans "NO, GO BACK" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
