{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}

{% endblock head %}

{% block content %}


    <div class="content">
        <div class="card">
            <form action="toggle" method="post">
                {% csrf_token %}
                <div class="input-field user_search_field">
                    <input name="user" type="text" id="autocomplete-input" class="autocomplete" autocomplete="off">
                    <label for="autocomplete-input" id="autocomplete-text">Bruker</label>
                </div>
                <a class="waves-effect waves-light btn submit" onclick="post();">Registrer</a>
            </form>
        </div>
        <div class="registered_users">
          <ul class="collapsible" data-collapsible="accordion">
            {% if event.registered_list %}
              <li>
                <div class="collapsible-header">Påmeldte</div>
                <div class="attendee-list collapsible-body people">
                  {% for user in event.registered_list %}
                    <div>
                        {% if user.1 in attending_usernames %}
                            <i class="material-icons checkmark" id="check">check_box</i>
                        {% else %}
                            <i class="material-icons checkmark" id="uncheck">check_box_outline_blank</i>
                        {% endif %}
                        <p class="inline user" username="{{ user.1 }}">{{ user.0 }}</p>
                    </div>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
            {% if event.wait_list %}
              <li>
                <div class="collapsible-header">Venteliste</div>
                <div class="attendee-list collapsible-body people">
                  {% for user in event.wait_list %}
                    <p>{{ user.0 }}. {{ user.1 }}</p>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          </ul>
          <script>
            $(function(){
             $('.collapsible').collapsible();
           });
          </script>
        </div>
    </div>

    <style>
        #check {
            color: var(--hs-green);
        }
        #uncheck {
            color: var(--hs-gray-li2);
        }
        .checkmark {
            vertical-align: middle;
            margin-bottom: 6px;
        }
        .inline {
            display: inline-block;
        }
        input.inline {
            float: right;
        }
        #autocomplete-text.active {
            color: #9e9e9e !important;
        }
        .content {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            padding: 50px;
        }
        .card {
            height: 150px;
            padding: 30px;
        }
        .name {
            text-transform: capitalize;
        }
        input, .input-field {
            display: inline-block;
        }
        .user_search_field {
            width: 60%;
        }
        .submit {
            width: 35%;
            margin-top: 25px;
            float: right;
        }
        .name, .username{
            display: inline-block;
            width: 200px;
        }
        .toggle {
            width: 50px;
            display: inline-block;
            float: right;
        }
        .people p {
            margin: 1px;
            padding: 1px;
        }
        .collapsible {
          background-color: #eee;
        }
        .collapsible-body {
          padding: 20px;
        }
    </style>
    <script>
        function toggle(user) {
            $.ajax({
                url: '/news/event/{{ id }}/attendees/toggle/',
                data: user,
            });
        }
        $(".toggle").click(function() {
            toggle($(this).attr("user"));
        });
        $(function() {
            $('input.autocomplete').autocomplete({
                data: {
                    {% for user in users %}
                        "{{ user.name }} - {{ user.username }}": null,
                    {% endfor %}
                }
            });
        });

        function post() {
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
              }
          });
          $.ajax({
            type: "POST",
            url: '',
            data: {'name': $("#autocomplete-input").val()},
            success: function(data){
              Materialize.toast(data['message'], 4000);
              $("#autocomplete-input").val('');
              if (data['success']) {
                var par = $(".user[username=" + data["username"] + "]").parent();
                par.find(".checkmark").html("check_box").css("color", "var(--hs-green)");
              }
            }
          });
        }
    </script>
{% endblock content %}
