{% extends 'website/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{# OpenGraph Metadata #}
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ object.thumbnail.abs_url }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{# OpenGraph Metadata End #}
{% endblock head %}
{% block content %}
<div class="section no-pad hs-green hide-on-med-and-up">
	<img class="header-image" src="{{ object.thumbnail.url }}" />
</div>
<div class="section no-pad hs-green hide-on-small-only">
	<div class="container center">
		<img class="responsive-img" src="{{ object.thumbnail.url }}" />
	</div>
</div>
<div class="section hs-green no-pad-top">
	<div class="container">
		<div class="card-panel cut-top white z-depth-1 no-top-shadow">
			<div class="row">
				<div class="col s12">
                    {% if event.draft %}
                  <div class="listview-indicator card-panel black-text grey tooltipped lighten-2 z-depth-0" data-position="bottom" data-tooltip="Dette arrangementet er lagret som utkast og dermed kun synlig for deg">
                        <i class="material-icons">info</i>
                        <span>Lagret som utkast</span>
			            </div>
					{% endif %}
					<h5 class="hide-on-med-and-up">{{ event.title }}</h5>
					<h3 class="hide-on-small-only">{{ event.title }}</h3>
					{% if event.internal %}
						<p>Dette er et internt arrangement.</p>
					{% else %}
						<p>Dette arrangementet er åpent for alle studenter uavhengig av Hackerspace-medlemskap</p>
					{% endif %}
					<div class="divider"></div>
				</div>
				<div class="col s12">
					{% if event.responsible %}
					<p>Arrangementansvarlig: <a href="{% url 'userprofile:profile_by_id' event.responsible.id %}">{{ event.responsible.get_full_name }}</a></p>
					{% endif %}
					{% if event.time_end|date:"d. F Y" != event.time_start|date:"d. F Y" %}
						<p><i class="material-icons small">event</i> Fra {{ event.time_start }}</p>
						<p><i class="material-icons small">event_busy</i> Til {{ event.time_end }}</p>
					{% else %}
					<p><i class="material-icons small">event</i> {{ event.time_start|date:"d. F Y" }}</p>
					<p><i class="material-icons small">access_time</i> {{ event.time_start|date:"H:i" }} til {{ event.time_end|date:"H:i" }}</p>
					{% endif %}
					{% if event.place %}
						{% if event.place_href %}
						<p><i class="material-icons small">location_on</i> <a href="{{ event.place_href }}" target="_blank">{{ event.place }}</a></p>
						{% else %}
						<p><i class="material-icons small">location_on</i>{{ event.place }}</p>
						{% endif %}
					{% endif %}
				</div>
				<div class="col s12">
					<div class="divider"></div>
					<p><b>{{ event.ingress_content }}</b></p>
					{% autoescape off %}
					{{ event.main_content }}
					{% endautoescape %}
					<div class="divider"></div>
					<p><a href="{% url 'events:feed' event.id %}">
						<button class="btn btn-flat white-text waves-effect waves-light hs-green"><i class="material-icons small">event_note</i> Last ned ICS-fil</button>
					</a></p>
				</div>
				{% if event.skills.all %}
				<div class="col s12">
					<div class="divider"></div>
					<p>Ved å delta på arrangementet vil du få følgende ferdigheter godkjent:</p>
					<ul class="collection collapsible expandable z-depth-0">
						{% for skill in event.skills.all %}
						<li>
							<span id="skill{{skill.id}}" class="skill-anchor"></span>
							<div class="collapsible-header skill-reachable hs-gray white-text valign-wrapper">
								<span>{{skill}}
								{% if skill in user_skills %}
								<i class="material-icons right tooltipped hs-green-text" data-position="right" data-tooltip="Du har allerede denne ferdigheten">check</i>
								{% elif skill in unreachable_skills %}
								<i class="material-icons right tooltipped hs-red-text" data-position="right" data-tooltip="Du mangler en forutsetning for denne ferdigheten">warning</i>
								{% endif %}
								</span>
								{% include "userprofile/skill_badges.html"%}
							</div>
							<div class="collapsible-body grey lighten-2">
								{% include "userprofile/skill_description.html" %}
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="card-panel white z-depth-1">
			<div class="row no-bottom-margin">

				<div class="col s12">
					<h5>Påmelding</h5>
				</div>
				<div class="col s12">
					{% if event.registration %}
					<div class="progress hs-gray">
						<div class="determinate hs-green" style="width: {{ event.registered_percentage }}%"></div>
						<p class="counter center white-text">Påmeldte: {{ event.registered_count }} / {{ event.max_limit }} ({{ event.waiting_count }} på venteliste)</p>
					</div>
					{% endif %}
				</div>
				<div class="col s12">
						{% if event.registration %}
						{% if userstatus == "ikke pålogget" %}
						<a class="hs-yellow btn btn-flat" href="{% url 'social:begin' 'dataporten_feide' %}?next={{ request.path }}">Logg inn for å melde deg på</a>
						{% elif userstatus == "ikke påmeldt" %}
							{% if event.can_register == "ok" %}
								<a class="btn btn-flat white-text waves-effect waves-light hs-green modal-trigger" href="#registrationModal">Meld deg på</a>
							{% elif event.can_register == "tidlig" %}
								<a class="btn disabled tooltipped">Meld deg på</a>
								<p>Påmelding åpner {{ event.registration_start }}.</p>
							{% else %}
								<a class="btn disabled tooltipped">Meld deg på</a>
								<p>Fristen for påmelding er ute.</p>
							{% endif %}
						{% elif userstatus == "påmeldt" or userstatus == "på ventelisten" %}
							{% if event.can_deregister %}
								<a class="btn waves-effect btn-flat white-text waves-light hs-red modal-trigger" href="#registrationModal">Meld deg av</a>
							{% else %}
								<a class="btn disabled tooltipped">Meld deg av</a>
								<p>Fristen for avregistrering er ute.</p>
							{% endif %}
							<p class="hs-grey-text">{{ get_position }}</p>
						{% endif %}
						<p>Frist for påmelding er {{ event.registration_end }}</p>
						<p>Frist for avmelding er {{ event.deregistration_end }}</p>

						{% elif event.external_registration %}
							<p>Arrangementet benytter ekstern nettside for pålogging.</p>
							<a class="btn btn-flat white-text waves-effect waves-light hs-green"
                               href="{{ event.external_registration }}"
                               target="_blank"
                               rel=“nofollow”>
                                Åpne påmeldingsside i ny fane
                            </a>
						{% elif event.expired %}
							<p>Arrangementet er over og du kan ikke melde deg på.</p>
						{% else %}
							<p>Arrangementet krever ikke påmelding.</p>
						{% endif %}
				</div>
			</div>
		</div>
		{% if event.files.all|length > 0 %}
		<div class="card-panel white z-depth-1">
			<div class="row">
				<div class="col s12">
					<h5>Filer</h5>
					<p>Arrangøren har lagt ved følgende filer<p>
					<div class="divider"></div>
				</div>
			</div>
			<div class="row center">
				{% for file in event.files.all %}
				{% if file.file %}
				<div class="col s12 m6 l6">
					<a target="_blank" href="{{ file.file.url }}">
					<i class="material-icons medium hs-gray-text">
						{% if "pdf" in file.file.url %}
						picture_as_pdf
						{% elif "jpg" in file.file.url or "png" in file.file.url or "gif" in file.file.url %}
						photo
						{% elif "ppt" in file.file.url or "odp" in file.file.url %}
						cast_for_education
						{% else %}
						attachment
						{% endif %}
					</i>
					<p class="flow-text">{{ file.title }}</p>
					<small>{{ file.file.name }}</small>
					</a>
				</div>
				{% endif %}
				{% empty %}
				<p>Ingen filer</p>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		{% if perms.news.change_event %}
			{% include 'news/_event_admin_menu.html' %}
		{% endif %}
	</div>
</div>


<div id="registrationModal" class="modal">
	<div class="modal-content">
		<h4>Informasjon om påmelding</h4>
			{% if userstatus == "påmeldt" or userstatus == "på ventelisten" %}
				<p>Du forsøker å melde deg av arrangementet.</p>
				<p>Merk at dersom det er venteliste i arrangementet, vil du havne bakerst i køen dersom du øsnker å melder deg på igjen.</p>
				{% if event.can_register == "sen" %}
					<p><b>Arrangementets påmeldingsfrist er utløpt. Dersom du melder deg av, har du ikke mulighet til å melde deg på igjen.</b></p>
				{% endif %}
			{% else %}
			<p>Ved å melde deg på dette arrangementet forventes det at du møter opp.</p>
			<p>Du kan <b>ikke</b> melde deg av etter {{ event.deregistration_end | date:"d M Y, H:i" }}</p>
				{% if event.servering %}
					<p>Dette arrangementet har servering. Sørg for at dine <a target="_blank" href="{% url 'userprofile:edit_profile' %}">innstillinger for matpreferanser</a> er oppdaterte.</p>
				{% endif %}
			{% endif %}
	</div>
	<form method="post" action="/events/{{ event.id }}/register/">
		<div class="modal-footer">
			{% csrf_token %}
			{% if userstatus == "påmeldt" %}
			<button class="btn btn-flat white-text waves-effect waves-light hs-red" type="submit" name="action">Meld deg av</button>
			{% else %}
			<button class="btn waves-effect btn-flat white-text waves-light hs-green" type="submit" name="action">Meld deg på</button>
			{% endif %}
			<a class="modal-action modal-close waves-effect waves-gray btn-flat">Cancel</a>
		</div>
	</form>
</div>


<script>
// Prevent ckeditor hard fields to allow responsive images
window.addEventListener('DOMContentLoaded', function(event) {
	var container = document.getElementsByClassName('card-panel')[0];
	var images = container.getElementsByTagName("img");
	console.log(images);
	var i;

	for(i = 0; i < images.length; i++) {
		images[i].className = "responsive-img";
		images[i].style.height = "";
	}
});

</script>
{% endblock content %}

