{% extends "website/base.html" %}
{% load staticfiles %}
{% load check_user_group %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{% endblock header %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row white-text">
			<div class="col s12">
				<h4>Arrangementer</h4>
			</div>
		</div>
	</div>
</div>
{% include "news/_list_admin_banner.html" %}
<div class="section block">
	<div class="container">
	{% if page_obj.number == 1 %}
		<div class="row">
			<div class="col s12">
				<h5 class="subheader">Kommende Arrangementer</h5>
				<p>Husk å logge på din konto for å se internarrangementer</p>
				<div class="divider"></div>
			</div>
		</div>
		{% if new_events %}
			{% for event in new_events %}
					{% if event in happening_events %}
						{% include 'news/_event-list-element.html' with status='happening' %}
					{% else %}
						{% include 'news/_event-list-element.html' with status='coming' %}
					{% endif %}
			{% endfor %}
		{% else %}
		<div class="row">
			<div class="col s12">
				<p>Det er for tiden ingen nye arrangementer.</p>
			</div>
		</div>
		{% endif %}
	{% endif %}
	<div class="row">
		<div class="col s12">
			<h5 class="subheader">Tidligere Arrangementer</h5>
			<div class="divider"></div>
		</div>
	</div>
	{% for event in past_events %}
		{% include 'news/_event-list-element.html' with status='ended' %}
	{% endfor%}
	</div>
</div>
<div class="section">
	<div class="container">
		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
			{% else %}
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			{% endif %}
			{% for page in page_obj.paginator.page_range %}
				{% if page == page_obj.number %}
				<li class="active hs-green"><a href="#!">{{ page_obj.number }}</a></li>
				{% else %}
				<li class=""><a href="?page={{ page }}">{{ page }}</a></li>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
			{% else %}
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}
