{% extends "website/base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_style.css' %}">
{% endblock header %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row valign-wrapper white-text">
			<div class="col s12">
				<h4>
					Nyheter
				</h4>
			</div>
		</div>
	</div>
</div>
{% include "news/_list_admin_banner.html" %}
<div class="section">
	<div class="container">
		{% if indicator_text %}
			{% include "news/internal_indicator.html" %}
		{% endif %}
		<div class="row">
			<div class="col s12">
				{% for news in object_list %}
				<div class="section">
					<div class="row no-pad-bot">
						<div class="col s2 center hide-on-med-and-down">
							{% if news.thumbnail %}
							<img class="circle" style="width:100px; height:100px;" src="{{ news.thumbnail.thumb_url }}">
							{% else %}
							<img class="circle" style="width:100px; height:100px;" src="">
							{% endif %}
						</div>
						<div class="col s10 hide-on-med-and-down">
							<span class="right badge">Publisert {{ news.pub_date }}</span>
							<a href="{% url 'news:details' news.id %}"><h5 class="no-margin truncate">{{ news.title }}</h5></a>
							<p>
								{% autoescape off %}
								{{ news.ingress_content|truncatechars:200 }}
								{% endautoescape %}
							</p>
						</div>
						<div class="col s12 show-on-med-and-down hide-on-large-only">
							<a href="{% url 'news:details' news.id %}"><h5 class="no-margin truncate">{{ news.title }}</h5></a>
							<p class="badge"><i>Publisert {{ news.pub_date }}</i><br></p>
							<p>
								{% autoescape off %}
								{{ news.ingress_content|truncatechars:200 }}
								{% endautoescape %}
							</p>
						</div>
					</div>
				<div class="divider"></div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>

<div class="section">
	<div class="container">
		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
			{% else %}
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			{% endif %}

			{% for page in page_obj.paginator.page_range %}
			{% if page == page_obj.number %}
			<li class="active hs-green"><a href="#!">{{ page_obj.number }}</a></li>
			{% else %}
			<li class=""><a href="?page={{ page }}">{{ page }}</a></li>
			{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
			{% else %}
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			{% endif %}

			{% endblock %}
		</ul>
	</div>
</div>
