form {
    width: 75%;
}
.user-profile-image{
    padding:auto;
    position:relative;
    width:-moz-fit-content;
}
.image-overlay, .overlay-background{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:300px;
    opacity: 0;
    transition: .5s ease;
}
.user-profile-image:hover .overlay-text, .user-profile-image:hover .image-overlay{
    transition: .5s ease;
    opacity:1;
}
.user-profile-image:hover .overlay-background{
    opacity:0.5;
    background-color:var(--hs-gray)
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor:pointer;
}
