@font-face{
    font-family: Roboto-Light;
}
.user-profile-info{
    float:left;
    background-color:var(--hs-gray);
    height:300px;
    width:300px;
    padding:15px;
    text-align:left;
    color: white;
}
.user-profile-image{
    float:left;
    height:300px;
}
.profile-image{
    height:300px;
    width:300px;
    object-fit: cover;
    object-position: center;
}
.user-profile-container{
    margin-right: auto;
    margin-left:auto;
    text-align:center;
    width:-moz-fit-content;
    height:-moz-fit-content;
}
#shift_table td,th{
    border: 1px gray solid;
    padding: 5px;
}
#shift_table{
    width:600px;
    margin-right: auto;
    margin-left: auto;
}
#shift_table a{
    color:white;
}
.skill.chip{
    color:black;
    background-color:var(--hs-gray-li3);
}
#edit_profile{
    float:right;
}
