  table.dataTable thead {
    background: var(--hs-green);
  }
  table.dataTable thead th {
    color: #ffffff;
  }
  table.dataTable tbody tr.selected {
      background-color: #b0bed9;
      }
  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: var(--hs-gray-li3); }
   table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: var(--hs-gray-li2); }
    table.dataTable tbody tr {
    background-color: rgba(0,0,0,0); }

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } }
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } }
