{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script src='http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
    <link rel='stylesheet' href='http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css'>
    <link rel="stylesheet" type="text/css" href='{% static "css/rpi_table.css" %}'>
    <script>
        $(document).ready(function(){
            $("#rpis_table").DataTable();
        });
    </script>
{% endblock head %}
{% block content %}
<section id="rpis" class="rpis-section" style="width: 90%; max-width: 1000px; margin: 50px auto;">
    {% if rpis %}
    <table id='rpis_table' class="stripe hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>IP</th>
        <th>MAC</th>
        <th>Last seen</th>
    </tr>
    </thead>
    <tbody>
        {% for rpi in rpis %}
        <tr>
            <td>
                <b>{{ rpi.name }}</b>
            </td>
            <td>
                {{ rpi.ip }}
            </td>
            <td>
                {{ rpi.mac }}
            </td>
            <td>
                {{ rpi.lastSeen }}
            </td>
        </tr>
        {% endfor %}
        </tbody></table>
    {% else %}
        <p>Ingen Raspberry Pi-er.</p>
    {% endif %}
    </section>
{% endblock content %}
