{% load i18n %}

{% if widget.is_initial %}
    <p class="file-upload">{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a></p>
    {% if not widget.required %}
        <span class="clearable-file-input">
            <p>
                <label>
                    <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"/>
                    <span>{% trans "Fjern" %}</span>
                </label>
            </p>
        </span>
    {% endif %}
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}/>
