{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
{% endblock %}

<div class="modal" id="uploadModal">
	<div class="modal-content">
		<div class="row">
			<h4 class="col s12">Last opp til galleriet</h4>
			{% csrf_token %}
			<div class="input-field col s12">
				{{ UploadForm.title }}
				<label for="{{ UploadForm.title.id_for_label }}">{{ UploadForm.title.label }}</label>
			</div>
			<div class="input-field col s12">
				{{ UploadForm.description }}
				<label for="{{ UploadForm.description.id_for_label }}">{{ UploadForm.description.label }}</label>
			</div>
			<div class="input-field col s12">
				{{ UploadForm.tags }}
				<label for="{{ UploadForm.tags.id_for_label }}">{{ UploadForm.tags.label }}</label>
			</div>
			<div class="file-field input-field col s12">
				<div class="btn btn-flat white-text hs-green">
					<span>Velg bilde</span>
					{{ UploadForm.file }}
				</div>
				<div class="file-path-wrapper">
					<input id="{{ UploadForm.file.id_for_label }}-path" class="file-path validate" type="text">
				</div>
			</div>
			<a href="#" class="btn btn-flat btn-large hs-green white-text col s12" id="uploadBtn">Last opp bilde</a>
		</div>
	</div>
</div>

<script>
const uploadModal = document.querySelector('#uploadModal');
const submitBtn = document.getElementById('uploadBtn');

const uploadEventSubscribers = new Array();
function subscribeToUpload(element) {
    uploadEventSubscribers.push(element);
}

submitBtn.addEventListener('click', function(e) {
	e.preventDefault();

	// Grab all the form data
	var title_field = document.getElementById('id_img-title');
	var desc_field = document.getElementById('id_img-description');
	var tag_field = document.getElementById('id_img-tags');
	var img_field = document.getElementById('id_img-file');
	var img_field_path = document.getElementById('id_img-file-path');

	var formdata = new FormData();
	formdata.append("img-file", img_field.files[0]);
	formdata.append("img-title", title_field.value);
	formdata.append('img-tags', tag_field.value);
	formdata.append("img-description", desc_field.value);

	// Upload the image
	var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
	$.ajax({
		type:'POST',
		url: "/files/image-upload/",
		headers: {
			'X-CSRFToken': csrftoken 
		},
		data: formdata,
		contentType: false,
		processData: false,
		success: function(response){
            // Raise the success event on all listeners
            const successEvent = new CustomEvent('galleryUploadSuccess', {
                detail: {
                    response: response,
                    title: title_field.value,
                    description: desc_field.value,
                    tag: tag_field.value,
                    image: img_field.files[0]
                }
            });

            uploadEventSubscribers.forEach(element => {
                element.dispatchEvent(successEvent);
            });

			// Clear the form
			title_field.value = '';
			desc_field.value = '';
			tag_field.value = 'Usortert';
			img_field_path.value = '';
			img_field.value = null;

			// Close the modal
			M.Modal.getInstance(uploadModal).close();
		},
		error: function(response) {
			M.toast({ html: 'Noe gikk galt under bildeopplastningen' });
			console.log(response);
		}
	});
});
</script>