{% regroup images by tags as tag_groups %}

{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'files/css/modal.css' %}">
{% endblock %}

<a class="modal-trigger waves-effect hs-green white-text waves-light btn btn-large col s12" data-target="thumbnailPicker">Vis bildegalleri</a>

<div id="thumbnailPicker" class="modal">
	<div class="modal-content gallery-content">
		<div class="gallery-header hs-gray">
			<h4 class="white-text">Velg bilde</h4>
			<div class="row">
				<a class="col s12 l5 btn hs-green btn-small white-text modal-trigger" href="#uploadModal" target="_blank">Last opp nytt bilde</a>
				<div class="col s12 hide-on-large-only">
					<div class="invisible-divider-large"></div>
				</div>
				<a class="col s12 l5 push-l2 btn hs-yellow btn-small hs-gray-text" href="/files/images" target="_blank">Administrer bilder</a>
			</div>
		</div>

		<div class="row">
			{% for tag in tag_groups %}
				<div class="col s12">
					<div class="row">
						<div class="col s12 hs-green white-text">
							<h4 class="category-header">{{ tag.grouper }}</h4>
						</div>
						<div class="gallery">
							{% for image in tag.list %}
							{% include 'files/single-image.html' %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="modal" id="uploadModal">
	<div class="modal-content">
		<h4>Last opp nytt bilde til galleriet</h4>
		{% csrf_token %}
		<div class="input-field col s12">
			{{ UploadForm.title }}
			<label for="{{ UploadForm.title.id_for_label }}">{{ UploadForm.title.label }}</label>
		</div>
		<div class="input-field col s12">
			{{ UploadForm.description }}
			<label for="{{ UploadForm.description.id_for_label }}">{{ UploadForm.description.label }}</label>
		</div>
		<div class="input-field col s12">
			{{ UploadForm.tags }}
			<label for="{{ UploadForm.tags.id_for_label }}">{{ UploadForm.tags.label }}</label>
		</div>
		<div class="file-field input-field col s12">
			<div class="btn btn-flat white-text hs-green">
				<span>Velg bilde</span>
				{{ UploadForm.file }}
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>
		<a href="#" class="btn btn-flat btn-large hs-green white-text" id="uploadBtn">Last opp bilde til galleri</a>
	</div>
</div>

<script>
var thumbModal = document.querySelector('#thumbnailPicker');
var uploadModal = document.querySelector('#uploadModal');

var submitBtn = document.getElementById('uploadBtn');

submitBtn.addEventListener('click', function(e) {
	e.preventDefault();
	// Get from original form

	var title_field = document.getElementById('id_img-title');
	var desc_field = document.getElementById('id_img-description');
	var img_field = document.getElementById('id_img-file');

	var formdata = new FormData()

	formdata.append("img-file", img_field.files[0])
	formdata.append("img-title", title_field.value)
	formdata.append("img-description", desc_field.value)

	var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
	$.ajax({
		type:'POST',
		url: "/files/image-upload/",
		headers: {
			'X-CSRFToken': csrftoken 
		},
		data: formdata,
		contentType: false,
		processData: false,
		success: function(response){
			console.log("Trying to append");
			$('.imageList').prepend(response);
			M.toast( { html: 'Bildet var lastet opp og kan velges fra galleriet' });
			M.Modal.getInstance(uploadModal).close();
			
		},
		error: function(response) {
			M.toast( { html: 'Noe gikk galt under bildeopplastningen.' });
			console.log(response);
		}
	});
});
</script>
