<div class="imageList">
	<a href="/files/images" target="_blank">Du kan slette bilder fra denne siden</a>
	<br>
	{% for image in images %}
	<div class="col s4">
		<div class="card">
			<div class="card-image waves-effect">
				<img class="activator thumb-img materialboxed" src="{{ image.url }}" />
			</div>
			<div class="card-content">
				<span class="card-title activator">{{ image.title }}</span>
				<a class="waves-effect waves-light btn selectButton green" value="{{ image.id }}">Select</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
