{# <a class="modal-trigger waves-effect waves-light btn btn-large" data-target="uploadModal">Last opp nytt bilde</a> #}
<div class="modal" id="uploadModal">
		<div class="modal-content">
			<h4>Last opp nytt bilde til galleriet</h4>

			<form method="POST" name="uploadform" id="uploadForm" enctype="multipart/form-data">
				{% csrf_token %}
			<div class="input-field col s12">
				{{ UploadForm.title }}
				<label for="{{ UploadForm.title.id_for_label }}">{{ UploadForm.title.label }}</label>
			</div>
			<div class="input-field col s12">
				{{ UploadForm.description }}
				<label for="{{ UploadForm.description.id_for_label }}">{{ UploadForm.description.label }}</label>
			</div>
			<div class="file-field input-field col s12">
				<div class="btn hs-green">
					<span>Velg bilde</span>
					{{ UploadForm.file }}
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
			<br>
			<button type="button" class="btn btn-large hs-green white-text" id="uploadBtn">Last opp bilde til galleri</a>
			</form>
		</div>
</div>
<script>
	var submitBtn = document.querySelector('#uploadBtn');
	submitBtn.addEventListener('click', function(e) {
		e.preventDefault();
		var form = document.querySelector('#uploadForm');
		var formData = new FormData(form);
		// Get from original form
		var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
		console.log(formData);
		$.ajax({
			type:'POST',
			url: "/files/image-upload/",
			headers: {
				'X-CSRFToken': csrftoken 
			},
			data: formData,
			contentType: false,
			processData: false,
			success: function(response){
				console.log("Trying to append");
				$('.imageList').prepend(response);
				M.toast( { html: 'Bildet var lastet opp og kan velges fra galleriet' });
			},
			error: function(response) {
				console.log("It was no success");
				console.log(response);
			}
		});
	});
</script>
