<a class="modal-trigger waves-effect waves-light btn btn-large" data-target="uploadModal">Upload</a>
<div class="modal" id="uploadModal">
	<form method="POST" name="form" id="uploadForm" enctype="multipart/form-data">
	<div class="modal-content">
			{% csrf_token %}
			<div class="input-field col s12">
				{{ UploadForm.title }}
				<label for="{{ UploadForm.title.id_for_label }}">{{ UploadForm.title.label }}</label>
			</div>
			<div class="input-field col s12">
				{{ UploadForm.description }}
				<label for="{{ UploadForm.description.id_for_label }}">{{ UploadForm.description.label }}</label>
			</div>
			<div class="input-field col s12">
				{{ UploadForm.file }}
				<label for="{{ UploadForm.file.id_for_label }}">{{ UploadForm.file.label }}</label>
			</div>
			<button type="submit" class="btn" id="uploadBtn">Upload</a>
	</div>
	</form>

</div>

	<script>
		var submitBtn = document.querySelector('#uploadBtn');
		var fileInput = document.querySelector('#id_file');
		submitBtn.addEventListener('click', function(e) {
			e.preventDefault();
			var formData = new FormData($("#uploadForm").get(0));
			$.ajax({
				type:'POST',
				url: "/files/image-upload/",
				headers: {'X-CSRFToken': '{{ csrf_token }}'},
				data: formData,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function(response){
					console.log("Trying to append");
					var imageList = document.querySelector('.imageList');
					imageList.append(response);
				},
				error: function(response) {
					console.log(response);
				}
			});
		});
	</script>
