<table>
    <thead>
        <tr>
            {% for day in reservations %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
<tbody>
    <tr>
        {% for day, res in reservations.items %}
            <td>
                <div class="collection">
                    {% for reservation in res %}
                            {% if reservation %}
                                {% for slot in reservation %}
                                    <p class="collection-item {% if perms.reservations.view_name %}tooltipped" data-position="top" data-tooltip="{{ slot.2 }}{% endif %}">
                                        {{ slot.0 }} - {{ slot.1 }}
                                    </p>
                                {% endfor %}
                            {% else %}
                                <p class="collection-item grey-text">Empty</p>
                            {% endif %}
                    {% endfor %}

                </div>
            </td>
        {% endfor %}
    </tr>
</tbody>
</table>
