<table class="striped-table responsive-table">
    <thead>
            <th>Time</th>
        <tr>
            {% for day in reservation_info.reservation_day_dict.keys %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
<tbody>
    <tr>
        <td>
        {% for interval in reservation_info.reservation_intervals  %}
                <div class="collection-item">
                    {{ interval }}
                </div>
        {% endfor %}
        </td>
        {% for reservations in reservation_info.reservation_day_dict.values %}
            <td>
                <div class="collection-item">
                    {% for user in reservations %}
                        {{ user }}
                    {% endfor %}
                </div>
            </td>
        {% endfor %}
    </tr>
</tbody>
</table>
