#adminTools {
  position: absolute;
  top: 62px;
  left: 3px;
  z-index: 100000;
}

#adminTools a {
  text-decoration: none;
  color: #41913E;
}

#adminTools a:visited, #adminTools a:link, #adminTools a:active {
    color: #41913E;
}

#adminTools a:hover {
  color: #275d26;
  cursor: pointer;
}
