#adminTools {
  position: absolute;
  top: 62px;
  left: 3px;
  z-index: 100000;
}

#adminTools .dropdown-toggle, #adminTools .dropdown-toggle:visited, #adminTools .dropdown-toggle:link, #adminTools .dropdown-toggle:active {
    text-decoration: none;
    color: #41913E;
}

#adminTools .dropdown-toggle:hover {
  color: #275d26;
  cursor: pointer;
}
