#change_password_form {
    width: 40%;
    margin: 10px auto;
}

#id_current_password, #id_new_password, #id_confirm_new_password {
    width: 100%;
    margin-bottom: 5px;
}

#pageName {
    margin-top: 100px;
    text-align: center;
}

#changePasswordButton {
    width: 100%;
}
