label {
    width: 200px;
    height: 40px;
    padding-top: 14px;
}
input {
    width: 600px;
    height: 38px;
    float: right;
    margin: 0;
    padding: 6px 12px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #555555;
    background: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
}
.submitButton {
    width: 100%;
}
