label {
    width: 200px;
    height: 40px;
    padding-top: 14px;
}
input {
    width: 600px;
    height: 38px;
    float: right;
}
.submitButton {
    width: 100%;
}
#thumbnailPicker {
    margin-left: 32px;
    border-radius: 4px;
}
.btn {
  width: 100%;
}
