#forgotPasswordForm {
  width: 70%;
  margin: 30px auto;
}
label {
  width: 20%;
  text-align: left;
}
input {
  width: 75%;
  float: right;
}
#pageName {
    margin-top: 100px;
    text-align: center;
}
#sendNewPasswordButton {
    width: 100%;
}
