#navbar {
    height: 64px;
}

.nav-wrapper {
    background: #4e4b46;
    height: 64px;
    box-shadow: 0px 2px 20px #4e4b46;
}

#logo {
    height: 50px;
    margin-top: 8px;
    margin-left: 20px;
}
nav .brand-logo {
    left:0%;
    transform: translateX(0%);
}

#header-mobile {
    margin-bottom: 50px;
    display: none;
}

#header-desktop {
    margin-bottom: 50px;
    display: block;
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {

    nav a.button-collapse i {
        height: 64px;
        line-height: 10vh;
        margin-left: 10px;
        font-size: 7vh;
    }

    #header-mobile {
        margin-bottom: 50px;
        display: block;
    }

    #header-desktop {
        margin-bottom: 50px;
        display: none;
    }

    #menu {
        background: #4e4b46;
        height: 10vh;
        box-shadow: 0px 2px 20px #4e4b46;
        overflow: hidden;
    }

    .mdi-navigation-menu {
        color: #fff;
    }

    .collapsible-body ul li a {
        font-size: 14px !important;
    }

    #menu a {
        text-decoration: none;
    }

    #logo {
        height: 7vh;
        margin-top: 1.5vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #burger {
        position: absolute;
        left: 12px;
        top: 1.2vh;
    }

    #burger a i {
      height: 7vh;
      line-height: 7vh;
    }

}

