#header-desktop {
  height: 80px;
  background-color: #4e4b46;
  box-shadow: 0px 2px 20px #4e4b46;
  max-width: 100%;;
  width: 100%;
}

#navbar {
  height: 80px;
  background-color: #4e4b46;
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  height: 60px;
  margin-top: 10px;
  margin-left: 0px;
}

#menu {
  float: right;
  margin-top: 35px;
  margin-right: 0px;
}

#menu a {
  display: inline-block;
  color: #fff;
}

#menu>a {
  padding: 0 16px;
}

#menu ul li a {
  color: var(--hs-gray);
}

#header-mobile #navbar {
  position: fixed;
  width: 100%;
  z-index: 9001;
}

#header-mobile {
  display: none;
}

#header-mobile #navbar {
  box-shadow: none;
}

#header-desktop {
  display: block;
}


#openinghours {
  font-family: Roboto-Light;
  color: var(--hs-gray-li3);
  font-size: 12px;
  /*animation-name: slidelarge;
  animation-duration: 1s;*/
  margin-top: 0px;
  margin-left: -207px;
}


@media screen and (max-device-width: 480px), screen and (max-width: 720px) {
  #navbar {
    height: 10vh;
  }
  #header-mobile {
    display: block;
  }
  #header-desktop {
    display: none;
  }
  #menu {
    background: var(--hs-gray);
    height: 10vh;
    box-shadow: 0px 2px 20px var(--hs-gray);
    overflow: hidden;
  }
  #menu a {
    text-decoration: none;
  }
  #logo {
    height: 7vh;
    margin-top: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #burger {
    position: absolute;
    left: 1.5vh;
    top: 1.5vh;
  }
  #burger a img {
    height: 7vh;
  }
  #slide-out li:hover {
    background-color: #fff;
  }
  .collapsible-header {
    margin-left: 3vw !important;
  }
  .collapsible-body {
    margin-left: 2vw !important;
  }
  #ddicon {
    height: 8vw;
  }
  #openbar, #closedbar {
    margin-top: 10vh;
  }
}
