#navbar {
    height: 64px;
    background-color: #4e4b46;
    box-shadow: 0px 2px 20px #4e4b46;
}
#logo {
    height: 50px;
    margin-top: 8px;
    margin-left: 20px;
}
#menu {
  float: right;
  margin-top: 20px;
}
#menu a {
  display: inline-block;
  color: #fff;
}
#menu ul li a {
  color: #4e4b46;
}
#header-mobile {
    margin-bottom: 50px;
    display: none;
}
#header-desktop {
    margin-bottom: 50px;
    display: block;
}
@media screen and (max-device-width: 480px), screen and (max-width: 600px) {

    #navbar {
      height: 10vh;
      overflow: hidden;
    }

    #header-mobile {
        margin-bottom: 50px;
        display: block;
    }

    #header-desktop {
        margin-bottom: 50px;
        display: none;
    }

    #menu {
        background: #4e4b46;
        height: 10vh;
        box-shadow: 0px 2px 20px #4e4b46;
        overflow: hidden;
    }

    #menu a {
        text-decoration: none;
    }

    #logo {
        height: 7vh;
        margin-top: 1.5vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #burger {
        position: absolute;
        left: 1.5vh;
        top: 1.5vh;
    }

    #burger a img {
      height: 7vh;
    }
}
