#loginform {
    position: fixed;
    right: 30px;
    width: 300px;
    height: 35%;
    margin: 0 auto;
    padding: 32px;
    background: #9CD590;
    border-radius: 3px;
    border: solid 3px #959186;
    border-top: 0;
    z-index: 1000;
}

#signupForm {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 32px;
    z-index: 1000;
    text-align: center;
}

.loginStill {

}
.loginHide {
    animation: none;
}
.loginIn {
    animation: loginIn 0.5s ease-in-out;
    top: 9%;
}
.loginOut {
    animation: loginOut 0.5s ease-in-out;
    top: -30%;
}
.loginStill {
    animation: none;
    top: 10%;
}
.fieldWrapper {
    margin: 0 auto;
    margin-bottom: 10px;
}
#loginButton , #signUpButton{
    margin-top: 10px;
    height: 38px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
#signUpButton:visited, #signUpButton:hover, #signUpButton:link, #signUpButton:active {
    color: white;
}
#loginform #id_username, #loginform #id_password {
    width: 100%;
    margin-bottom: 5px;
}
.button {
  font-size: 18px;
  margin-right: 10px;
  margin-left: 1px;
  float: left;
  background:#4CB04A;
  padding: 3px 8px;
  border-radius:3px;
  color:#fff;
  text-decoration: none;
  border: 3px none #41913E;
  border-bottom-style: solid;
  outline:0;
}

#errorMessage{
    text-align: center;
    color:#4e4b46;
    font-size: 14px;
    margin-top: 10px;
}

#forgotPasswordLink{
    font-size: 14px;
}

.outerButton {
  display: inline;
  padding: 0;
}
.button:hover {
  background:#56BC51;
}
.outerButton:active {
  display: block;
  animation: buttonDown 0.2s ease-in-out;
}
.button:active {
  animation: buttonBorder 0.2s ease-in-out;
}
@keyframes buttonDown {
  0% {transform: translateY(0);}
  50% {transform: translateY(2px);}
  100% {transform: translateY(0);}
}
@keyframes buttonBorder {
  0% {border-width: 3px;}
  20% {border-width: 3px;}
  50% {border-width: 1px;}
  100% {border-width: 3px;}
}
@keyframes loginIn {
    0% {transform: translateY(-300px);}
    100% {transform: translateY(0);}
}
@keyframes loginOut {
    0% {transform: translateY(300px);}
    100% {transform: translateY(0);}
}
