#loginMobile {
  width: 80%;
  margin: 30px auto;
}
label {
  width: 20%;
  text-align: left;
  transform: translateY(-20%);
}
input {
  width: 100%;
}

#pageName {
    margin-top: 100px;
    text-align: center;
}

#loginButton {
    width: 100%;
}
