#logo {
  z-index: 10000000;
  webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#logo_mobile {
  z-index: 10000000;
  top: 22px;
  left: 50%;
  width: 120px;
  height: 120px !important;
  margin-left: -60px;
  position: absolute;;
}

#logo:hover {
  cursor: pointer;
}
.floatDown {
    top: 10px;
    left: 50px;
    width: 80px !important;
    height: 80px !important;
    margin-left: -40px;
    position: fixed;
}
.floatUp {
    top: 22px;
    left: 50%;
    width: 120px !important;
    height: 120px !important;
    margin-left: -60px;
    position: absolute;;
}
@keyframes floatDown {
  0% {transform: translateY(-100px); transform: translateX(100%);}
  50% {transform: translateY(0px); transform: translateX(100%);}
  100% {transform: translateY(0px); transform: translateX(0px);}
}
@keyframes floatUp {
  0% {transform: translateY(100px); transform: translateX(50%);}
  50% {transform: translateY(100px); transform: translateX(50%);}
  100% {transform: translateY(0px); transform: translateX(50px);}
}
