textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--hs-green);
  box-shadow: 0 1px 0 0 var(--hs-green);
}
input:focus:not([readonly]) {
  border-bottom: 1px solid var(--hs-green) !important;
  box-shadow: var(--hs-green) 0 1px 0 0 !important;
  color: var(--hs-gray) !important;
}
.dropdown-content li>span {
  color: var(--hs-green) !important;
}
.dropdown-content li.disabled>span {
  color: var(--hs-gray-li2) !important;
}
::-webkit-input-placeholder {
   color: var(--hs-gray-li3);
}
:-moz-placeholder { /* Firefox 18- */
   color: var(--hs-gray-li3);
}
::-moz-placeholder {  /* Firefox 19+ */
   color: var(--hs-gray-li3);
}
:-ms-input-placeholder {
   color: var(--hs-gray-li3);
}
.picker__date-display {
  background: var(--hs-green);
}
.picker__weekday-display {
  background: var(--hs-green-dk);
}
.picker__day--selected, .picker--focused .picker__day--selected {
  background-color: var(--hs-green-dk);
}
.picker__close, .picker__today {
  color: var(--hs-green);
}
.picker__input.picker__input--active {
  border-color: var(--hs-green);
}
.btn {
  background-color: var(--hs-green);
}

.btn:hover {
  background-color: var(--hs-green);
}
.dropdown-content li a {
  color: var(--hs-gray-li);
}
.progress {
  background-color: var(--hs-gray);
}
.determinate {
  background-color: var(--hs-green) !important;
}
