#menu {
  background-color: #5BBA47;
  height: 90px;
  z-index: 10000;
}
.mdi-navigation-menu {
  color: #fff;
}
.collapsible-body ul li a {
  font-size: 14px !important;
}
#menu a {
  text-decoration: none;
}
