#content {
    width: 70%;
    min-height: 300px;
    margin: 50px auto;
    margin-bottom: 100px;
}

#top {
    height: 90px;
}

#right {
    width: 70%;
    float: right;
}

#event_title {
    font-size:34px;
    text-align: left;
}

#place {
    text-align: left;
}
#place a {
    color: #5BBA47;
}

#date-label {
    float: left;
    width: 20%;
    margin-top: -3px;
}

#date-label #date {
    font-size: 46px;
}

#date-label #month {
    color: #5BBA47;
    font-size: 24px;
    margin-top: -20px;
}

.card {
  margin: 5px;
  display: inline-block;
}

.card a {
  color: #4E4B46 !important;
  text-decoration: none;
}

.card-actions btn-flat {
    width: 140px;
}

.admintools_card btn-flat {
    font-size: 12px;
    width: 80px;
    height: 30px;
    text-align: center;
}

#title {
    font-size: 34px;
    text-align: center;;
}
.card-actions a {
    color: #4E4B46;
}

.card-actions btn-flat {
    width: 140px;
}

.admintools_card btn-flat {
    font-size: 12px;
    width: 80px;
    height: 30px;
    text-align: center;
}

img {
    height: 200px;
    width: auto;
}
