#signupForm {
  width: 770px;
  margin: 10px auto;
}
label {
  width: 20%;
  text-align: left;
    transform: translateY(-20%);
}
input {
  width: 80%;
}

#pageName {
    margin-top: 100px;
    text-align: center;
}
