@import 'colors.css';

html {
	font-family: Open Sans !important;
}
h1,h2,h3,h4,h5,a {
	font-family: Montserrat !important;
}

/* Resize hackerspace-logoen */
.brand-logo img {
	width:200px !important;
}
.brand-logo {
	margin-left: 10px;
}


.material-icons {
	  vertical-align: middle !important;
	    padding-bottom: 3px;
}

/* "Hackerspace er stengt / åpent */
.door {
	width:100%;
	display:inline-block;
	text-align:center;
}


/* Denne koden er nødvendig for å få footer som fixed. */

body {
	display:flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.tabs .indicator {
    background-color: #366F2A;
}
.tabs .tab a {
  color: #5BBA47;
}
.tabs .tab a.active {
  color: #366F2A;
}
.tabs .tab a:hover {
  color: #366F2A;
}

.caption-text {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Overstyr materialize farger */
.secondary-content {
	color:#4E4B46 !important;
}
a {
	color:#5BBA47 !important;
}
.btn {
	background-color:#5BBA47 !important;
	color:#fff !important;

}
