.item-box {
    display: inline-block;
    width: 180px;
    height: 290px;
    margin: 10px;
}

.card-image-box {
    position: relative;
    height: 180px;
    width: 180px;
    background-position: center center;
    background-size: cover;
}
