main {
    background-color: #5bba47;
}

.item-img {
    max-height: 40vh;
}

.form-hint {
    font-size: 12px !important;
    color: #9e9e9e;
}

.shopping-cart {
    color: white;
    font-size: 32px;
}

.inventory-sorting {
    background-color: white;
}
