
a {
    color: var(--hs-green);

}

.content {

    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.card {
    background-color: var(--hs-green);
}

.autocomplete {
    display: -ms-flexbox;
    display: flex;
}

.autocomplete .ac-users {
    padding-top: 10px;
}

.autocomplete .ac-users .chip {
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.autocomplete .ac-users .chip:last-child {
    margin-right: 5px;
}

.autocomplete .ac-dropdown .ac-hover {
    background: #eee;
}

.autocomplete .ac-input {
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    padding-top: 0.6rem;
}

.autocomplete .ac-input input {
    height: 2.4rem;
}
