{% extends 'website/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/door_data.css" %}">
{% endblock head %}

{% block content %}
    <div id="content">
        <h1>Current status:</h1>
        {% if status.status %}
            <p>Open since: {{ status.datetime|date:"d/m/Y" }} {{ status.datetime|time:"H:i:s" }}</p>
        {% else %}
            <p>Closed since: {{ status.datetime|date:"d/m/Y" }} {{ status.datetime|time:"H:i:s" }}</p>
        {% endif %}

        <h1>Door data:</h1>
        {% if open_data_list %}
            {% for opendata in open_data_list %}
                <p>
                  Opened: {{ opendata.opened|date:"d/m/Y" }} {{ opendata.opened|time:"H:i:s" }}<br>
                  Closed: {{ opendata.closed|date:"d/m/Y" }} {{ opendata.closed|time:"H:i:s" }}<br>
                  Time open: {{ opendata.deltaTime }}
                </p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
