{% load static %}
{% for name, profile in guards.items %}
<div class="card-container">
	<div class="col s12">
		<div class="card horizontal">
			<div class="card-image">
				{% if profile.id %}
				<a href="{% url 'userprofile:profile' profile.pk %}">
					{% if profile.image %}
						<img src="/media/{{ profile.image.url }}">
						{% else %}
						<img src="{% static 'website/img/misc/default.png' %}">
					{% endif %}
					</a>
				{% else %}
					<a class="img-a">
					{% if profile.image %}
						<img class="activator" src="{{ profile.image.url }}">
						{% else %}
						<img src="{% static 'website/img/misc/default.png' %}">
					{% endif %}
					</a>
				{% endif %}
			</div>
			<div class="card-stacked">
				<div class="card-content">
					{% if profile.id %}
					<a class="card-title truncate" href="{% url 'userprofile:profile' profile.pk %}">{{ name }}</a>
					{% else %}
						<p class="card-title truncate" >{{ name }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}
