body {
    background-color:  #4E4B46;
    overflow: hidden;
}

.panel h3 {
   padding: 10px;
}

.panel div {
    padding: 5px;
    font-size: 12px;
}

.panel {
    margin: 20px;
}

#rule-body {
    font-size: 1.25rem;
    height: 55rem;
    overflow: hidden;
}
