body {
    background-color:  #4E4B46;
    overflow: hidden;
}

.panel h3 {
   padding: 5px;
   padding: 5px;
}

.panel div {
    font-size: 20px;
}

.panel {
    margin: 30px;
}

#rule-body {
    font-size: 1.40rem;
    height: 60rem;
    overflow: hidden;
}
