{% extends "website/base.html" %}
{% load thumbnail %}
{% load includeslots %}

{% block content %}

    {% includeslots "website/page_overview/content_title.html" %}
    {% slot children %}
    <div class="row center-align">
        <h3>{{ flatpage.title }}</h3>
    </div>
{% endslots %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <p class="flow-text">{{ flatpage.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



