{% extends 'website/base.html' %}
{% load staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static "css/application.css" %}">
  <meta http-equiv="refresh" content="30;url=/">
{% endblock header %}

{% block content %}
    <main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <div style="margin-top: 100px; margin-bottom:200px;">
                    <h4 class="center-align" style="font-weight:300; margin: 40px 0;">
                        Din registrering er mottatt!
                    </h4>
                    <h4 class="center-align" style="font-weight:300;">
                      <br>
                      Du får du en epost med link til <br>
                      søknadsskjemaet når det åpner.<br><br>
                      Se mailen vi sendte deg for mer informasjon.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}
