{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static "css/application.css" %}">

{% endblock header %}

{% block content %}
  {% if not form.deadline_passed %}
    <h1 id="pageName">Søknad til Hackerspace</h1>
    <div id="applicationForm">
      <form method="post" id="application-form">
          <p>Les mer om gruppene våre <a href="https://hackerspace-ntnu.no/news/article/15/">her</a></p>
        {% csrf_token %}

        <div class="row">
          <div id="name" class="input-field col s12">
            {{ form.name }}
            {{ form.name.label_tag }}
          </div>
          <div id="email" class="input-field col s12">
            {{ form.email }}
            {{ form.email.label_tag }}
          </div>
          <div id="phone" class="input-field col s12">
            {{ form.phone }}
            {{ form.phone.label_tag }}
          </div>
          <div id="study" class="input-field col s12">
            {{ form.study }}
            {{ form.study.label_tag }}
          </div>
          <div id="year" class="input-field col s12">
            <select id="{{ form.year.id_for_label }}">
              <option disabled selected value>Velg et årstrinn</option>
              {% for choice in form.year_choices %}
                <option value="{{ choice }}">{{ choice }}</option>
              {% endfor %}
            </select>
            <label for="{{ form.year.id_for_label }}">{{ form.year.label }}</label>
          </div>
          <div id="group_choice" class="input-field col s12">
            <select id="{{ form.group_choice.id_for_label }}">
              <option disabled selected value>Velg en gruppe</option>
              {% for choice in form.group_choices %}
                <option value="{{ choice }}">{{ choice }}</option>
              {% endfor %}
            </select>
            <label for="{{ form.group_choice.id_for_label }}">{{ form.group_choice.label }}</label>
          </div>
          <div id="knowledge_of_hs" class="input-field col s12">
            {{ form.knowledge_of_hs }}
            {{ form.knowledge_of_hs.label_tag }}
          </div>

          <div id="about" class="input-field col s12">
            <textarea id="about-input" class="materialize-textarea"
                      name="{{ form.about.name }}"></textarea>
            <label for="about-input" id="custom-label">{{ form.about.label }}</label>
          </div>
          <div id="application_text" class="input-field col s12">
            <textarea id="application-text-input" class="materialize-textarea"
                      name="{{ form.application_text.name }}"></textarea>
            <label for="application-text-input" id="custom-label">{{ form.application_text.label }}</label>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Send
          </button>
        </div>
      </form>
    </div>

    <script>
      $(document).ready(function () {
        $('select').material_select();
        // Add name to the input field so Django understands which form field it is.
        $('#group_choice input').attr("name", "group_choice");
        $('#year input').attr("name", "year");
        $('#group_choice input').attr("value", "{{ form.group_choice.value }}");
        $('#year input').attr("value", "{{ form.year.value }}")
      });
    </script>
    <script type="text/javascript" src="{% static 'js/applications.js' %}"></script>
  {% else %}
    <h1 id="pageName">Fristen har gått ut</h1>
  {% endif %}
{% endblock content %}
