{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{% static "css/application.css" %}">
  <meta http-equiv="refresh" content="30;url=/">
{% endblock header %}

{% block content %}
    <main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <div style="margin-top: 100px; margin-bottom:200px;">
                    <h4 class="center-align" style="font-weight:300; margin: 40px 0;">
                        Hackerspace NTNU har for øyeblikket ikke opptak
                    </h4>
                    <h5 class="center-align">
                        Opptaket åpner {{ APPLICATION_START_DATE}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}
