    <div class="content">
        <form id="item-form" action="{% url 'inventory:add_item' item_id %}" method="post">
            {% csrf_token %}
            <h3>{{ message }}</h3>

            <p id="error-message">{{ form.name.errors }}</p>
            <div class="input-field">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
            </div>

            <p id="error-message">{{ form.description.errors }}</p>
            <div class="input-field">
                <textarea id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}"
                          class="materialize-textarea"></textarea>
                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            </div>

            <p id="error-message">{{ form.quantity.errors }}</p>
            <div class="input-field">
                <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
                {{ form.quantity }}
            </div>

            <!-- TODO få taggene man har skrevet inn som er nye til å gjøres om til chips idet man trykker enter
            eller komma-->
            <!-- TODO få taggene man skrev inn isted, til å vises som cips hvis isValid feiler og man må skrive inn
            noe på nytt-->

            <p id="error-message">{{ form.tags.errors }}</p>
            <div class="input-field col s12">
                <div class="autocomplete" id="multiple">
                    <div class="ac-users"></div>
                    <div class="ac-input">
                        <input type="text" id="multipleInput"
                               data-activates="multipleDropdown" data-beloworigin="true" name="{{ form.tags.name }}"
                               autocomplete="off">
                    </div>
                    <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
                    <input type="hidden" name="multipleHidden"/>
                </div>
                <label class="active" for="multipleInput">{{ form.tags.label }}</label>
            </div>

            <div class="input-field">
                <label for="{{ form.tags_chips.id_for_label }}"></label>
                {{ form.tags_chips }}
            </div>

            <!-- Felter for plassering av gjenstand på hackerspace. -->
            <div class="row">
                <div class="col s3">
                    <p id="error-message">{{ form.zone.errors }}</p>
                    <div class="input-field">
                        <label for="{{ form.zone.id_for_label }}">{{ form.zone.label }}</label>
                        {{ form.zone }}
                    </div>
                </div>
                <div class="col s3">
                    <p id="error-message">{{ form.shelf.errors }}</p>
                    <div class="input-field">
                        <label for="{{ form.shelf.id_for_label }}">{{ form.shelf.label }}</label>
                        {{ form.shelf }}
                    </div>
                </div>
                <div class="col s3">
                    <p id="error-message">{{ form.row.errors }}</p>
                    <div class="input-field">
                        <label for="{{ form.row.id_for_label }}">{{ form.row.label }}</label>
                        {{ form.row }}
                    </div>
                </div>
                <div class="col s3">
                    <p id="error-message">{{ form.column.errors }}</p>
                    <div class="input-field">
                        <label for="{{ form.column.id_for_label }}">{{ form.column.label }}</label>
                        {{ form.column }}
                    </div>
                </div>
            </div>

            <div style="display: none;">
                {{ form.thumbnail.errors }}
                <div class="input-field">
                    <label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
                    <input id="{{ form.thumbnail.id_for_label }}" name="thumbnail" type="text"
                           value="{{ form.thumbnail.value }}">
                </div>
            </div>

            <label>Thumbnail</label><br>
            <div class="imageItem card thumbnailPicker" style="background-color: white; border-radius: 3px;">

                <p style="margin: 60px 40px; color: #999999; position: absolute;">
                    Trykk her for<br>
                    å velge bilde
                </p>
                <div class="card-image" style="background-image: url({{ item.thumbnail.url }});">
                    {% if not item.thumbnail %}
                    {% endif %}
                </div>
            </div>

            <br>
            <button class="btn waves-effect waves-light" type="button" id="post_button" value="testitest">{{ button_message }}
            </button>
        </form>

        <!-- TODO flytt til style fil -->
        <style>
            .chip {
                background-color: var(--hs-green);
            }

            .imageItem {
                width: 180px;
                height: 180px;
                position: relative;
                margin: 6px 8px;
                margin-bottom: 20px;
                border: 3px solid rgba(0, 0, 0, 0);
            }

            .card-image {
                position: relative;
                height: 170px;
                width: 170px;
                background-position: center center;
                background-size: cover;
                margin: 2px;
            }
        </style>

        <script>
            $(".thumbnailPicker").click(function () {
                thumbWindow = window.open('/files/images');
            });
        </script>

    </div>
    <!-- TODO feltene viser ikke tags og description på transistorene som ble lagt inn av et script, man vil endre -->

    
