{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}">
{% endblock header %}


{% block content %}
    <div class="content">
        <form action="{% url 'inventory:add_tag' tag_id %}" method="post">
            {% csrf_token %}
            <h3>{{ message }}</h3>

            <p id="error-message">{{ form.name.errors }}</p>
            <div class="input-field">
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                {{ form.name }}
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">{{ button_message }}
            </button>
            <a href="{% url 'inventory:index' %}" class="waves-effect waves-light btn">Tilbake til index</a>
        </form>
    </div>

{% endblock content %}
