{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}">

{% endblock header %}


{% block content %}

    <div class="content">
        {% if current_loans %}
            <h2>For sene</h2>
            {% for loan in late_loans %}
                {% with b=loan.borrower %}
                    {{ b.username }} - {{ loan.return_date }} - {{ b.first_name }} {{ b.last_name }}
                {% endwith %}
                <a href="{% url 'inventory:loan_detail' loan.id %}">
                    {% for item in loan.items.all %}
                        <div class="chip">{{ item.name }}</div>

                    {% endfor %}
                    <br>
                </a>
            {% endfor %}
        {% endif %}


        {% if late_loans %}
            <!-- TODO merk av for om hvor mange reminders personen har fått på mail -->

            <h2>Utlån</h2>
            {% for loan in current_loans %}
                {% with b=loan.borrower %}
                    {{ b.username }} - {{ loan.return_date }} - {{ b.first_name }} {{ b.last_name }}
                {% endwith %}
                <a href="{% url 'inventory:loan_detail' loan.id %}">
                    {% for item in loan.items.all %}
                        <div class="chip">{{ item.name }}</div>

                    {% endfor %}
                    <br>
                </a>
            {% endfor %}
        {% endif %}

        {% if old_loans %}
            <h2>Tidligere lån</h2>
            {% for loan in old_loans %}
                {% with b=loan.borrower %}
                    {{ b.username }} - {{ loan.return_date }} - {{ b.first_name }} {{ b.last_name }}
                {% endwith %}
                <a href="{% url 'inventory:loan_detail' loan.id %}">
                    {% for item in loan.items.all %}
                        <div class="chip">{{ item.name }}</div>

                    {% endfor %}
                    <br>
                </a>
            {% endfor %}

        {% endif %}

    </div>


{% endblock content %}
