{% extends 'website/base.html' %}
{% load static %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="section hs-green white-text">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Rediger lagerinnslag</h4>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="card-panel">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form.name }}
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <span class="helper-text hs-red-text">{{ form.name.errors }}</span>
                    </div>
                    <div class="input-field col s12 m6">
                        {{ form.stock }}
                        <label for="{{ form.stock.id_for_label }}">{{ form.stock.label }}</label>
                        <span class="helper-text hs-red-text">{{ form.stock.errors }}</span>
                    </div>
                </div>

				<div class="input-field">
                    <p>{{ form.description.label }}</p>
					<span class="helper-text hs-red-text">{{ form.description.errors }}</span>
					{{ form.description }}
				</div>

                <div>
                    {% include 'files/_gallery_include.html' %}
                </div>

                <button class="btn btn-large hs-green white-text waves-effect waves-light" type="submit">Lagre lagerinnslag</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}