{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "inventory/css/style.css" %}"
          xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% endblock header %}


{% block content %}
    <h1>Inventar</h1>
    <!-- TODO knapper man ikke kan bruke med mindre man er logget inn, kan enten linke til innloggingsside, eller
    være gråe, og ikke fungerende
    TODO endre fra "category" til "tag", for å være konsekvent
    -->

    <ul class="collapsible" data-collapsible="accordion">
        <!-- collapsible sorted by cateogry, items sorted alphabetically -->
        {% for category, items in item_dict.items %}
            <li>
                <div class="collapsible-header">{{ category }}</div>
                <div class="collapsible-body">
                    <ul>
                        <br>
                        {% for item in items %}
                            <li>
                                <a href={% url 'inventory:detail' item.id %}>{{ item.name }}</a>
                            </li>
                        {% endfor %}
                        <br>
                        <li>
                            <a href="{% url 'inventory:tag_detail' category.id %}">Til kategoriside</a>
                        </li>
                    </ul>
                </div>

            </li>
        {% endfor %}

        <!-- shows items without category -->
        <!-- TODO evt ikke la "ingen_tag" være utvidet som standard -->
        {% if no_category %}
            <li>
                <div class="collapsible-header active"><i class="material-icons"> </i>Ingen tag</div>
                <div class="collapsible-body">
                    <ul>
                        <br>
                        {% for item in no_category %}
                            <li>
                                <a href={% url 'inventory:detail' item.id %}>{{ item.name }}</a>
                            </li>
                        {% endfor %}
                        <br>
                    </ul>
                </div>

            </li>
        {% endif %}
    </ul>

    <a href="{% url 'inventory:add_item' %}" class="waves-effect waves-light btn">Legg til gjenstand</a>
    <a href="{% url 'inventory:add_tag' %}" class="waves-effect waves-light btn">Legg til tag</a>
    <a href="{% url 'inventory:loan' %}" class="waves-effect waves-light btn">Registrer utlån</a>

{% endblock content %}
