{% extends 'website/base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
    {{ jquery | safe }}
{% endblock %}
{% block content %}
    <div class="section hs-green white-text">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Lager</h4>
                    <p>{% trans "Her kan du søke i lageret vårt. Lyst til å låne noe? Kom innom verkstedet!" %}</p>
                </div>
            </div>
        </div>
    </div>

    {% include "inventory/_list_admin_banner.html" %}

    <div class="section">
        <div class="container">
            <form method="get">
                <div class="row">
                    <div class="file-field input-field col s12 m6 l6">
                        <input id="search_field" name="search" type="text"
                            placeholder="{% trans "Ting, tang og tare" %}" value="{{ search }}">
                        <label for="filter">{% trans "Navn" %}</label>
                    </div>
                    <div class="input-field col s12 m6 l5">
                        <select name="sort_by" onchange="updateSortBy(this.value)">
                            <option value="" disabled {% if not sort_by %}selected{% endif %}>{% trans "Velg sorteringskriterie" %}</option>
                            <option value="popularity" {% if sort_by == "popularity" %}selected{% endif %}>{% trans "Popularitet" %}</option>
                            <option value="stock_dsc" {% if sort_by == "stock_dsc" %}selected{% endif %}>{% trans "Lagerbeholdning" %} ({% trans "Synkende" %})</option>
                            <option value="stock_asc" {% if sort_by == "stock_asc" %}selected{% endif %}>{% trans "Lagerbeholdning" %} ({% trans "Stigende" %})</option>
                            <option value="name" {% if sort_by == "name" %}selected{% endif %}>{% trans "Navn" %}</option>
                        </select>
                        <label>{% trans "Sorter etter" %}</label>
                    </div>
                    <br>
                </div>
            </form>

            <div id="items_list"></div>

        </div>
    </div>

    <script>

        let search = "{{ search }}";
        let page_number = {{ page }};
        let sort_by = "{{ sort_by }}";

        document.addEventListener('DOMContentLoaded', function () {
            updateList();
        });

        // Listen for keystroke events
        let timeout = null;
        let search_field = document.getElementById("search_field");
        search_field.addEventListener('keyup', () => {
            // Clear the timeout if it has already been set.
            // This will prevent the previous task from executing
            // if user is still typing
            clearTimeout(timeout);

            // Make a new timeout set to go off in 1000ms (1 second)
            timeout = setTimeout(function () {
                updateSearch(search_field.value)
            }, 100);
        });

        function updateSearch(s) {
            search = s;
            page_number = 1;
            updateList();
        }

        function updatePageNumber(p) {
            page_number = p;
            updateList();
        }

        function updateSortBy(s) {
            sort_by = s;
            page_number = 1;
            updateList();
        }

        function updateList() {

            // Refresh list content from api
            $.ajax({
                url: '/api/inventory/?search=' + search + '&page=' + page_number + "&sort_by=" + sort_by,
                type: 'GET',
                success: function (data) {
                    $('#items_list').html(data);
                }
            });

            // Update url to allow direct links to search
            let state = window.history.state;
            let title = window.document.title;
            let url = '/inventory/?search=' + search + '&page=' + page_number + "&sort_by=" + sort_by;
            window.history.pushState(state, title, url);
        }

    </script>

{% endblock %}
