{% extends 'base.html' %}
{% load staticfiles %}
{% load cards %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock header %}


{% block content %}
    <div class="content">

        <div class="col s12 m7">
            <div class="row">

                <div class="col s9">
                    <h3 class="header">Utlån til: {{ loan.borrower.username }}</h3>
                </div>

                <div class="col s3">
                    <br>
                    <!-- TODO fiks denne jallagreia -->
                    <div class="card horizontal" id="status-box" style="height: 55px;">
                        <div class="card-stacked">
                            <div class="card-content">
                                {% if loan.date_returned %}
                                    LEVERT
                                {% else %}
                                    <script>
                                        $('#status-box').css('background-color', 'var(--hs-red)');
                                    </script>
                                    {% if loan.is_past_return_date %}
                                        OVER FRIST
                                    {% else %}
                                        IKKE LEVERT
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% card_loan_detail loan %}

    </div>
{% endblock content %}
