{% extends 'website/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="content">
        <div class="tab-container">
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a class="active-loans" href="#test-swipe-1"
                                          style="color: var(--hs-green)">Mine aktive utlån</a>
                </li>
                <li class="tab col s3"><a class="too-late" href="#test-swipe-2">Mine for sene</a>
                </li>
                {% if late_loans.all %}
                    <script>
                        $('a.too-late').css('color', 'var(--hs-red)');
                        $('a.too-late').addClass('active');
                    </script>
                {% else %}
                    <script>
                        $('a.too-late').css('color', 'var(--hs-green)');
                        $('a.active-loans').addClass('active');
                    </script>
                {% endif %}
                <li class="tab col s3"><a href="#test-swipe-3" style="color: var(--hs-green)">Mine tidligere lån</a>
                </li>
            </ul>

            <div id="test-swipe-1" class="col s12">
                <h2>Aktive lån</h2>
                {% if active_loans %}
                    {% for loan in active_loans %}
			    {{ loan.date_description }}: {{ loan.date }}
                    {% endfor %}
                {% endif %}
            </div>

            <div id="test-swipe-2" class="col s12">
                <h2>For sene</h2>
                {% if late_loans %}
                    <!-- TODO merk av for om hvor mange reminders personen har fått på mail -->
                    {% for loan in late_loans %}
                    {% endfor %}
                {% endif %}
            </div>

            <div id="test-swipe-3" class="col s12">
                {% if old_loans %}
                    <h2>Tidligere lån</h2>
                    {% for loan in old_loans %}
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
