{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}">

{% endblock header %}


{% block content %}
    <div class="content">
        <h1>Mine lån</h1>


        {% if user.loan_set.all %}
            {% for loan in user.loan_set.all %}
                <h4>{{ loan.item.name }}</h4>
                <a href="{% url 'inventory:loan_detail'  loan.id %}">
                    {% for item in loan.items.all %}
                        <div class="chip">
                            {{ item.name }}
                        </div>
                    {% endfor %}
                </a>
            {% endfor %}
        {% else %}
            <p>Du har ingen registererte lån</p>
        {% endif %}


        <!-- TODO legge inn en betingelse på at man er en slags admin?-->
        {% if user.lender_set.all %}
            <h4>Du har lånt ut</h4>
            {% for loan in user.lender_set.all %}
                <h4>{{ loan.item.name }}</h4>
                <a href="{% url 'inventory:loan_detail'  loan.id %}">
                    {% for item in loan.items.all %}
                        <div class="chip">
                            {{ item.name }}
                        </div>
                    {% endfor %}
                </a>
            {% endfor %}
        {% endif %}

    </div>
{% endblock content %}
