{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}"/>
{% endblock header %}

{% block content %}
    <div class="content">
        <h1>Registrer nytt utlån</h1>
        <form action="{% url 'inventory:register_loan' %}" method="post">
            {% csrf_token %}
            {{ form }}


            <button class="btn waves-effect waves-light" type="submit" name="action">Registrer
            </button>

        </form>
    </div>
{% endblock content %}
