{% extends 'base.html' %}
{% load staticfiles %}
{% load cards %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "inventory/css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "inventory/css/general.css" %}">
    <script src="{% static 'inventory/js/search.js' %}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock header %}

<!-- TODO makere hvor mange som er utlånt, om man har noen tilgjengelige -->
<!-- TODO finn måte å markere forskjell på items og tagger -->
<!-- TODO la bruker merke flere items som kommer opp i søket, for å endre mange på en gang, endre tagger på alle -->


{% block content %}

    <a class='dropdown-button btn' href='#' data-activates='dropdown1'
       style="position: absolute; width: 120px; margin-left: 10px; margin-top: 10px;">Valg</a>
    <ul id='dropdown1' class='dropdown-content'
        style="position: absolute; width: 120px; margin-left: 10px; margin-top: 45px;">
        {% if perms.inventory.add_item %}
            <li><a href="{% url 'inventory:add_item' %}">Legg til gjenstand</a></li>
        {% endif %}
        {% if perms.inventory.add_tag %}
            <li><a href="{% url 'inventory:add_tag' %}">Legg til tag</a></li>
        {% endif %}
        {% if perms.inventory.add_loan %}
            <li><a href="{% url 'inventory:register_loan' 0 %}">Registrer utlån</a></li>
            <li><a href="{% url 'inventory:administrate_loans' %}">Administrer
                utlån</a></li>
        {% endif %}
        <li><a href="{% url 'inventory:my_loans' %}">Mine lån</a></li>
    </ul>

    <div class="content">

        <div class="left-list" id="asdfjkd">
            <p id="hei"></p>
            <ul id="merkede-elementer">
            </ul>

            <form id="multiple_items_form" action="{% url 'inventory:change_multiple_items' %}" method="post">
                {% csrf_token %}
                <input id="items-for-changing" name="items" type="hidden">
                <button id="change_multiple" type="button" class="waves-effect waves-light btn"
                        onclick="postItems()"></button>
            </form>
        </div>

        <!-- TODO stygg quick fix-->
        <style>
            .left-list {
                position: absolute;
                margin-top: 50px;
                margin-left: -200px;
            }
        </style>
        <script>
            // TODO kan denne flyttes? (for at knappen i margen skal forsvinne ved loading av sida)
            // - senere: Hæ??
            // TODO det for å kunne merke av og endre flere items, skal jeg støtte det?
            update();
        </script>

        <br>
        <form id="searchform" action="{% url 'inventory:search' %}" method="get">
            {% csrf_token %}
            <input class="searchfield" id="searchbox" name="q" type="text" value="{{ search_text }}" placeholder="Søk"
                   autocomplete="off">
            <button class="btn waves-effect waves-light" type="submit" name="action">søk</button>
        </form>

        <br>

        {% for tag in tags %}
            <div class="chip" style="background-color: var(--hs-green)">
                <a href="{% url 'inventory:tag_detail' tag.id %}" style="color: black">{{ tag.name }}</a>
            </div>
        {% endfor %}
        <br>

        {% for item in hits %}
            <div class="item-box">
                {% small_card_item_detail item request perms %}
            </div>

        {% endfor %}

    </div>

    <style>
        .content {

            max-width: 815px;
            display: block;
            margin: 0 auto;
        }

    </style>
{% endblock content %}
