{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "inventory/css/style.css" %}">
    <script src="{% static 'inventory/js/search.js' %}"></script>
{% endblock header %}

<!-- TODO makere hvor mange som er utlånt, om man har noen tilgjengelige -->
<!-- TODO finn måte å markere forskjell på items og tagger -->
<!-- TODO la bruker merke flere items som kommer opp i søket, for å endre mange på en gang, endre tagger på alle -->


{% block content %}
    <div class="content">

        <div class="left-list" id="asdfjkd">
            <p id="hei"></p>
            <ul id="merkede-elementer">
            </ul>

            <form id="multiple_items_form" action="{% url 'inventory:change_multiple_items' %}" method="post">
                {% csrf_token %}
                <input id="items-for-changing" name="items" type="hidden">
                <button id="change_multiple" type="button" class="waves-effect waves-light btn"
                        onclick="postItems()"></button>
            </form>
        </div>

        <!-- TODO stygg quick fix-->
        <style>
            .left-list {
                position: absolute;
                margin-top: 50px;
                margin-left: -200px;
            }
        </style>
        <script>
            // TODO kan denne flyttes? (for at knappen i margen skal forsvinne ved loading av sida)
            update();
        </script>

        <!-- TODO flytt dette søkefeltet og knappen til riktig sted -->
        <br>
        <form id="searchform" action="{% url 'inventory:search' %}" method="get">
            {% csrf_token %}
            <input class="searchfield" id="searchbox" name="q" type="text" value="{{ search_text }}" placeholder="Søk"
                   autocomplete="off">
            <button class="btn waves-effect waves-light" type="submit" name="action">søk</button>
        </form>

        <br>
        {% if perms.inventory.add_item %}
            <a href="{% url 'inventory:add_item' %}" class="waves-effect waves-light btn">Legg til gjenstand</a>
        {% endif %}
        {% if perms.inventory.add_tag %}
            <a href="{% url 'inventory:add_tag' %}" class="waves-effect waves-light btn">Legg til tag</a>
        {% endif %}
        {% if perms.inventory.add_loan %}
            <a href="{% url 'inventory:register_loan' %}" class="waves-effect waves-light btn">Registrer utlån</a>
            <a href="{% url 'inventory:administrate_loans' %}" class="waves-effect waves-light btn">Administrer
                utlån</a>
        {% endif %}

        <a href="{% url 'inventory:index' %}" class="waves-effect waves-light btn">Tilbake til index</a>
        <br>
        <br>
        {% for tag in tags %}
            <div class="chip">
                <a href="{% url 'inventory:tag_detail' tag.id %}">{{ tag.name }}</a>
            </div>
        {% endfor %}
        <br>
        {% for item in hits %}

            <div class="card blue-grey darken-1" id="{{ item.name }}">

                <div class="card-content white-text">
                        <span class="card-title">
                            <a href="{% url 'inventory:detail' item.id %}">{{ item.name }}</a>
                        </span>
                    <div class="checkbox">
                        <input type="checkbox" id="{{ item.id }}" name="{{ item.name }}" onclick="update()"/>
                        <label for="{{ item.id }}"></label>
                    </div>
                    <br>
                    {% if item.tags %}
                        {% for tag in item.tags.all %}
                            <div class="chip">
                                <a href="{% url 'inventory:tag_detail' tag.id %}">{{ tag.name }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <br>
                    <p>Antall: {{ item.quantity }}</p><br>
                    <p>{{ item.description }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'inventory:add_item' item.id %}">endre</a>
                    <a href="#">lån ut</a>

                </div>
            </div>

        {% endfor %}

    </div>
{% endblock content %}
