{% extends 'base.html' %}
{% load staticfiles %}
{% load cards %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}">
{% endblock header %}


{% block content %}
    <div class="content">
        <h1>{{ tag.name }}</h1>

        <a href="{% url 'inventory:add_tag' tag.id %}" class="waves-effect waves-light btn">Endre tag</a>
        <a href="{% url 'inventory:index' %}" class="waves-effect waves-light btn">Tilbake til index</a>

        <ul>
            {% for item in related_items %}

                {% card_item_detail item request perms False True %}

            {% endfor %}
        </ul>
    </div>
{% endblock content %}
