{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/style.css' %}">
{% endblock header %}


{% block content %}
    <div class="content">
        <h1>{{ tag.name }}</h1>

        <a href="{% url 'inventory:add_tag' tag.id %}" class="waves-effect waves-light btn">Endre tag</a>
        <a href="{% url 'inventory:index' %}" class="waves-effect waves-light btn">Tilbake til index</a>

        <ul>
            {% for item in related_items %}
                <div class="card" style="background-color: var(--hs-gray-li2)">
                    <div class="card-content white-text">
                        <span class="card-title">
                            <a href="{% url 'inventory:detail' item.id %}">{{ item.name }}</a>
                        </span>
                        <br>
                        {% if item.tags %}
                            {% for tag in item.tags.all %}
                                <div class="chip">
                                    <a href="{% url 'inventory:tag_detail' tag.id %}">{{ tag.name }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <br>
                        <p>Antall: {{ item.quantity }}</p><br>
                        <p>{{ item.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'inventory:add_item' item.id %}" style="color: var(--hs-green)">endre</a>
                        <a href="{% url 'inventory:register_loan' item.id %}" style="color: var(--hs-green)">lån ut</a>
                    </div>
                </div>

            {% endfor %}
        </ul>
    </div>
{% endblock content %}
