#time, #registration {
  margin: 20px 0;
}

.inline {
  display: inline-block;
}

/* Registration */
#registration .extra {
  width: 80%;
  float: right;
}

#registration .max, #registration .time, #registration .date {
  float: right;
}

#registration .time {
  width: 23%;
  margin-right: 3.1%;
}
#registration .date {
  width: 35.2%;
}

#registration .max {
  width: 28.8%;
  margin-right: 3.1%;
}
/* end */


/* Event date/time */
#time .time {
  display: inline-block;
  width: 23%;
}

#time .date {
  float: right;
  width: 49%;
}

#time .time.end {
  margin-left: 2%;
}
/* end */


/* Thumbnail and place */
#thumbplace .tumb {
  width: 20%;
  float: left;
}

#thumbplace .places {
  width: 74.6%;
  float: right;
}

#thumbplace .place, #thumbplace .href {
  width: 100%;
}
/* end */
