form {
  max-width: 835px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
}

.imageItem {
  width: 180px;
  height: 180px;
  position: relative;
  margin: 6px 8px;
  margin-bottom: 20px;
  border: 3px solid rgba(0,0,0,0);
}

.card-image {
  position: relative;
  height: 165px;
  width: 165px;
  margin: 5px;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
}

.btn {
  width: 100%;
}

.errorlist {
  color: var(--hs-red);
}

[type="checkbox"].filled-in:checked+label:after {
  color: var(--hs-green);
  background-color: var(--hs-green);
  border-color: var(--hs-green);
}
