#content {
    max-width: 1200px;
}

#sidepanel {
    display: inline-block;
    width: 14%
}

#ingress_and_article {
    display: inline-block;
    width: 80%;
    float: right;
}

.hsgreen {
    background-color: var(--hs-green) !important;
}

.infoheader, .info {
    display: inline-block;
    margin: 5px 0;
}

.infoheader {
    margin-right: 5px;
    width: 50px;
    color: var(--hs-gray-li2);
}

.infoheader.autowidth {
    width: auto;
}

.info {
    color: #000;
}

.progress {
    height: 30px;
    width: 95%;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    z-index: -2;
}

.counter {
    color: #fff;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.determinate {
    z-index: -1;
}

.registered_users {
    margin-top: 30px;
}

.people {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 3px;
    padding: 8px;
}

.people p {
    margin: 1px;
    padding: 1px;
}

.modal-content {
    text-align: left;
}

#registrationButton {
    font-size: 12px;
}
