
.caption-text {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.article-container {
	margin-top:-200px !important;
	padding-top:64px !important;
	position:relative;
}
.article-content {
	word-break:break-all !important;
}
