
.caption-text {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.article-container {
	margin-top:-200px !important;
	padding-top:64px !important;
	position:relative;
}
.article-content {
	word-break:break-all !important;
}

.subheader-list {
	height:48px;
	margin-bottom:48px;
	margin-top:16px;
}
.subheader {
	margin:16px;
}
.empty-list-container {
	height:48px;
	margin:16px;
}
