/* Definer hackerspace farger som klasser */
.hs-gray {
  background-color: #4E4B46 !important;
}
.hs-gray-text {
  color: #4E4B46 !important;
}
.hs-gray-text:visited {
  color: #4E4B46 !important;
}
.hs-red {
  background-color: #E25E48 !important;
}
.hs-red-text {
  color: #E25E48 !important;
}
.hs-red {
  background-color: #E25E48 !important;
}
.hs-red-text {
  color: #E25E48 !important;
}
.hs-yellow {
  background-color: #F6BE00 !important;
}
.hs-yellow-text {
  color: #F6BE00 !important;
}
.hs-green {
  background-color: #5BBA47 !important;
}
.hs-green-text {
  color: #5BBA47 !important;
}

.darken-90 {
	filter: brightness(90%);
}
.darken-80 {
	filter: brightness(80%);
}
.darken-70 {
	filter: brightness(70%);
}
.darken-60 {
	filter: brightness(60%);
}
.darken-50 {
	filter: brightness(50%);
}
.darken-40 {
	filter: brightness(40%);
}
.darken-25 {
	filter: brightness(25%);
}
.darken-20 {
	filter: brightness(20%);
}
.darken-10 {
	filter: brightness(10%);
}
