h1.404 {
    font-size: 150pt;
    margin: 70px auto -30px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2.404 {
    font-size: 50pt;
    margin: 0 auto 50px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
