.tabs .indicator {
    background-color: #366F2A;
}
.tabs .tab a {
  color: #5BBA47;
}
.tabs .tab a.active {
  color: #366F2A;
}
.tabs .tab a:hover {
  color: #366F2A;
}

blockquote {
	border-left: 5px solid #939084 !important;
}

/* Overstyr materialize farger */
.secondary-content {
	color:#4E4B46 !important;
}
nav ul a, nav i {
	color:#fff !important;
}

.sidenav li a {
	color:#5BBA47 !important;
}
.dropdown-content li > a {
	color:#5BBA47 !important;
}

.sidenav .subheader {
	color:#fff !important;
}

/* Override for higher sections */
.full-width {
	height:70vh !important;
	min-height:50vh !important;
}
.full-width li, .full-width ul {
	height:100% !important;
}
.text-shadow {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* label color */
.input-field label {
	color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
	color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
	border-bottom: 1px solid #000 !important;
	box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid {
	border-bottom: 1px solid #0F0;
	box-shadow: 0 1px 0 0 #0F0;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid {
	border-bottom: 1px solid #F00 !important;
	box-shadow: 0 1px 0 0 #F00 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #000;
}

label.active::after {
	width:999px !important;
}
a {
	color: #5BBA47 !important;
	/* Fjerner stygg outline etter å ha trykket på noe */
	outline: none;
}
/* CKEditor override */
.django-ckeditor-widget {
	width:100%;
}
.no-margin {
	margin:0px !important;
}
.no-pad {
	padding:0px !important;
}
/* Required for sidenav + static navbar. Makes sure sidenav always on top */
.navbar-fixed {
	z-index: 9999 !important;
}
/* Remove padding from bottom. Handy for section blocks */
.no-pad-bot {
	margin-bottom:0px !important;
	padding-bottom:0px !important;
}
