/* Sett riktige fonts */
html {
	font-family: 'Open Sans', sans-serif !important;
}
p {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 1rem !important;
	letter-spacing: 0.031rem !important;
	font-weight: normal !important;
}
h1,h2 {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400 !important;
}

h3,h4,h5,a {
	font-family: 'Montserrat', sans-serif !important;
}
.aligned-text {
	vertical-align: middle !important;

}
/* Denne koden er nødvendig for å få footer som fixed. */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

.hover-text {
	padding-top:24px;
}


/* Resize og posisjonering av header bilder */
.mobile-img .brand-logo-text {
	height: 56px;
	margin-left: 16px;
}

.brand-logo-coglight {
	width: 48px;
	height: 64px;
	padding: 10px 0;
	margin-left: 16px;
}

.brand-logo-text {
	width: 152px;
	height: 64px;
}

.tab-img img {
	margin-left:0px;
}
.mobile-img img {
	margin-left:0px;
	height:54px;
}


/* Fix personlig profilbilde i navbaren */
.dropdown-trigger-user img {
	height: 64px;
	width: 32px;
	padding-bottom: 16px;
	padding-top: 16px;
}
/* Få material icons til å vertikalt aligne med teksten */
.material-icons {
	vertical-align: middle !important;
	padding-bottom: 3px;
}

/* Social media icons */
.sosial-bilder img {
	height: 32px;
	width: 32px;
	border-radius: 6px;
}
.sosial-bilder a {
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 6px;
}

/* For darkening images on front page (for better contrast with text on top) */
.tinter:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 65, 128, 0.60);
}

/* Prevent text in articles not formatted properly from looking ugly and clipping outside its container */
.preview-text p {
	word-break: break-all;
}

.search-wrapper i.material-icons{
	cursor: pointer;
	position: relative;
	right: 24px;
}
/* footer for parallax on about */
.opaque-footer {
	background-color: #000;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 24px;
	opacity: 0.4;
	padding-left: 24px;
}

/* Required for sidenav + static navbar. Makes sure sidenav always on top */
.navbar-fixed {
	z-index: 9999 !important;
}

/* Remove padding / margins from bottom. Handy for section blocks */
.no-pad-bot {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

.no-margin {
	margin: 0px !important;
}
.no-pad {
	padding: 0px !important;
}

/* Rule details */

.rules-list{
    display: flex;
}

.rule-body{
    font-size: 1.25rem;
}

.rule-item{
    align-self: center;
}

/* CKEditor override */
.django-ckeditor-widget {
	width: 100%;
}
/* GENERELL STYLING OG MATERIAL OVERRIDES BEGYNNER HER */
.card-action a {
	color: #5BBA47 !important;
}
.slider .slides {
	background-color: none;
	background: rgba(0,0,0,0);

}
.slider .slides:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 65, 128, 0.60);
}

blockquote {
	border-left: 5px solid #939084 !important;
}

.dropdown-content li > a {
	color: #5BBA47 !important;
}

.dropdown-content li > span {
	color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=number]:focus + label,
textarea.materialize-textarea:focus + label {
	color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=number]:focus,
textarea.materialize-textarea:focus {
	border-bottom: 1px solid #939084 !important;
	box-shadow: 0 1px 0 0 #939084 !important;
}
/* valid color */
.input-field input[type=text].valid,
.input-field input[type=email].valid {
	border-bottom: 1px solid #5BBA47;
	box-shadow: 0 1px 0 0 #5BBA47;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #5BBA47;
}

/* markdown field for entering article and event main content */
.markdownx-editor {
    background-color: transparent;
	max-width: 100%;
	min-width: 100%;
	min-height: 20rem;
	padding: 10px;
	border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 30rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
	list-style-position: inside;
}
.markdownx-editor:focus {
	border: 1px solid #939084 !important;
    box-shadow: 0 1px 0 0 #939084 !important;
}

.input-field>p {
	color: #9e9e9e;
}

.datepicker-date-display {
	background-color: #5BBA47;
}
.datepicker-cancel {
	color: #5BBA47;
}
.datepicker-done {
	color: #5BBA47;
}
.datepicker-table td.is-today {
	color: #939084;
}
.datepicker-table td.is-selected {
	background-color: #5BBA47;
	color: #fff;
}

/* Definer hackerspace farger som klasser */
.hs-gray {
  background-color: #4E4B46 !important;
}
.hs-gray-text {
  color: #4E4B46 !important;
}
.hs-gray-text:visited {
  color: #4E4B46 !important;
}
.hs-red {
  background-color: #E25E48 !important;
}
.hs-red-text {
  color: #E25E48 !important;
}
.hs-red {
  background-color: #E25E48 !important;
}
.hs-red-text {
  color: #E25E48 !important;
}
.hs-yellow {
  background-color: #F6BE00 !important;
}
.hs-yellow-text {
  color: #F6BE00 !important;
}
.hs-green {
  background-color: #5BBA47 !important;
}
.hs-green-text {
  color: #5BBA47 !important;
}
.secondary-content {
  color: #5BBA47 !important;
}
/* Overstyr materialize farger */
a {
	color: #5BBA47;
	/* Fjerner stygg outline etter å ha trykket på noe */
	outline: none;
}

/* For horisontale kort */
.card.horizontal .card-image img{
		max-height: 200px;
		min-width:300px;
		max-width:300px;
}

/* For mørkere bilder */
.darken-50 {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}

/* For gamle events, etc. Sett en linje gjennom tekst */
.line-through {
	text-decoration: line-through;
}

/* Invisible divider */
.invisible-divider{
	height: 8px;
	opacity: 0;
}

/* Invisible divider with extra height */
.invisible-divider-large{
	height: 18px;
	opacity: 0;
}

.invisible-divider-huge{
	height: 36px;
	opacity: 0;
}

.word-wrap {
	word-wrap: break-word;
}

.circle{
    border-radius: 50%;
    padding: 1px; /* Fix curving outside content issue */
}

/* Vertical padding (small) */
.py-s {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.pagination-number {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
