{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/edit_profile.css" %}">
{% endblock head %}

{% block content %}
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <p class="flow-text">Endre profilen din her: {{ retning }}</p>
                </div>
            </div>
            <div class="row">
                <div class="row col-10">
                    {{ profile }}
                </div>
            </div>
            <div class="row">
                <div class="row col-10">
                    <form  method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

