{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block content %}
<div class="section hs-green">
	<div class="container">
		<div class="row">
			<div class="col s12 white-text center">
				<h4>Brukerprofil for {{ profile.name }}</h4>
				{% if user.is_superuser or user == profile.user %}
				<a id="edit_profile" href="/members/{{ profile.user_id }}/edit" class="btn btn-large waves-effect waves-light white hs-gray-text">Rediger</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="section hs-gray-text">
	<div class="container">
		<div class="row">
			<div class="col s6">
				<img class="circle" src="/media/{{ profile.image }}" height="300">
			</div>
			<div class="col s6">
				<h4>{{ profile.name }}</h4>
				<div class="divider"></div>
				{% if profile.group %}
				<p class="flow-text">{{ profile.group.all.0.title }}</p>
				{% endif %}
				{% if profile.study %}
				<p class="flow-text">{{ profile.study }}</p>
				{% endif %}
				{% if profile.email %}
				<p class="flow-text">{{ profile.email }}</p>
				{% endif %}
				{% if profile.skills %}
				{% for skill in profile.skills.all %}
				<a href="/members/skill/{{ skill.title }}">
					{{ skill.title }}
					{% if skill.icon %}
					<img class="chip-img" src="/media/{{ skill.icon }}" alt="Skill tag">
					{% endif %}
				</a>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				{% if profile.duty.all %}
				{% include "shift_table.html" %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

