<div class="user-profile-container">
    <div class="user-profile-image">
	<img class="profile-image" src="/media/{{ profile.image }}" height="300">
    </div>
    <div class="user-profile-info">
	<h4>{{ profile }}</h4>
	{% if profile.group %}
	<p>{{ profile.group.all.0.title }}</p>
	{% endif %}
	{% if profile.study %}
	<p>{{ profile.study }}</p>
	{% endif %}
	{% if profile.email %}
	<p>{{ profile.email }}</p>
	{% endif %}
	{% if profile.skills %}
	{% for skill in profile.skills.all %}
	<a class="skill chip" href="/members/skill/{{ skill.title }}">
	    {{ skill.title }}
	    <img class="chip-img" src="/media/{{ skill.icon }}" alt="Skill tag">
	</a>
	{% endfor %}
	{% endif %}
    </div>
</div>
