{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
{% endblock head %}

{% block content %}
<div class="section no-pad-bot">
    <div class="container">
	{% include "profile_card.html" %}
	{% include "shift_table.html" %}
	{% if user.is_superuser or user = profile.user %}
	<a href="/members/edit_profile/{{ profile.user_id }}" class="btn waves-effect waves-light">Rediger</a>
	{% endif %}
    </div>
</div>
{% endblock %}

