{% load staticfiles %}
<div class="user-profile-container">
    <div class="user-profile-image">
	    {% if profile.image.url == "/media/profilepictures/default.png" %}
	    <img class="profile-image" src="{% static 'img/default.png' %}" height="300">
	    {% else %}
	    <img class="profile-image" src="{{ profile.image.url }}" height="300">
	    {% endif %}
    </div>
    <div class="user-profile-info">
	<h4>{{ profile.name }}</h4>
	{% if profile.group %}
	<p>{{ profile.group.all.0.title }}</p>
	{% endif %}
	{% if profile.study %}
	<p>{{ profile.study }}</p>
	{% endif %}
	{% if profile.email %}
	<p>{{ profile.email }}</p>
	{% endif %}
	{% if profile.skills %}
	{% for skill in profile.skills.all %}
	<a class="skill chip" href="/members/skill/{{ skill.title }}">
	    {{ skill.title }}
	    {% if skill.icon %}
	    <img class="chip-img" src="/media/{{ skill.icon }}" alt="Skill tag">
	    {% endif %}
	</a>
	{% endfor %}
	{% endif %}
    </div>
</div>
