{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/members.css" %}">
{% endblock head %}

{% block content %}
    <section id="groupview" style="width: 90%; max-width: 1000px; margin: 50px auto;">
	<h1 class="center-align">Medlemmer i Hackerspace som kan {{ skill.title }}</h1>
        <div class="members">
            <div class="row">
                {% for profile in profiles %}
                    <div class="col s12 m6 l4">
                        <div class="card-container">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a class="img-a" href={% url 'profile' profileID=profile.user_id %}>
                                        <img class="activator" src="/media/{{ profile.image }}">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <a class="profile-name" href={% url 'profile' profileID=profile.user_id %}>{{ profile }}</a>
                                    <div class="profile-groups-title">
                                        {% for group in profile.group.all %}
                                            {{ group.title|linebreaks }}
                                        {% endfor %}
                                    </div>
                                    {% for skill in profile.skills.all %}
                                        <a class="chip" href="/members/skill/{{ skill.title }}" style="color: black">
                                            {{ skill.title }}
                                            <img class="chip-img" src="/media/{{ skill.icon }}" alt="Skill tag">
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% comment %}
        <!--
        <div class="groups">
            {% for group in groups %}
                <div class="row">
                    <div  align="center">
                        <a class="group-title" href="viewGroup/{{ group.title }}" style="color: black">{{ group.title }}</a>
                    </div>
                {% for profile in group.members.all %}
                    <div class="card-container">
                        <div class="col s12 m6 l4">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a class="img-a" href="profile/">
                                        <img class="activator" src="/media/{{ profile.image }}">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <a class="profile-name" href="profile/">{{ profile }}</a>
                                    <div class="profile-groups-title">
                                        {% for group in profile.group.all %}
                                            {{ group.title|linebreaks }}
                                        {% endfor %}
                                    </div>
                                    {% for skill in profile.skills.all %}
                                        <div class="chip">
                                            <img src="/media/{{ skill.icon }}" alt="Skill tag">
                                            {{ skill.title }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
        -->
        {% endcomment %}
    </section>
{% endblock %}
