{% extends "website/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div>
        <p>{{ application.name }}</p>
        <p>{{ application.email }}</p>
        <p>{{ application.phone }}</p>
        <p>{{ application.study }}</p>
        <p>{{ application.year }}</p>
        <p>{{ application.knowledge_of_hs }}</p>
        <p>{{ application.about }}</p>
        <p>{{ application.application_text }}</p>
        {% for group in application.group_choice.all %}
            <p>{{ forloop.counter }}: {{ group.name }}</p>
        {% endfor %}
        <p>{{ application.project_interests }}</p>
        <p>{{ application.application_date }}</p>
    </div>
    <div>
        <a href="{% url 'internalportal:process_application' application.id %}"><button class="btn btn-small">Process</button></a>
        {% if second_group %}
            <a href="{% url "internalportal:next_group" application.id %}" ><button class="btn btn-small">{% trans "Send videre" %}</button></a>
        {% endif %}
    </div>
{% endblock %}
