{% load i18n %}

<div class="collection card-panel">
    {% if users %}
        <button onclick="copyToClip()" class="btn waves-effect waves-light">
            <i class="material-icons left">content_paste</i>{% trans "Kopier til utklippstavle" %}
        </button>
        <table class="striped" id="tableToCopy">
            <thead>
                <th>{% trans "Navn" %}</th>
                <th>{% trans "Epost" %}</th>
                <th>{% trans "Tilgang til" %}</th>
            </thead>
            <tbody>

                {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ next_year|date:"d.m.Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "Ingen aktive medlemmer." %}</p>
    {% endif %}
</div>
<script>
    function copyToClip() {
        let copyText = document.getElementById("tableToCopy");
        navigator.clipboard.writeText(copyText.innerText.trim());
    }
</script>