/* Group chooser */

.group-chooser-field {
    margin-bottom: 0.5em;
}

#group-chooser {
    max-width: 500px;
    margin-top: 0.5em;
}

.group-option {
    padding: 1em 1.5em 1em 1.5em;
}

.group-option.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.group-option-remove {
    cursor: pointer;
}

.group-chooser-error {
    font-size: 12px;
}
