{% include 'base.html' %}

<section id="intro" class="intro-section">
    <div class="container">
        <div id="menu">
            <ul class="menu">
                <li id="menu_about"><a class="page-scroll" href="#about">OM OSS</a></li>
                <li id="menu_gallery"><a class="page-scroll" href="#articles">ARTICLES</a></li>
                <li id="menu_events"><a class="page-scroll" href="#events">EVENTS</a></li>
                <li id="menu_wiki"><a class="page-scroll" href="#wiki">WIKI</a></li>
            </ul>
        </div>
    </div>
    <div class="outer">
        <div class="middle">
            <div id="status" class="inner"></div>
        </div>
    </div>
</section>

<section id="readmore" class="readmore-section">
    <a id="scrolldown" class="label page-scroll" href="index.html#about">Hva er Hackerspace NTNU? Klikk her eller scoll
        ned!</a>
    <br>
    <small id="scrolldownarrow">▼</small>
</section>

<section id="about" class="about-section">
    <div class="container">
        <div class="row margin-50">
            <ul class="list-inline home-icons">
                <li class="icon icon-wifi"></li>
                <li class="icon icon-printer"></li>
                <li class="icon icon-chip"></li>
                <li class="icon icon-people"></li>
                <li class="icon icon-oculus"></li>
                <li class="icon icon-controller"></li>
            </ul>
        </div>
        <div class="row">
            <h1>Om Hackerspace NTNU</h1>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Hackerspace NTNU er et pilotprosjekt for å fremme interessen for ny teknologi. Målet er å alltid ha
                    det kuleste og nyeste. Vi har droner, 3D-printer, leap motion, robot-kit og Oculus Rift for å nevne
                    noe.
                </p>

                <p>
                    Vi ønsker å være et lavterskeltilbud og stiller derfor også opp og hjelper etter beste evne med
                    utvikling av ny teknologi.
                </p>

                <p>
                    Det holdes regelmessig kurs for både nybegynnere og viderekomne for å supplementere dette.
                    Nybegynnerkurs i Arduino og 3D-printing har vært svært populære tidligere, og noe vi tenker å holde
                    igjen.
                </p>

                <p>
                    Om du er en førsteklassing som trenger hjelp med ditt første Arduino-prosjekt eller er en
                    fjerdeklassing som ønsker å lage en 3D-modell av Trondheim, kan vi stille med både utstyr og
                    kompetanse. Dersom vi ikke kan svare på spørsmål, vil vi etter beste evne finne noen som kan hjelpe.
                </p>

                <p class="lead">
                    Kom gjerne innom for å se hva vi driver med!
                </p>
            </div>
            <div class="col-md-6">
                <p>Vår visjon er å skape en kreativ arena der studenter kan få hjelp til å realisere ideene sine. Vi er
                    for deg som ønsker å prøve ut ny teknologi, utvikle morgendagens løsninger eller sosialisere med
                    andre teknologiinteresserte.</p>

                <p>Vi har <b>fast åpningstid tirsdager fra klokken 12 til 18</b>, og er ellers ofte åpen andre dager
                    såfremt en av oss med tilgang til rommet er på NTNU og har tid til å holde åpent.</p>

                <p>Vi befinner oss i Drivhuset på NTNU Gløshaugen i IT-byggets sydfløy.</p>
                <a href="https://use.mazemap.com/?v=1&campusid=1&sharepoitype=point&sharepoi=10.40304,
                63.41627,1&zlevel=1&left=10.40268&right=10.40390&top=63.41647&bottom=63.41621"
                class="btn btn-primary" role="button" target="_blank">Kart</a>
            </div>
        </div>
    </div>
</section>


<section id="articles" class="events-section">
    <div class="container">
        <div class="row">
            <h1>Articles</h1>
        </div>
        <br>
        <div class="row">
            {% include "articles.html" %}
        </div>
    </div>
</section>

<section id="events" class="events-section">
    <div class="container">
        <div class="row">
            <h1>Events</h1>
        </div>
        <br>
        <div class="row">
            {% include "events.html" %}
        </div>
    </div>
</section>

<section id="wiki" class="wiki-section">
    <div class="container">
        <div class="row margin-50">
            <ul class="list-inline home-icons">
                <li class="icon icon-edit"></li>
                <li class="icon icon-books"></li>
                <li class="icon icon-earth"></li>
            </ul>
            <div class="row">
                <h1>Wiki</h1>
                <br>
                <br>
            </div>
            <div class="row">

                <p>Hackerspace NTNU har selvfølgelig en egen wiki som fungerer som kunnskapsdatabase og er fri for
                    redigereing av alle med en NTNU-bruker. Her kan man finne informasjon om utstyr og hvordan det
                    skal brukes, med mer.</p>

                <p>Har du drevet med et prosjekt på Hackerspace NTNU oppfordres du til å lage en prosjektside på
                    wikien der du dokumenterer og deler kunnskap, spesifikasjoner og kode.</p>
                <a href="http://wikipedia.org" class="btn btn-primary" role="button">Gå til wikien</a>
            </div>

        </div>
    </div>
</section>

{% include 'footer.html' %}

</body>
</html>