{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/error.css" %}">
{% endblock head %}

{% block content %}
    <main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="center-align red-text darken-4" style="font-weight:300;">500 - Uventet feil</h1>
                </div>
                <div>
                    <p class="flow-text center-align">
                        Oi, noe gikk visst galt.
                    </p>

                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}