{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
  <link href="{% static './css/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<div class="section hs-green white-text">
    <div class="container">
        <div class="row center-align">
          <h3>Om Hackerspace NTNU</h3>
        </div>
    </div>
</div>
<div class="parallax-container">
	<div class="parallax">
		<img class="darken responsive-img" src="{% static './img/Halloween-workshop.jpg' %}" alt="Hackerspace Logo" />
        </div>
</div>
<div class="section hs-gray white-text" id="om">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>Hva er Hackerspace?</h3>
				<p class="flow-text">Hackerspace NTNU er en studentdrevet organisasjon åpen for alle studenter.
					Vi tilbyr en kreativ arena der studenter fra forskjellige linjer kan få hjelp til å realisere idéene sine i et engasjert og inkluderende miljø.
					Hos oss finner du ny teknologi til din disposisjon, blant annet droner, 3D-printere og Virtual Reality-utstyr.
					<br><br>
					Om du er en førsteklassing som trenger hjelp med ditt første Arduino-prosjekt eller en fjerdeklassing som ønsker å lage en 3D-modell av Trondheim, kan vi stille med både utstyr og kompetanse.
					Vi holder også regelmessig kurs for både nybegynnere og viderekomne innen mange spennende emner.
					<br><br>
					Kom innom for å se hva vi driver med og slå av en prat.
					Du finner oss i Drivhuset på NTNU Gløshaugen i IT-byggets sydfløy.</p>
			</div>
		</div>
	</div>
</div>
<div class="section hs-green" id="grupper">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3 class="white-text">Våre grupper</h3>
			</div>
		</div>
	</div>
</div>
<div class="section white" id="grupper">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section">
					<h4>DevOps</h4>
					<p class="flow-text">Hovedoppgaven til DevOps er å utvikle og drifte hackerspace sin nettside, men vi jobber også med ting som dør-apiet og registreringsløsningen vår for utlån av utstyr.  Dør-apiet er koblet opp mot døra til hackerspace og statusen vises både på nettsida og en android widget.</p>
				</div>
				<div class="divider"></div>
				<div class="section">
					<h4>LabOps</h4>
					<p class="flow-text">Vi har hovedansvaret for vaktlister og alt utstyret som står til rådighet for alle på drivhuset. I tillegg holder LabOps diverse kurs både på ønsker utenfra og innenfra. Det kan handle om alt fra hvordan man 3D printer og lager 3D modeller til Hololens og AI. De bli alle annonsert med tid, sted og påmelding her på våre hjemmesider. </p>
				</div>
				<div class="divider"></div>
				<div class="section">
					<h4>PR</h4>
					<p class="flow-text">Det er viktig for oss å dele med andre studenter og interesserte mulighetene og engasjementet som finnes i Hackerspace, enten det er kursing, nytt utstyr, spennende prosjekter eller sosiale eventer.
					
					Arbeidsoppgavene våre er ofte knyttet til visuell kommunikasjon og mange av våre bidrag gjør seg for eksempel synlig i sosiale medier, på stands og på plakater på Gløshaugen. Våre medlemmer er dermed interesserte i design, fotografi og kommunikasjon for å nevne noe.</p>
				</div>
				<div class="divider"></div>
				<div class="section">
					<h4>Prosjekt ER</h4>
					<p class="flow-text">Hovedoppgaven til DevOps er å utvikle og drifte hackerspace sin nettside, men vi jobber også med ting som dør-apiet og registreringsløsningen vår for utlån av utstyr.  Dør-apiet er koblet opp mot døra til hackerspace og statusen vises både på nettsida og en android widget.</p>
				</div>
				<div class="divider"></div>
				<div class="section">
					<h4>Prosjekt VR</h4>
					<p class="flow-text">Hovedoppgaven til DevOps er å utvikle og drifte hackerspace sin nettside, men vi jobber også med ting som dør-apiet og registreringsløsningen vår for utlån av utstyr.  Dør-apiet er koblet opp mot døra til hackerspace og statusen vises både på nettsida og en android widget.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div id="map" style="position: relative; margin-bottom:-50px;">
		<iframe scrolling="no" width="100%" height="420" frameborder="0" marginheight="0" marginwidth="0" src="https://use.mazemap.com/embed.html?v=1&amp;left=10.4026&amp;right=10.4036&amp;top=63.4164&amp;bottom=63.4162&amp;campusid=1&amp;zlevel=1&amp;sharepoitype=point&amp;sharepoi=10.40304%2C63.41629%2C0&amp;utm_medium=iframe"></iframe>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.parallax').parallax();
	});
</script>
{% endblock content %}
