{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackerspace NTNU</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="open">


<div id="header">
    <div id="logo" class="logo"></div>
</div>




<script src="{% static "js/jquery.js" %}"></script>

<script src="{% static "js/bootstrap.min.js" %}"></script>

<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/scrolling-nav.js" %}"></script>
<script src="{% static "js/opening_bar.js" %}"></script>

</body>