{% load staticfiles %}
{% load check_user_group %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block customhead %}
    {% endblock %}

    {% include 'head.html' %}
</head>

<div id="header"></div>

<div style="height: 80px;"></div>

{% if mobile %}
    <img id="logo_mobile" class="page-scroll" onclick='logoClick_mobile()' src="{% static "img/Logo_round_green_small_aa.png" %}" />
{% else %}
    <img id="logo" class="floatUp page-scroll" onclick='logoClick()' src="{% static "img/Logo_round_green_small_aa.png" %}" />
{% endif %}

{% block errors %}
{% endblock %}