{% load staticfiles %}

<footer id="footer" class="page-footer" style="background: var(--hs-gray);">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Hackerspace</h5>
                <p class="white-text">
                    Hackerspace NTNU<br>
                    IT-bygget, sydfløy<br>
                    Sem Sælands vei 7<br>
                    7034 Trondheim<br>
                </p>
                <p class="grey-text text-lighten-4">
                    Har du spørsmål?<br>
                    Ta kontakt via <a style="color: var(--hs-green);" href="mailto:hackerspace-styret@idi.ntnu.no">hackerspace-styret@idi.ntnu.no</a>
                    eller kom innom!
                </p>
            </div>
            <div class="col l8 s12">
                <div class="row">
                    <div class="col l3 offset-l2 s6">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://hackerspace-ntnu.slack.com" target="_blank">Slack</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/hackerspacentnu" target="_blank">Facebook</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/hackerspace-ntnu/" target="_blank">Github</a></li>
                            <li><a class="grey-text text-lighten-3" href="/wiki" target="_blank">Wiki</a></li>
                        </ul>
                    </div>
                    <div class="col l3 offset-l2 s6">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://abakus.no/" target="_blank">Abakus</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://online.ntnu.no/" target="_blank">Online</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px;">
                    <div class="col l3 offset-l2 s12">
                        <a href="https://www.ntnu.no/ie/kid/" target="_blank"><img style="width: 180px;" src="{% static 'img/KiD_logo_white.png' %}"></a>
                    </div>
                    <div class="col l3 offset-l2 s12">
                        <a href="https://www.ntnu.no/idi/" target="_blank"><img style="width: 180px;" src="{% static 'img/IDI_logo_white.svg' %}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {% now "Y" %} Hackerspace NTNU
        </div>
    </div>
</footer>
