<footer id="footer" class="page-footer" style="background: var(--hs-gray);">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Hackerspace</h5>
        <p class="grey-text text-lighten-4">
          Har du spørsmål?<br>
          Ta kontakt via <a style="color: var(--hs-green);" href="mailto:hackerspace@idi.ntnu.no">hackerspace@idi.ntnu.no</a>
          eller kom innom!
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <!--<h5 class="white-text">Links</h5>-->
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/hackerspacentnu">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/hackerspace-ntnu/">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/hackerspace-ntnu/">Wiki</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Hackerspace NTNU
    <a class="grey-text text-lighten-4 right" href="http://ntnu.edu/idi/">IDI NTNU</a>
    </div>
  </div>
</footer>
