{% load staticfiles %}
<div class="section hs-green center">
</div>
<div class="section hs-gray center hide-on-med-and-down">
	<div class="content">
		<div class="row">
			<div class="col push-s4 pull-s4 s4">
					<ul class="sosial-bilder">
						<a href="https://hackerspace-ntnu.slack.com" target="_blank"><img class="rundt-bilde" src="{% static 'img/slack_icon.png' %}" title="Slack"></a>
						<a href="https://www.facebook.com/hackerspacentnu" target="_blank"><img class="rundt-bilde" src="{% static 'img/if_facebook_386622.svg' %}" title="Facebook"></a>
						<a href="https://github.com/hackerspace-ntnu/" target="_blank"><img class="rundt-bilde" src="{% static 'img/if_github_253591.svg' %}" title="GitHub"></a>
						<a href=https://www.instagram.com/hackerspacentnu/ target="_blank"><img class="rundt-bilde" src="{% static 'img/INSTAGRAM.svg' %}" title="Instagram"></a>
					</div>
			</div>
		</ul>
	</div>
</div>
<footer class="page-footer hs-gray">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l6">
				<h5 class="white-text">Hackerspace NTNU</h5>
				<blockquote>
					IT-Bygget, Sydfløy<br>
					Sem Sælands vei 7<br>
					7034 Trondheim<br>
				</blockquote>
			</div>
			<div class="col s12 m6 l6 hide-on-med-and-down">
				<h5 class="white-text">Hackerspace er støttet av</h5>
				<div class="center">
					<a href="https://www.ntnu.no/ie/kid/" target="_blank"><img style="width: 180px;" src="{% static 'img/KiD_logo_white.png' %}"></a>
					<a href="https://www.ntnu.no/idi/" target="_blank"><img style="width: 180px;" src="{% static 'img/IDI_logo_white.svg' %}"></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l6">
				<h5 class="white-text">Har du spørsmål?</h5>
				<blockquote>
					Ta kontakt via <a class="hs-green-text"  href="mailto:hackerspace-styret@idi.ntnu.no">hackerspace-styret@idi.ntnu.no</a>
					eller kom innom!
				</blockquote>
			</div>
		</div>
	</div>
	<div class="footer-copyright hs-green">
		<div class="container white-text">
			© {% now "Y" %} Hackerspace NTNU
		</div>
	</div>
</footer>
