{% load staticfiles %}
<div id="header-mobile">
    <div id="navbar">
        <a href="/"><img id="logo" src="{% static "img/logo_header.png" %}"/></a>
        <ul id="slide-out" class="side-nav">
            <li><a href="/news/all">NYHETER</a></li>
            <li><a href="/wiki">WIKI</a></li>
            {% if request.user.is_authenticated %}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">PROFIL
                              <img id="ddicon" src="{% static "img/ic_arrow_drop_down.svg" %}">
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/authentication/change-password">BYTT PASSORD</a></li>
                                    <li><a href="/authentication/logout">LOGG UT</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li><a href="/authentication/signup">REGISTRER</a></li>
                <li><a href="/authentication/login">LOGG INN</a></li>
            {% endif %}
        </ul>
        <!--<ul class="right">
            <li><a href="/news/all">NYHETER</a></li>
            <li><a href="/wiki">WIKI</a></li>
            {% if request.user.is_authenticated %}
                <li><a class="dropdown-button" href="#!" data-activates="userdropdown">PROFIL<img src="
            {% static "img/ic_arrow_drop_down.svg" %}"></a></li>
                <ul id='userdropdown' class='dropdown-content'>
                    <li><a href="/authentication/change-password">BYTT PASSORD</a></li>
                    <li><a href="/authentication/logout">LOGG UT</a></li>
                </ul>
            {% else %}
                <li><a href="/authentication/signup">REGISTRER</a></li>
                <li><a href="/authentication/login">LOGG INN</a></li>
            {% endif %}
        </ul>-->
        <div id="burger">
            <a href="#" data-activates="slide-out" class="button-collapse">
              <img id="ddicon" src="{% static "img/ic_menu.svg" %}"></img>
            </a>
        </div>
    </div>
    <script>
        $('.button-collapse').sideNav({
          menuWidth: "80%", // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
    </script>
    <div style="height: 10vh;"></div>
</div>
