{% load staticfiles %}
<header>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper hs-gray">
				<a href="/" class="brand-logo"><img src="{% static "/static/img/Hakcerspace_huge.png" %}"/></a>
				<a href="#" data-activates="mobile-sidebar" class="button-collapse"><i class="material-icons">menu</i></a>
				<!-- Dropdown user list for desktop-->
				<ul id="userdropdown" class="dropdown-content hs-gray-text">
					{% if request.user.is_authenticated %}
					<li><a href="/user/{{ request.user.id }}" data-activates="userdropdown">Profil</a></li>
					<li><a href="/authentication/change-password">Bytt Passord</a></li>
					<li><a href="/authentication/logout">Logg Ut</a></li>
					{% else %}
					<li><a href="/authentication/signup">Registrer</a></li>
					<li><a class="modal-trigger" href="#loginModal">Logg Inn</a></li>
					{% endif %}
				</ul>

				<ul id="resourcedropdown" class="dropdown-content hs-gray-text">
					<li><a href="/wiki">WIKI</a></li>
					<li><a href="{% url 'inventory:index' %}">INVENTAR</a></li>
					<li><a href="/about">OM OSS</a></li>
				</ul>

				<!-- Hovedmeny -->
				<ul class="right hide-on-med-and-down">
					<li id="news"><a href="/news/">NYHETER</a></li>
					<li id="events"><a href="/events/">ARRANGEMENTER</a></li>
					<li><a class="user-drop-desktop" href="#" data-activates="resourcedropdown">RESSURSER</a>
					</li>
					<li><a class="user-drop-desktop" href="#" data-activates="userdropdown">
							<i class="material-icons">account_circle</i></a>
					</li>
				</ul>
				<!-- Mobil dynamisk meny -->
				<ul class="side-nav" id="mobile-sidebar">
					<li><div class="user-view">-</div></li>
					<li><a class="subheader">Meny</a></li>
					<li><div class="divider"></div></li>
					<li><a href="{% url 'inventory:index' %}">Inventar</a></li>
					<li><a href="/news/all">Nyheter</a></li>
					<li><a href="/news/events">Arrangementer</a></li>
					<li><a href="/wiki">Wiki</a></li>
					<li><a href="/about">Om Oss</a></li>
					<li><div class="divider"></div></li>
					{% if request.user.is_authenticated %}
					<li><a href="#" data-activates="userdropdown">Profil</a></li>
					<li><a href="/authentication/change-password">Bytt Passord</a></li>
					<li><a href="/authentication/logout">Logg Ut</a></li>
					{% else %}
					<li><a href="/authentication/signup">Registrer</a></li>
					<li><a href="/authentication/login">Logg inn</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</div>
</header>
<div id="loginModal" class="modal">
	<div class="modal-content">
		{% include "login_modal.html" %}
	</div>
</div>

<script>
$(document).ready(function() {
	$('.user-drop-desktop').dropdown({
		inDuration: 300,
		outDuration: 225,
		constrain_width: false, // Does not change width of dropdown to that of the activator
		hover: true, // Activate on hover
		gutter: 0, // Spacing from edge
		belowOrigin: true, // Displays dropdown below the button
		alignment: 'left' // Displays dropdown with edge aligned to the left of button
	})
	$(".user-drop-mobile").dropdown();
	$(".button-collapse").sideNav();
	$('.modal').modal();
	switch(window.location.pathname) {
		case '/news/':
			$('#news').addClass('active')
			break;
		case '/events/':
			$('#events').addClass('active')
			break;
	}

});
</script>
