{% load staticfiles %}
{% load userprofile %}
{% load loginmodal %}
<header>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper hs-gray">
				<a href="/" class="brand-logo hide-on-med-and-down"><img src="{% static "/static/img/Hakcerspace_huge.png" %}"/></a>
				<a href="/" class="brand-logo mobile-img hide-on-large-only"> <img src="{% static "/static/img/Hakcerspace_huge.png" %}"/></a>

				<a href="#" data-activates="mobile-sidebar" class="button-collapse"><i class="material-icons">menu</i></a>
				<!-- Dropdown user list for desktop-->
				<ul id="userdropdown" class="dropdown-content hs-gray-text">
					{% if request.user.is_authenticated %}
					<li><a href="/user/{{ request.user.id }}" data-activates="userdropdown">Profil</a></li>
					<li><a href="/authentication/change-password">Bytt Passord</a></li>
					<li><a href="/authentication/logout">Logg Ut</a></li>
					{% else %}
					<li><a href="/authentication/signup">Registrer</a></li>
					<li><a class="modal-trigger" href="#loginModal">Logg Inn</a></li>
					{% endif %}
				</ul>

				<ul id="resourcedropdown" class="dropdown-content hs-gray-text">
					<li><a href="/wiki">WIKI</a></li>
					<li><a href="{% url 'inventory:index' %}">INVENTAR</a></li>
					<li><a href="/about">OM OSS</a></li>
				</ul>

				<!-- Hovedmeny -->
				<ul class="right hide-on-med-and-down valign-wrapper">
					<li id="news"><a href="/news/">NYHETER</a></li>
					<li id="events"><a href="/events/">ARRANGEMENTER</a></li>
					<li><a class="user-drop-desktop" href="#" data-activates="resourcedropdown">RESSURSER</a>
					</li>
					<li class="tooltipped" data-tooltip="Trykk meg for å se hvor vi befinner oss"><a class="modal-trigger " href="#mapModal">
							<i class="material-icons">map</i></a>
					{% if request.user.is_authenticated %}
					<li><a class="user-drop-desktop valign-wrapper" href="/user/{{ request.user.id }}" data-activates="userdropdown">
							<img class="center circle" style="height:64px; padding-bottom:16px; padding-top:16px;" src="/media/{% get_profile request.user.id 'image' %}" >
							</a>
					{% else %}
					<li><a class="user-drop-desktop" href="/authentication/login/" data-activates="userdropdown">
							<i class="material-icons">account_circle</i></a>
					{% endif %}
					</li>
				</ul>
				<!-- Mobil dynamisk meny -->
				<ul class="side-nav" id="mobile-sidebar">
					<li><div class="user-view">-</div></li>
					<li><a class="subheader">Meny</a></li>
					<li><div class="divider"></div></li>
					<li><a href="{% url 'inventory:index' %}">Inventar</a></li>
					<li><a href="/news/all">Nyheter</a></li>
					<li><a href="/news/events">Arrangementer</a></li>
					<li><a href="/wiki">Wiki</a></li>
					<li><a href="/about">Om Oss</a></li>
					<li><div class="divider"></div></li>
					{% if request.user.is_authenticated %}
					<li><a href="#" data-activates="userdropdown">Profil</a></li>
					<li><a href="/authentication/change-password">Bytt Passord</a></li>
					<li><a href="/authentication/logout">Logg Ut</a></li>
					{% else %}
					<li><a href="/authentication/signup">Registrer</a></li>
					<li><a href="/authentication/login">Logg inn</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</div>
</header>
<div id="loginModal" class="modal">
	<div class="modal-content">
		{% LoginModal %}
	</div>
</div>
<div id="mapModal" class="modal bottom-sheet hide-on-med-and-down">
	<div class="modal-content">
		<iframe width="100%" height="40vh" style="width:100%; height:40vh;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://use.mazemap.com/embed.html#v=1&zlevel=1&sharepoitype=poi&sharepoi=71922&campusid=1&left=10.4025634&right=10.4034720&top=63.4164831&bottom=63.4160984&utm_medium=iframe" style="border: 1px solid grey"></iframe>
	</div>
</div>
<script>
$(document).ready(function() {
	$('.user-drop-desktop').dropdown({
		inDuration: 300,
		outDuration: 225,
		constrain_width: false, // Does not change width of dropdown to that of the activator
		hover: true, // Activate on hover
		gutter: 0, // Spacing from edge
		belowOrigin: true, // Displays dropdown below the button
		alignment: 'left' // Displays dropdown with edge aligned to the left of button
	})
	$(".user-drop-mobile").dropdown();
	$(".button-collapse").sideNav();
	$('.modal').modal();
	switch(window.location.pathname) {
		case '/news/':
			$('#news').addClass('active')
			break;
		case '/events/':
			$('#events').addClass('active')
			break;
	}

});
</script>
