{% load staticfiles %}
<div id="header-mobile">
    <div id="navbar">
        <img id="logo" src="{% static "img/logo_header.png" %}"/>
        <ul id="slide-out" class="side-nav">
            <li><a href="#about">OM OSS</a></li>
            <li><a href="#events">EVENTS</a></li>
            <li><a href="#articles">ARTICLES</a></li>
            <li><a href="/wiki">WIKI</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">USER<img id="ddicon" src="{% static "img/ic_arrow_drop_down.svg" %}"></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/authentication/change-password">CHANGE PASSWORD</a>
                                </li>
                                <li><a href="/authentication/logout">LOGOUT</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="#about">OM OSS</a></li>
            <li><a href="#events">EVENTS</a></li>
            <li><a href="#articles">ARTICLES</a></li>
            <li><a href="/wiki">WIKI</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">USER<img src="{% static "img/ic_arrow_drop_down.svg" %}"></a></li>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="/authentication/change-password">CHANGE PASSWORD</a></li>
                <li><a href="/authentication/logout">LOGOUT</a></li>
            </ul>
        </ul>
        <div id="burger">
            <a href="#" data-activates="slide-out" class="button-collapse"><img id="ddicon" src="{% static "img/ic_menu.svg" %}"></img></a>
        </div>
    </div>
    <script>
        $('.button-collapse').sideNav({
            menuWidth: 800, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
          }
        );
    </script>
</div>
