<!--<body style="
    background-color: #eee;
    margin: 0 !important;
    padding: 0 !important;
">
<div style="
        width:100%;
        margin-top:50px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    ">
    {% if article_list %}
    {% for article in article_list %}
    <div style="
                background-color:#fff;
                width:360px;
                height:400px;
                margin: 10px;
                padding: 10px;
                position: relative;
                display: inline-block;
                vertical-align:top;
            ">
        <div style="
                    background-color:#ccc;
                    width:360px;
                    height:200px;
                ">
            <a href="/articles/{{ article.id }}">
                <div style="
                            background-image: url('https://avatars0.githubusercontent.com/u/6911383?v=3&s=200');
                            {% if thumbnail_list %}
                                {% for thumb in thumbnail_list %}
                                    {% if thumb.article_id == article.id %}
                                        background-image: url('{{ thumb.thumbnail_src }}');
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            display: inline-block;
                            width: 360px;
                            height: 200px;
                            background-position: center center;
                            background-size: cover;
                          ">
                </div>
            </a>
        </div>
        <a href="/articles/{{ article.id }}" style="text-decoration: none;">
            <p
                    align="center"
                    style="
                              font-size:{{ article.ingress_header_fontsize }};
                              color:{{ article.ingress_header_color }};
                              font-family:{{ article.ingress_header_fontfamily }};
                      ">
                {{ article.ingress_header_text }}
            </p>
        </a>

        <p align="center" style="
                      word-wrap:break-word;
                      font-size:{{ article.ingress_fontsize }}px;
                      color:{{ article.ingress_color }};
                      font-family:{{ article.ingress_fontfamily }};
                      padding:20px;
                      margin-top:-20px;
                  ">
            {{ article.ingress_text }}<br><br>
        </p>
        <a href="/articles/{{ article.id }}"
           style="
                      position:absolute;
                      bottom: 10px;
                      right: 10px;
                      color:{{ article.ingress_color }};
                      font-family:{{ article.ingress_fontfamily }};
                  ">
            Les mer...
        </a>
    </div>
    {% endfor %}
    {% endif %}
</div>
</body>-->

{% load staticfiles %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
{% if article_list %}
    {% for article in article_list %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img alt="..." src="{{ article.thumbnail.thumbnail_image }}" data-holder-rendered="true" style="height: 200px; width: 360px; display: block;">
                <div class="caption">
                    <h3 id="thumbnail-label">{{ article.ingress_header_text }}<a class="anchorjs-link"
                                                               href="index.html#thumbnail-label"><span
                            class="anchorjs-icon"></span></a></h3>

                    <p>{{ article.ingress_text }}</p>
                    <div style="height: 10px;"></div>
                    <p>
                        <!--<a href="index.html#" class="btn btn-primary" role="button">Button</a>
                        <a href="index.html#" class="btn btn-default" role="button">Button</a>-->
                        <a href="/articles/{{ article.id }}"
                            style="
                            position: absolute;
                            bottom: 24px;
                            right: 24px;
                            color:{{ article.ingress_color }};
                            font-family:{{ article.ingress_fontfamily }};
                            ">
                            Les mer...
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}