{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="filters" style="width:75%; margin:auto;">
<form>
    <div class="input-field">
	<label for="filter_days">Dager</label>
	<input id="filter_days" maxlength="100" name="dag" type="text" value="{{ dager }}"/>
    </div>
    <div class="input-field">
	<label for="filter_times">Tider</label>
	<input id="filter_times" maxlength="100" name="tid" type="text" value="{{ tider }}"/>
    </div>
    <div class="input-field">
	<label for="filter_persons">Personer</label>
	<input id="filter_persons" maxlength="100" name="person" type="text" value="{{ personer }}" onchange="condOption()" onfocus="condOption()"/>
    </div>
    <div class="switch" id="full_shift" style="visibility:hidden">
	<label for="full_shift">Kun matchende personer?</label>
	<label>
	    Nei
	    {% if full or personer == "" %}
	    <input id="full_shift_switch" name="full" type="checkbox">
	    {% else %}
	    <input id="full_shift_switch" name="full" type="checkbox" checked>
	    {% endif %}
	    <span class="lever"></span>
	    Ja
	</label>
    </div>
    <button id="filterButton" class="btn waves-effect waves-light" type="submit">Søk</button>
    </form>
</div>
<div id="filter_results" style="width:90%; margin: 0 auto">
    {% include "vakter.html" %}
</div>
    <script>
	function condOption(){
	    var filter_person = document.getElementById("filter_persons").value;
	    if(filter_person!=""){
		document.getElementById("full_shift").style.visibility="visible";
	    }
	    else{
		document.getElementById("full_shift").style.visibility="hidden";
		document.getElementById("full_shift_switch").checked=false
	    }
	}
	condOption()
    </script>
{% endblock content %}
