<div id="admin" style="
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    height: 42px;
    background-color: #E8DEC2;
    border: 1px solid #E5D8B3;
    ">
  <div style="margin-left:10px;">Admin tools:
    <button id="editBtn" type="button" style="margin:5px; height:30px;" onclick="edit()">Edit</button>
    <button id="cancelBtn" type="button" style="display:none; margin:5px; height:30px;" onclick="cancel()">Cancel</button>
    <button id="adminSiteBtn" type="button" style="margin:5px; height:30px;" onclick="adminPage()">Edit in admin</button>
    <button id="deleteBtn" type="button" style="margin:5px; height:30px;" onclick="del()">Delete</button>
    <button id="newBtn" type="button" style="margin:5px; height:30px;" onclick="createnew()">New</button>
  </div>
</div>
