{% extends "base.html" %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/card.css" %}">
{% endblock head %}

{% block header %}

{% endblock header %}

{% block content %}
  {% if request.user|has_group:"member" %}
      <a class='dropdown-button btn' href='#' data-activates='dropdown1' style="position: absolute; width: 100px; margin-left: 10px; margin-top: -40px;">New</a>
      <ul id='dropdown1' class='dropdown-content'style="position: absolute; width: 100px; margin-left: 10px; margin-top: -4px;">
      <li><a href="/news/article/0/edit">Artikkel</a></li>
      <li><a href="/news/event/0/edit">Event</a></li>
      </ul>
      <script>
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
          }
        );
      </script>
    {% endif %}
    {% include "news.html" %}
{% endblock content %}
