{% load staticfiles %}
{% load check_user_group %}
{% if article_list %}
    <style is="custom-style">
        paper-card{
            margin: 5px;
        }
        #top {
            height: 90px;
        }
        #title {
            font-size: 34px;
            text-align: center;;
        }
        .card-actions a {
            color: #4E4B46;
        }
        .card-actions a paper-button {
            width: 140px;
        }
        .admintools_card a paper-button{
            font-size: 12px;
            width: 80px;
            height: 30px;
            text-align: center;
        }
        .iron-image {
            height: 120px;
        }
        img {
            height: 120px;
        }
    </style>
    {% for article in article_list %}
        <paper-card
        {% if mobile %}
            style="width:90%;"
        {% else %}
            style="width:360px;"
        {% endif %}
        image="{{ article.thumbnail }}" href="/news/article/{{ article.id }}">
            <div class="card-content">
                <div id="top">
                    <div id="title">
                        {{ article.title }}
                    </div>
                </div>
                <div id="ingress">
                    {% autoescape off %}
                        {{ article.ingress_content }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="card-actions">
                <a href="/news/article/{{ article.id }}">
                    <paper-button>Les mer</paper-button>
                </a>
            </div>
            {% if request.user|has_group:"member" and not mobile %}
                <div class="admintools_card card-actions">
                    <a href="/news/article/{{ article.id }}/edit">
                        <paper-button>Edit</paper-button>
                    </a>
                    <!-- <a>
                        <paper-button>Publish</paper-button>
                    </a> -->
                    <a href="/admin/news/article/{{ article.id }}/delete/">
                        <paper-button>Delete</paper-button>
                    </a>
                </div>
            {% endif %}
        </paper-card>
    {% endfor %}
{% endif %}
