{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/news.css" %}">
{% endblock head %}

{% block content %}
  <div style="height: 50px;"></div>

  <div id="content">
      <div class="image-container">
          <img class="news-image" src="{{ article.thumbnail }}">
      </div>
      <h1>{{ article.title }}</h1>

      <hr class="news-hr">

      {% autoescape off %}
          {{ article.ingress_content }}
      {% endautoescape %}

      {% autoescape off %}
          {{ article.main_content }}
      {% endautoescape %}

  </div>
{% endblock content %}
