{% load staticfiles %}
{% load check_user_group %}

{% if request.user|has_group:"member" %}

{% include 'base.html' %}
{% load check_user_group %}
{% include 'admintools_news.html' %}

<div style="height: 50px;"></div>

<div id="edit">
  <div style="
        width:835px;
        min-height:400px;
        margin: 50px auto;
        margin-bottom: 100px;
    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/edit_news.css" %}">

    <form action="" method="post">
            {% csrf_token %}
            <div id="the_post">
                {{ form.media }}
                {{ form.as_p }}
            </div>
            <div class="outerButton"><input class="submitButton button" type="submit" value="Save"/></div>
     </form>

    <script src="{% static "js/edit_article.js" %}"></script>
  </div>
</div>

{% include 'footer.html' %}

{% endif %}
