{% load staticfiles %}
{% load check_user_group %}

{% if request.user|has_group:"member" %}

{% include 'base.html' %}
{% load check_user_group %}
{% include 'admintools_news.html' %}

<link rel="stylesheet" type="text/css" href="{% static "css/edit_news.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static "js/article.js" %}"></script>
<script>
  $('#cancelBtn').css('display', 'list-item');
  $('#editBtn').css('display', 'none');
  var $id = {{ article_id }};
  if ($id == 0) {
    $('#deleteBtn').css('display', 'none');
    $('#newBtn').css('display', 'none');
  }
</script>

<div style="height: 50px;"></div>

<div id="edit">
  <div style="
        width:835px;
        min-height:400px;
        margin: 50px auto;
        margin-bottom: 100px;
    ">
    <form action="" method="post">
            {% csrf_token %}
            <div id="the_post">
                {{ form.media }}
                {{ form.as_p }}
            </div>
            <div class="outerButton"><input class="submitButton button" type="submit" value="Save"/></div>
     </form>
  </div>
</div>

{% include 'footer.html' %}
{% endif %}
