{% extends 'base.html' %}
{% load staticfiles %}
{% load check_user_group %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/edit_news.css" %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock head %}

{% block content %}
    {% if request.user|has_group:"member" %}
        <div id="edit">
            <h2>Rediger artikkel</h2>
            <form action="" method="post">
                {% csrf_token %}

                {{ form.title.errors }}
                <div class="input-field">
                  <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                  {{ form.title }}
                </div>

                {{ form.ingress_content.errors }}
                <label>{{ form.ingress_content.label }}</label>
                {{ form.ingress_content }}

                {{ form.main_content.errors }}
                <label>{{ form.main_content.label }}</label>
                {{ form.main_content }}

                {{ form.thumbnail.errors }}
                <div class="input-field">
                  <label for="{{ form.thumbnail.id_for_label }}">{{ form.thumbnail.label }}</label>
                  {{ form.thumbnail }}
                </div>

                <p><label></label>
                  <img id="thumbnail_picker" alt="Klikk her for å velge bilde." src="" style="width:360px; height:200px;"></img>
                </p>

                <script type="text/javascript" src="{% static "js/thumbnail_picker.js" %}"></script>

                <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Lagre</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}
