{% load staticfiles %}
{% load check_user_group %}
{% include 'base.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
  var $id = {{ event.id }};
</script>
<script src="{% static "js/event.js" %}"></script>

<div style="height: 50px;"></div>

{% if request.user|has_group:"member" %}
    {% include 'admintools_news.html' %}
{% endif %}

<div id="content" style="
      width:600px;
      min-height: 300px;
      margin: 50px auto;
      margin-bottom: 100px;
  ">
    {% autoescape off %}
        {{ event.main_content }}
    {% endautoescape %}
    <br>
    Location: <a href="{{ event.place_href }}" target="_blank">{{ event.place }}</a>
    <br>
    Date: {{ event.time_start|date:"d/m/Y" }}, {{ event.time_start|date:"H:i" }} to {{ event.time_end|date:"H:i" }}
</div>

{% include 'footer.html' %}
