{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/news.css" %}">
{% endblock head %}

{% block content %}
  <div style="height: 50px;"></div>

  <div id="content">
      <div class="image-container">
          <img class="news-image" src="{{ event.thumbnail }}">
      </div>
      <h1>{{ event.title }}</h1>

      <hr class="news-hr">

      {% if event.place %}
          Location: <a href="{{ event.place_href }}" target="_blank">{{ event.place }}</a><br>
      {% endif %}
      Date: {{ event.time_start|date:"d/m/Y" }}, {{ event.time_start|date:"H:i" }} to {{ event.time_end|date:"H:i" }}

      {% autoescape off %}
          {{ event.ingress_content }}
      {% endautoescape %}

      {% autoescape off %}
          {{ event.main_content }}
      {% endautoescape %}

  </div>
{% endblock content %}
