{% load staticfiles %}
{% include 'base.html' %}

<link rel="import" href="{% static "bower/bower_components/paper-badge/paper-badge.html" %}">
<link rel="import" href="{% static "bower/bower_components/paper-button/paper-button.html" %}">
<link rel="import" href="{% static "bower/bower_components/paper-styles/paper-styles.html" %}">
<link rel="import" href="{% static "bower/bower_components/paper-card/paper-card.html" %}">
<link rel="import" href="{% static "bower/bower_components/paper-toast/paper-toast.html" %}">
<link rel="import" href="{% static "bower/bower_components/paper-icon-button/paper-icon-button.html" %}">
<link rel="import" href="{% static "bower/bower_components/paper-toast/paper-toast.html" %}">
<section id="events" class="events-section">
    <div class="container">
        <div class="row">
            <h1>Events</h1>
        </div>
        <br>
        <div class="row">
            {% include 'events.html' %}
        </div>
    </div>
</section>

{% include 'footer.html' %}
