<div class="cards">
    {% for event in event_list %}
        <div class="card-container">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="static/img/earth.png">
                </div>
                <div class="card-content">
                    <div class="top">
                        <div class=right>
                            <div class="event-title">
                                {{ event.title }}
                            </div>
                            <div class="place">
                                {{ event.time_start|date:"H:i"|upper }} at <a href="{{ event.place_href }}" target="_blank">{{ event.place }}</a>
                            </div>
                        </div>
                        <div class="date-label">
                            <div class="date">{{ event.time_start|date:"d" }}</div>
                            <div class="month">{{ event.time_start|date:"M"|upper }}</div>
                        </div>
                    </div>
                    <div class="ingress">
                        {% autoescape off %}
                            {{ event.ingress_content }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-grey btn-flat" href="#">Les mer</a>
                    <a class="waves-effect waves-grey btn-flat" href="#">Edit</a>
                    <a class="waves-effect waves-grey btn-flat" href="#">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for article in article_list %}
        <div class="card-container">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="static/img/earth.png">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ article.title }}</span>
                    {% autoescape off %}
                        {{ article.ingress_content }}
                    {% endautoescape %}
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-grey btn-flat" href="#">Les mer</a>
                    <a class="waves-effect waves-grey btn-flat" href="#">Edit</a>
                    <a class="waves-effect waves-grey btn-flat" href="#">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
