{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/button.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/input.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/uploadForm.css" %}">
{% endblock head %}

{% block content %}
  <form id="uploadForm" action="/news/upload-file/" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <div id="the_post">
          {{ form.media }}
          {{ form.as_p }}
      </div>
      <div class="outerButton"><input class="submitButton button" type="submit" value="Save"/></div>
  </form>
{% endblock content %}
