html {
	font-family: 'Open Sans', sans-serif !important;
}
h1, h2, h3, h4, h5, a {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 14px !important;
}
h1, h2, h3, h4, h5, a:hover {
	color: white !important;
	text-decoration: none !important;
}
h1, h2, h3, h4, h5, a:focus {
	color: white !important;
	text-decoration: none !important;
}
.dropdown-content li > a, .dropdown-content li > span {
	color: #5BBA47 !important;

}

/* Resize hackerspace-logoen */
.brand-logo img {
	width: 200px !important;
	height: 64px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.brand-logo {
	margin-left: 16px;
	height: 64px;
}
.thumb-img {
	width: auto;
	height: 250px;
}

/* Resize og posisjonering av header bilder */
.mobile-img {
	margin-left: 0px !important;
}
.mobile-img img {
	height: 56px;
}
.tab-img {
	margin-left: 0px !important;
}


/* Fix personlig profilbilde i navbaren */
.dropdown-trigger-user img {
	height: 64px;
	padding-bottom: 16px;
	padding-top: 16px; 
}
/* Få material icons til å vertikalt aligne med teksten */
.material-icons {
	vertical-align: middle !important;
	padding-bottom: 3px;
}

/* "Hackerspace er stengt / åpent */
.door {
	width: 100%;
	display: inline-block;
	text-align: center;
}


/* Social media icons */
.sosial-bilder a img {
	width: 42px !important;
	height: 42px !important;
	margin-right: 16px;
	border-radius: 8px !important;
}


