{% extends "base.html" %}
{% load material_form %}
{% load static %}

{% block nav_header %}
  Komiteer
{% endblock nav_header %}

{% block nav_sub_header %}
  Endre medlemmer
{% endblock nav_sub_header %}

{% block head %}
  <link href=" {% static '/autocomplete_light/vendor/select2/dist/css/select2.css' %}" type="text/css" media="all"
        rel="stylesheet"/>
  <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet"/>
  <script type="text/javascript" src="/static/smart-selects/admin/js/chainedfk.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/forward.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>

{% endblock %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="col s12 m12 l12">
        <div class="row">
          <form class="form" method='POST'>{% csrf_token %}
            {{ form.as_p }}
            <input class="btn" type='submit' value='Send!'/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block footer %}
  <script>
      $(document).ready(function () {
          $('select').material_select();
      });
      $(function () {
          $("#id_position").on("change", function () {
              $('select').material_select();
          })
      });
  </script>
{% endblock footer %}
