{% extends "base.html" %}
{% load thumbnail %}
{% load access %}

{% block nav_header %}
  Komiteer
{% endblock nav_header %}

{% block nav_sub_header %}
  Liste
{% endblock nav_sub_header %}

{% block header %}
  <style>
    .card-event-title {
      padding: 0px 10px;
      background-color: rgba(0, 0, 0, .2);
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
  <main>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row">
          <h3>Grupper</h3>
        </div>
        <div class="row">
          {% for committee in committees %}
            {% is_committee_admin request.user committee as admin_access %}
            {% if committee.visible or admin_access %}
              <div class="col s6 m6 l4">
                <div class="card small">
                  <div class="card-image">
                    <a class="img-a" href="{% url 'committees:view_committee' committee.slug %}">
                      <img class="activator" src="{{ committee.thumbnail.url }}">
                    </a>
                      <a href="{% url 'committees:view_committee' committee.slug %}">
                        <span class="card-title card-event-title">
                          <h4>{{ committee.name }}</h4>
                        </span>
                    </a>
                  </div>
                  <div class="card-content">
                    <p>
                      {{ committee.one_liner|safe }}
                    </p>
                  </div>
                  <div class="card-action">
                    <div class="valign-wrapper">
                      <a href="{% url 'committees:view_committee' committee.slug %}" class="hs-green">Detaljer</a>
                      <a href="mailto:{{ committee.email }}">
                        <i class="material-icons valign right small hs-green">email</i>
                      </a>
                      {% if admin_access %}
                        <a href="{% url 'committees:edit_committee' committee.slug %}" class="hs-green">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
