{% extends "base.html" %}
{% load thumbnail %}
{% load access %}

{% block content %}
  <main>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row">
          <h1 id="pageName">{{ committee.name }}</h1>
          <div class="col s12 m12 l8">
            <div class="image-container">
              <img class="news-image" src="{{ committee.thumbnail.url }}">
            </div>
          </div>
          <div class="col s12 m12 l4">
            <div class="card card-event">
              <div class="card-content">
                <div class="section" style="padding-top: 0;">
                  {% if can_edit %}
                    <div>
                      <a class="waves-effect waves-light btn" href="{% url 'committees:edit_members' committee.slug %}">Rediger
                        medlemmer</a>
                      <!-- Modal Trigger -->
                      <button data-target="modal1" class="btn modal-trigger">Legg til undergruppe</button>
                    </div>

                  {% endif %}
                  <div class="valign-wrapper">
                    <i class="material-icons valign left hs-green">people</i>
                    <h5 class="left-align">Medlemmer</h5>
                  </div>

                  <div id="subcommittees">
                    {% for subcommittee in committee.subcommittees.all %}
                      <!-- Hide committee link if user is not admin, or committee is not visible -->
                      {% is_committee_admin request.user subcommittee as admin_access %}
                      {% if subcommittee.visible or admin_access %}
                        <a href="{% url 'committees:view_committee' subcommittee.slug %}" class="hs-green"><b>{{ subcommittee.name }}</b></a>
                      {% else %}
                        <b>{{ subcommittee.name }}</b>
                      {% endif %}
                      <br>

                      {% for member in subcommittee.user_set.all %}
                        <a href="mailto:{{ member.email }}">
                          <div class="valign-wrapper">
                            <i class="material-icons valign left tiny hs-green">email</i>
                            <p class="black-text">{{ member.get_full_name }}</p>
                          </div>
                        </a>
                      {% endfor %}
                    {% endfor %}
                  </div>

                  {% if users %}
                    <b>Øvrige medlemmer</b>
                  {% endif %}
                  {% for user in users %}
                    <a href="mailto:{{ user.email }}">
                      <div class="valign-wrapper">
                        <i class="material-icons valign left tiny hs-green">email</i>
                        <p class="black-text">{{ user.get_full_name }}</p>
                      </div>
                    </a>
                  {% endfor %}
                </div>
                {% if committee.email %}
                  <div class="divider grey"></div>
                  <div class="section">
                    <a href="mailto:{{ committee.email }}">
                      <div class="valign-wrapper">
                        <i class="material-icons valign left tiny hs-green">email</i>
                        <p class="left-align black-text">Mail oss</p>
                      </div>
                    </a>
                    <p>{{ event.date|date:"j. F - H:i" }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <p class="flow-text">
          <strong>{{ committee.header|safe }}</strong>
        </p>
        <p class="flow-text">
          {{ committee.description|safe }}
        </p>
      </div>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Legg til undergruppe</h4>
          <form id="group-form">
            <div class="hidden" id="csrf">{% csrf_token %}</div>
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            <div id="subcommittee-errors"></div>
            <input placeholder="Gi gruppen et navn" id="{{ form.name.id_for_label }}" type="text" class="validate">
            <div class="input-field">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a class="modal-action waves-effect waves-green btn-flat" onclick="createGroup()">Legg til</a>
        </div>
      </div>

      <script>
          // Fixes csrf token for ajax post.
          ajaxSetup();

          $('.modal').modal();

          function createGroup() {
              var groupName = $('#{{ form.name.id_for_label }}').val().trim();
              $.ajax({
                  url: '{% url 'committees:view_committee' committee.slug %}',
                  method: 'POST',
                  data: {
                      name: groupName
                  },
                  success: function(result) {
                      if (result.errors) {
                          console.log(result.errors);
                          $('#subcommittee-errors').html('<p>'+ result.errors.name[0] + '</p>')
                      }
                      else {
                          $('.modal').modal('close');
                          $('#subcommittees').append('<a href="' + result.committee_url + '" class="hs-green"><b>'+ result.name + '</b></a>')
                      }
                  }
              })
          }
      </script>
    </div>
  </main>

{% endblock content %}
