{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
  <main>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="row">
          <h1 id="pageName">{{ committee.name }}</h1>
          <div class="col s12 m12 l8">
            {% thumbnail committee.image "1600" crop="center" as im %}
              <img class="responsive-img materialboxed" src="{{ im.url }}">
            {% endthumbnail %}
          </div>
          <div class="col s12 m12 l4">
            <div class="card card-event">
              <div class="card-content">
                <div class="section" style="padding-top: 0;">
                  <div class="valign-wrapper">
                    <i class="material-icons valign left hs-green">people</i>
                    <h5 class="left-align">Medlemmer</h5>
                  </div>
                  {% for member in members %}
                    <a href="mailto:
                        {% if member.position.email %}{{ member.position.email }}{% else %}{{ member.user.email }}{% endif %}">
                      <div class="valign-wrapper">
                        <i class="material-icons valign left tiny hs-green">email</i>
                        <p class="black-text">{{ member.username }}</p>
                      </div>
                    </a>
                  {% endfor %}
                </div>
                {% if committee.email %}
                  <div class="divider grey"></div>
                  <div class="section">
                    <a href="mailto:{{ committee.email }}">
                      <div class="valign-wrapper">
                        <i class="material-icons valign left hs-green">email</i>
                        <p class="left-align black-text">Mail oss</p>
                      </div>
                    </a>
                    <p>{{ event.date|date:"j. F - H:i" }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        {{ committee.description|safe }}
      </div>
    </div>
  </main>

{% endblock content %}
